<div class="main-div">
  <img src="assets/images/Asiamerica.png" alt="">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Recuperación de Contraseña </mat-card-title>
    </mat-card-header>
    <div class="log-in">
      <form class="" method="post" (ngSubmit)="forgotSend()">
        <div class="example-container">
          
          <mat-form-field>
            <input type="email" matInput placeholder="Ingrese email" [(ngModel)]="forgot.email" name="email" required>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
        <button mat-raised-button color="warn" (click) = "backLogin()">Volver</button>
      </form>
    </div>    
  </mat-card>
</div>
