<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Carga de Inv Inicial Bodega {{warehouse_name}}</h2>

		<form action="" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
			<div class="text-center">
			    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp" (change)="onFileChange($event)" multiple="false" id="file_input">
			    <small id="fileHelp" class="form-text text-muted text-left">Si tiene dudas con el archivo de carga masiva, puede descargar el archivo de ejemplo en la parte posterior.</small>
			</div>
			<h4 *ngIf="data_rows.length !== 0">Total de Registros Cargados: {{data_rows.length}}</h4>

			<div class="">
				<table class="table table-sm" *ngIf="data_rows.length !== 0">
				  <thead>
				    <tr>
				      <th scope="col">SKU</th>
				      <th scope="col">Descripción</th>
				      <th scope="col">Variante</th>
				      <th scope="col">Cantidad Contada</th>
				      <th scope="col">Fecha de Conteo</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr *ngFor="let row of data_rows">
					    <td>{{row.sku}}</td>
					    <td>{{row.description}}</td>
					    <td>{{row.variation}}</td>
					    <td>{{row.initial_stock}}</td>
					    <td>{{row.date_count}}</td>
					  </tr>
		  		</tbody>

				</table>
				<div class="text-center" *ngIf="data_rows.length === 0"><h1>No hay registros cargados.</h1></div>
				<button type="submit" class="btn btn-info float-right mb-4" *ngIf="data_rows.length !== 0"><i class="fas fa-check" ></i> Confirmar</button>

				<button type="button" class="btn btn-info float-right mb-4" *ngIf="!(data_rows.length !== 0)" (click)="location.back()"><i class="fas fa-check"></i> Volver</button>
				
				<button type="button" class="btn btn-warning float-right mb-4 mx-2" *ngIf="data_rows.length !== 0" (click)="cleanTable($event)"><i class="fas fa-eraser"></i> Limpiar</button>
			</div>
			
			
		</form>
		</div>
	</div>
</div>