<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3" *ngIf="channel==undefined">Carga de Ventas Groupon</h2>
		<h2 class="ml-3" *ngIf="channel!==undefined">Carga de Ventas Falabella</h2>

		<form action="" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
			<div class="text-center">
			    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp" (change)="onFileChange($event)" multiple="false" id="file_input">
			    <!-- <button type="button" class="btn btn-primary float-right mb-4" ><i class="fas fa-upload"></i>Subir</button> -->
			    <small id="fileHelp" class="form-text text-muted text-left">Recuerde que los archivos de carga son los mismos enviados o descargados por el canal (Groupon email y Falabella plataforma). Revisar siempre los datos cargados antes de confirmar</small>
			</div>
			<h4 *ngIf="data_rows.length !== 0">Total de Registros Cargados: {{data_rows.length}}</h4>

			<div class="">
				<table class="table table-sm" *ngIf="data_rows.length !== 0 && channel==undefined">
				  <thead>
				    <tr>
				      <th scope="col">Cupón (Id de Venta)</th>
				      <th scope="col">SKU - Groupon</th>
				      <th scope="col">Descripción</th>
				      <th scope="col">Precio Total de Venta</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr *ngFor="let row of data_rows">
					    <td>{{row.coupon}}</td>
					    <td>{{row.sku_groupon}}</td>
					    <td>{{row.description}}</td>
					    <td>{{row.total_sale | number: '1.'}}</td>
					  </tr>
		  		</tbody>

				</table>

				<table class="table table-sm" *ngIf="data_rows.length !== 0 && channel!=undefined">
				  <thead>
				    <tr>
				      <th scope="col">Fecha de Compra</th>
				      <th scope="col">N° de Orden (Id de Venta)</th>
				      <th scope="col">SKU</th>
				      <th scope="col">Descripcion</th>
				      <th scope="col">Cantidad</th>
				      <th scope="col">Fecha de Envío</th>
				      <th scope="col">Estado</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr *ngFor="let row of data_rows">
					    <td>{{row.date_sale}}</td>
					    <td>{{row.order_channel}}</td>
					    <td>{{row.sku}}</td>
					    <td>{{row.description}}</td>
					    <td>{{row.quantity}}</td>
					    <td>{{row.shipping_date}}</td>
					    <td>{{row.status}}</td>
					  </tr>
		  		</tbody>

				</table>

				<div class="text-center" *ngIf="data_rows.length === 0"><h1>No hay registros cargados.</h1></div>
				<button type="submit" class="btn btn-info float-right mb-4" [disabled] = "button_active" *ngIf="data_rows.length !== 0"><i class="fas fa-check"></i> Confirmar</button>
				<button type="button" class="btn btn-warning float-right mb-4 mx-2" *ngIf="data_rows.length !== 0" (click)="cleanTable($event)"><i class="fas fa-eraser"></i> Limpiar</button>
			</div>
			
			
		</form>
		</div>
	</div>
</div>