<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Distribución de Productos</h2>
    <div class="text-center">
      <mat-form-field class="mx-auto w-50">
            <input matInput placeholder="Ingresa sku, descripción o código de 7 dígitos" name="search" (keyup)="searchTerm$.next($event.target.value)">
          </mat-form-field><i class="fas fa-search"></i>
      </div>
			<!-- <select id="inputState" class="form-control w-25" name="category" [(ngModel)]="warehouse_id" (ngModelChange)="listData()">
        <option selected>Seleccione Bodega</option>
        <option [value] = "1">San Francisco B341</option>
        <option [value] = "2">San Francisco K402</option>
      </select>

			<div class="text-left">
        <h5>Bodega: {{data.name}}</h5>
        <h5>Dirección: {{data.address}}</h5>
        <h5>Metros Cuadrados: {{data.square_meters}}</h5>

			</div> -->
		<ngx-datatable
	         #myTable
	        class="bootstrap mb-3"
	        [headerHeight]="50"
	        [limit]="20"
	        [columnMode]="'force'"
	        [footerHeight]="50"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)='setPage($event)'
	        [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [sorts]="[{prop: 'empty_stock_date', dir: 'asc'}]"
	        [rows]="data">
		<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <ngx-datatable
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.product_code"
          *ngIf="row.product_code.length > 0"
          >
        <ngx-datatable-column name="SKU 7" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Modelo" prop="color_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Por entregar Real" prop="sales_pending">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Stock de Quiebre" prop="break_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total" prop="total">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Oficina" prop="office_stock">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column 
            *ngFor="let col of warehouses" 
            [name]="col.name">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
             <ng-container *ngFor="let stock of row.warehousedistribution">
              <span *ngIf="col.name == stock.name">{{stock.stock}}</span>
             </ng-container>
            </ng-template>
          </ngx-datatable-column>


        <ngx-datatable-column name="Por Traer" prop="to_bring">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

			</ng-template>
		</ngx-datatable-row-detail>

		<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          >
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template >
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              *ngIf="row.product_code.length > 0"
              (click)="toggleExpandRow(row, rowIndex)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="SKU 5" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Por entregar Real" prop="sale_pending">
          <ng-template ngx-datatable-cell-template let-value="value">
           {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Stock de Quiebre" prop="break_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total" prop="total">
          <ng-template ngx-datatable-cell-template let-value="value">
           {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Oficina" prop="office_count">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
           {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column 
            *ngFor="let col of warehouses" 
            [name]="col.name">
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
             <ng-container *ngFor="let stock of row.warehousedistribution">
              <span *ngIf="col.name == stock.name">{{stock.stock}}</span>
             </ng-container>
            </ng-template>
          </ngx-datatable-column>
        

        <ngx-datatable-column name="Por Traer" prop="to_bring">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
           {{value}}
          </ng-template>
        </ngx-datatable-column>

       
      </ngx-datatable>

				<button type="button" class="btn btn-primary float-right mb-4 ml-3" (click) = "createRetirementGuide(template)"><i class="fas fa-file-excel"></i> Crear Guía de Retiro</button>
        <button type="button" class="btn btn-success float-right mb-4 ml-3" (click) = "exportStockWareHouse()"><i class="fas fa-file-excel"></i> Exportar excel</button>
        <button type="button" class="btn btn-info float-right mb-4" (click) = "uploadStockWareHouse()"><i class="fas fa-file-excel"></i> Cargar Inv Inicial</button>
	</div>
</div>
</div>

<ng-template #template>
 <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Guía de Retiro de Bodega: {{data.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <select id="inputState" class="form-control w-25" name="category" [(ngModel)]="warehouse_id">
      <option selected>Seleccione Bodega</option>
      <option [value] = "1">San Francisco B341</option>
      <option [value] = "2">San Francisco K402</option>
    </select>

  <div class="container">
      <h6> Fecha de Retiro</h6>
      <input type="text"
         class="form-control text-center w-50"
         #dp="bsDatepicker"
         bsDatepicker
         [(ngModel)]="date_shipping_guide"
         name="date_shipping_guide"
         [minDate]="minDate"
         [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
      <h6> Ingrese Producto (SKU) a Retirar y Cantidad</h6>
      <div class="row">
        <div class="col-3">
          <input type="number" class="form-control w-75" id="inputEmail4" placeholder="SKU" [(ngModel)]="sku" name="sku">
        </div>
        <div class="col-3">
          <input type="number" class="form-control w-75" id="inputEmail4" placeholder="Cantidad" [(ngModel)]="quantity"  name="quantity">
        </div>
        <div class="col-3">
          <input type="number" class="form-control w-75" id="inputEmail4" placeholder="Cajas" [(ngModel)]="boxes"  name="boxes">
        </div>
        <div class="col-3">
       <button type="button" class="btn btn-primary" (click)="addProduct()"><i class="fas fa-share-square"></i> Añadir</button>
        </div>
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">SKU</th>
              <th scope="col">Descripción</th>
              <th scope="col">Código 7 Dígitos</th>
              <th scope="col">Modelo</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
              <th></th>
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor="let product of products_guide; index as i;">
              <th>{{product.sku}}</th>
              <td>{{product.description}}</td>
              <td>{{product.code_seven_digits == null ? '-':product.code_seven_digits}}</td>
              <td>{{product.color == null ? '-':product.color}}</td>
              <td>{{product.quantity}}</td>
              <td>{{product.unit_price}}</td>
              <td>{{product.total}}</td>
              <td (click)=removeProduct(i)><button type="button" class="btn btn-danger mx-2">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
     <button type="button" class="btn btn-sm btn-warning my-2 float-left" [disabled] ="products_guide.length == 0" (click)="generateGuide()"><i class="fas fa-share-square"></i> Generar Guía</button>

  </div>
</ng-template>
