<div class="main-div">
  <img src="assets/images/Asiamerica.png" alt="">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ingreso </mat-card-title>
    </mat-card-header>
    <div class="log-in">
      <form class="" action="index.html" method="post" (ngSubmit)="login()">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Usuario" [(ngModel)]="loginParams.username" name="username" required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Contraseña" [(ngModel)]="loginParams.password" name="password" required>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit" [disabled] = "busy">Entrar</button>
        <button mat-raised-button color="warn">Salir</button>
      </form>
    </div>
    <div class="helpers">
      <a routerLink="../forgot">¿Olvidó su contraseña?</a>
    </div>
  </mat-card>
</div>
