<div class="main-div">
  <img src="assets/images/Asiamerica.png" alt="">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Cambio de Contraseña </mat-card-title>
      <!-- {{change | json}} -->
    </mat-card-header>
    <div class="log-in">
      <form class="" method="post" (ngSubmit)="sendNewPassword()">
        <div class="example-container">
          
          <mat-form-field>
            <input type="password" matInput placeholder="Ingrese contraseña" [(ngModel)]="change.password" name="password" required>
          </mat-form-field>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirme contraseña" [(ngModel)]="change.confirm_password" name="confirm_password" required>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Enviar</button>
        <!-- <button mat-raised-button color="warn" (click) = "backLogin()">Volver</button> -->
      </form>
    </div>    
  </mat-card>
</div>
