.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.log-in{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
button{
  margin-left: 5px;
}
.mat-card-title{
  font-size: 1.4em;
  text-align: center;
}

.mat-card{
  width: 30%;
  color: rgba(0,0,0,0.87);
  height: 40%;
}
.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.helpers{
  text-align: center;
  margin-top: 20px;
}
.helpers a{
  text-decoration: none;
  color: #008CBA;
}
.helpers a:hover{
  text-decoration: underline;
}
