<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3 mt-3">SKU Canales de Venta</h2>
		<div class="form-group" id="documento_tributario">
        <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="all" name="channel" [(ngModel)]="params.channel" (ngModelChange)="filterType($event)" value="" class="custom-control-input" checked>
        <label class="custom-control-label" for="all">Todos</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  id="mercadolibre" [(ngModel)]="params.channel" (ngModelChange)="filterType($event)" name="channel" value="1" class="custom-control-input" >
        <label class="custom-control-label" for="mercadolibre">Mercadolibre</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  id="ripley" [(ngModel)]="params.channel" (ngModelChange)="filterType($event)" name="channel" value="3" class="custom-control-input" >
        <label class="custom-control-label" for="ripley">Ripley</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  id="linio"[(ngModel)]="params.channel" (ngModelChange)="filterType($event)" name="channel" value="5" class="custom-control-input" >
        <label class="custom-control-label" for="linio">Linio</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  id="falabella" [(ngModel)]="params.channel" (ngModelChange)="filterType($event)" name="channel" value="8" class="custom-control-input" >
        <label class="custom-control-label" for="falabella">Falabella</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  id="paris" [(ngModel)]="params.channel" (ngModelChange)="filterType($event)" name="channel" value="4" class="custom-control-input" >
        <label class="custom-control-label" for="paris">Paris</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio"  id="mercadoshop" [(ngModel)]="params.channel" (ngModelChange)="filterType($event)" name="channel" value="13" class="custom-control-input" >
        <label class="custom-control-label" for="mercadoshop">Mercadoshops</label>
      </div>
  </div>
  <div class="text-center">
      <mat-form-field class="mx-auto w-50">
            <input matInput placeholder="Ingresa sku canal, sku asiamerica o descripción" name="search" (keyup)="searchTerm$.next($event.target.value)">
          </mat-form-field><i class="fas fa-search"></i>
    </div>

  	<ngx-datatable
		 #myTable
		class="bootstrap mb-3"
		[headerHeight]="50"
		[limit]="50"
		[columnMode]="'force'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
    [externalPaging]="true"
    [count]="page.totalElements"
    [offset]="page.pageNumber"
    [limit]="page.size"
    (page)='setPage($event)'
		[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		[rows]="rows">
		<ngx-datatable-column name="SKU Canal" prop="sku_ripley">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="SKU Asiamerica" prop="sku_asiamerica">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Canal" prop="channel_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <button type="button" class="btn btn-success float-right mb-4 ml-2"><i class="fas fa-file-excel"></i> Exportar excel</button>
      <button type="button" class="btn btn-primary float-right mb-4" (click)="updateChannelsSKU($event)"><i class="fas fa-search"></i> Buscar SKU Nuevos</button>

	</div>
</div>