<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Inventario Empresa</h2>
    <h4 class="ml-3">Desde {{last_inventory}} al Día de Hoy</h4>
			
			<h2 class="float-right"></h2>
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku, descripción o código de 7 dígitos" name="search" (keyup)="searchTerm$.next($event.target.value)">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>
			<!-- {{rows | json}} -->
		<ngx-datatable
	         #myTable
	        class="bootstrap mb-3"
	        [headerHeight]="50"
	        [limit]="10"
	        [columnMode]="'force'"
	        [footerHeight]="50"
	        [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)='setPage($event)'
          [sorts]="[{prop: 'empty_stock_date', dir: 'asc'}]"
	        [rows]="rows">
		<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <!-- {{row.products | json}} -->
        <ngx-datatable
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.product_code"
          *ngIf="row.product_code.length > 0"
          >
        <ngx-datatable-column name="SKU 7" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Modelo" prop="color_description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="1. Inv. Inic. Oficina" prop="initial_stock">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="2. Inv. Inic. Bodegas" prop="initial_warehouse_stock">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="3. Comprado" prop="purchase_quantity">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.purchases_warehouse5}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="4. Vendido" prop="sale_quantity" >
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.sale_quantity}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="5. Queda por Entregar" prop="sale_pending">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span style="font-weight: bold">{{row.sale_pending}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="6. Total Disponible" prop="returns_as_new">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            <span style="font-weight: bold; color:red">{{row.initial_stock + row.initial_warehouse_stock + row.purchases_warehouse5 - row.sale_quantity - row.sale_pending}}</span>
          </ng-template>
        </ngx-datatable-column>
        
        <!-- <ngx-datatable-column name="Ingresos de Bodega" prop="retirements_warehouse">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Queda Oficina" prop="total_office">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            <span style="font-weight: bold">{{(row.initial_stock - row.sale_quantity + row.purchase_quantity + row.retirements_warehouse)}}</span>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Queda Bodegas" prop="warehouses_total">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span style="font-weight: bold">{{value}}</span>
          </ng-template>
        </ngx-datatable-column> -->

        

       <!--  <ngx-datatable-column name="Quedan" prop="weeks_sales">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            <span *ngIf="row.reset">{{row.quantity_reset - row.sale_quantity + row.purchase_quantity + row.returns_reaconditionated}}</span>
            <span *ngIf="!row.reset">{{(row.initial_stock - row.sale_quantity + row.purchase_quantity + row.retirements_warehouse)}}</span>
          </ng-template>
        </ngx-datatable-column> -->


        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="openModal(template, row)"
              >
            <i class="fas fa-redo-alt" ></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

			</ng-template>
		</ngx-datatable-row-detail>

		<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          >
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template >
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              *ngIf="row.product_code.length > 0"
              (click)="toggleExpandRow(row, rowIndex)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="SKU 5" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="1. Inv. Inic. Oficina" prop="initial_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="2. Inv. Inic. Bodegas" prop="initial_warehouse_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="3. Comprado" prop="purchase_quantity">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="4. Vendido" prop="sale_quantity">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="5. Queda por Entregar" prop="sale_pending">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <span style="font-weight: bold">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="6. Total Disponible" prop="available_total">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
           <span style="font-weight: bold; color:red">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Ingresos de Bodega" prop="retirements_warehouse">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Queda Oficina" prop="total_office">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span style="font-weight: bold">{{value}}</span>
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Queda Bodegas" prop="warehouses_total">
          <ng-template ngx-datatable-cell-template let-value="value">
            <span style="font-weight: bold">{{value}}</span>
          </ng-template>
        </ngx-datatable-column> -->

        

        <!-- <ngx-datatable-column name="D. Nuevo" prop="returns_as_new">
          <ng-template ngx-datatable-cell-template let-value="value">
            -
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="D. Desarme" prop="initial_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            -
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="D. Robo" prop="initial_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            -
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Perdida del Periodo" prop="initial_stock">
          <ng-template ngx-datatable-cell-template let-value="value">
            -
          </ng-template>
        </ngx-datatable-column> -->

        <!-- <ngx-datatable-column name="Quedan" prop="left">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
            <span style="color: red">{{(row.stock)}}</span>
          </ng-template>
        </ngx-datatable-column> -->

        <!-- <ngx-datatable-column name="Ventas semanales" prop="weeks_sales">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Semanas con stock" prop="available_stock_weeks">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha sin stock" prop="empty_stock_date">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>  -->    
      </ngx-datatable>

				<button type="button" *ngIf="rows.length !== 0" class="btn btn-success float-right mb-4" (click) = "exportStock()"><i class="fas fa-file-excel"></i> Exportar excel</button>
	</div>
</div>
</div>

<ng-template #template>
 <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Reinicio de Stock</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  <div style="display: inline-grid;">
      <span class="pull-left"><strong>Producto:</strong> {{product_selected.product_description}} </span>
    <span class="pull-left"><strong>Variante:</strong> {{product_selected.color_description}}</span>
    <span class="pull-left"><strong>Código:</strong> {{product_selected.code_seven_digits}}</span>
  </div>
  </div>
  <div class="modal-body">
  <h6> Ingrese Cantidad en Stock</h6>
    <input type="number" class="form-control" id="inputEmail4" placeholder="Ingrese Cantidad" [(ngModel)] = "quantity" name="quantity">
  
     <button type="button" class="btn btn-sm btn-primary my-2 float-left" (click)="resetStock()"><i class="fas fa-share-square"></i> Guardar</button>

  </div>
</ng-template>
