.low_stock{
	background: #dc3333;
	font-weight: bold;
}
.hiddenRow {
    padding: 0 !important;
	background-color: rgba(0, 0, 0, 0.075);
}
.pointer {
	cursor: pointer;
}

.color-square{
	width: 13px;
	height: 13px;
}