<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Carga Masiva de Precios (Falabella)</h2>

		<form action="" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
			<div class="text-center">
			    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp"  multiple="false" id="file_input" (change)="onFileChange($event)">
			    <small id="fileHelp" class="form-text text-muted text-left">Si tiene dudas con el archivo de carga masiva, puede descargar el archivo de ejemplo en la parte posterior.</small>
			</div>

			<div class="">

				<ngx-datatable
		        class='bootstrap mb-3'
		        [rows]='rows'
		        [columnMode]="'force'"
		        [headerHeight]="80"
		        [footerHeight]="70"
		        [rowHeight]="70"
		        [scrollbarV]="true" 
		        *ngIf="rows.length !== 0">
		        <ngx-datatable-column name="SKU" prop="sku">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> 
		       
		        <!-- <ngx-datatable-column name="Descripción" prop="description">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> -->
		        <ngx-datatable-column name="Precio Normal" prop="normal_price">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		        <ngx-datatable-column name="Precio Oferta" prop="offert_price">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		        <ngx-datatable-column name="Fecha de Inicio" prop="start_date">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		        <ngx-datatable-column name="Fecha de Culminación" prop="end_date">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		      </ngx-datatable>
				<div class="text-center" *ngIf="rows.length === 0"><h1>No hay registros cargados.</h1></div>
				<!-- <button type="button" class="btn btn-success float-left mb-4" (click)="downloadExampleExcel($event)"><i class="fas fa-file-excel" ></i> Archivo Excel de Ejemplo</button> -->
				<button type="submit" class="btn btn-info float-right mb-4" *ngIf="rows.length !== 0"><i class="fas fa-check" (click)="sendData($event)"></i> Confirmar</button>
				<button type="button" class="btn btn-warning float-right mb-4 mx-2" (click)="cleanTable($event)" *ngIf="rows.length !== 0"><i class="fas fa-eraser"></i> Limpiar</button>
			</div>
			
			
		</form>
		</div>
	</div>
</div>