.modal-header{
	background: #212121;;
	color: white;
}
.modal-header span {
	color: white;
}

.flag {
	&:hover {
	    color: green;
	}
}
.flag_selected{
	color:green;
	pointer-events: none;
  	cursor: default;
}
.multibulto{
	background-color: #3dc4da;
}
