<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">{{title}}</h2>
    <!-- {{params | json}} -->

		<label for="inputPassword4">Selecciona Canal</label>
	      <div class="form-group" id="documento_tributario">
		    <div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="all" name="channel" value="all" class="custom-control-input" (ngModelChange)="filterChannel($event)" checked>
			  <label class="custom-control-label" for="all">Todas</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="mercadolibre por acordar" name="channel" value="1 por acordar" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
			  <label class="custom-control-label" for="mercadolibre por acordar">ML Por acordar</label>
			</div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="mercadolibre con etiqueta" name="channel" value="1 con etiqueta" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="mercadolibre con etiqueta">ML con Etiqueta</label>
      </div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="ripley" name="channel" value="3" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
			  <label class="custom-control-label" for="ripley">Ripley</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="falabella" name="channel" value="8" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
			  <label class="custom-control-label" for="falabella">Falabella</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="groupon" name="channel" value="6" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
			  <label class="custom-control-label" for="groupon">Groupon</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="linio" name="channel" value="5" class="custom-control-input" (ngModelChange)="filterChannel($event)">
			  <label class="custom-control-label" for="linio">Linio</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="channel_selected" id="paris" name="channel" value="4" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
			  <label class="custom-control-label" for="paris">Paris</label>
			</div>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="yapo" name="channel" value="7" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="yapo">Yapo</label>
      </div>
			
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="cluboferta" name="channel" value="13" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="cluboferta">Mercadoshop</label>
      </div>

      
		  </div>
      <div class="form-group" id="no_products" *ngIf="title == 'Ingresar Códigos'">
        <div class="custom-control custom-radio custom-control-inline" >
        <input type="radio" [(ngModel)]="params.sale_of_product" id="no_product" name="sale_of_product" value="3" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="no_product">Sin Productos</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="params.sale_of_product" id="product" name="sale_of_product" value="2" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="product">Con Productos</label>
      </div>
      </div>
      <div class="form-group" id="no_products" *ngIf="title != 'Ingresar Códigos' && channel_selected === '1 por acordar'">
        <div class="custom-control custom-radio custom-control-inline" >
        <input type="radio" [(ngModel)]="params.shipping_type_sub_status" id="pending_to_be_agreed" name="shipping_sub_status" value="pendiente" class="custom-control-input" (ngModelChange)="filterChannel($event)">
        <label class="custom-control-label" for="pending_to_be_agreed">Pendientes</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="params.shipping_type_sub_status" id="face-to-face" name="shipping_sub_status" value="retiro presencial" class="custom-control-input" (ngModelChange)="filterChannel($event)">
        <label class="custom-control-label" for="face-to-face">Retiro presencial</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="params.shipping_type_sub_status" id="shipping_payment" name="shipping_sub_status" value="envío por pagar" class="custom-control-input" (ngModelChange)="filterChannel($event)">
        <label class="custom-control-label" for="shipping_payment">Envío por pagar</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <button type="button" class="btn btn-info btn-sm" (click)="updateSubStatus($event)"><i class="fas fa-sync-alt"></i> Actualizar</button>
      </div>
      </div>
		<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku, id de venta, descripción producto" name="search" (keyup)="searchTerm$.next($event.target.value)">
      		</mat-form-field><i class="fas fa-search"></i>
		</div>
    <div class="legend ">
      <span class="badge badge-primary multibulto">Multibulto</span>
      <span class="badge badge-danger mx-2 cancel">Cancelada - Envío Costoso</span>
    </div>

    <div class="alert alert-primary mt-2" role="alert" *ngIf="selected.length > 0">
      Ventas seleccionadas: {{selected.length}}
    </div>
		<ngx-datatable
	         #myTable
	        class="bootstrap mb-3"
	        [headerHeight]="50"
	        [limit]="25"
	        [columnMode]="'force'"
	        [footerHeight]="50"
	        [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [externalPaging]="true"
          [selected]="selected"
          [selectionType]="'checkbox'"
          [selectAllRowsOnPage]="false"
          (select)='onSelect($event)'
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [rowIdentity]="getId"
          [rowClass]="getRowClass"
          [limit]="page.size"
          (page)='setPage($event)'
	        [rows]="rows">

		<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <!-- {{row.products | json}} -->
        <ngx-datatable
           #myTable
          class="bootstrap mb-3 inside-table"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.products"
          >
        <ngx-datatable-column name="SKU" prop="product__sku" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="product__description" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column name="Código 7" prop="product_code__code_seven_digits" [width]="100">
          <ng-template ngx-datatable-cell-template let-rowSubIndex="rowIndex" let-rowIndex="rowGrandIndex" let-value="value">
            <span
              title="Double click to edit"
              (click)="editing[grandIndex + 'rowSubIndex' + '-product_code__code_seven_digits'] = true"
              *ngIf="!editing[grandIndex + (rowSubIndex.toString()) + '-product_code__code_seven_digits']">
              {{value == "" ? '--------': value}}

            </span>
            <input
              autofocus
              (change)="updateSubValue($event, 'product_code__code_seven_digits', rowSubIndex)"
              *ngIf="editing[grandIndex + (rowSubIndex.toString()) + '-product_code__code_seven_digits']"
              type="number"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad" prop="quantity" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Precio Unitario" prop="unit_price">
          <ng-template ngx-datatable-cell-template let-rowSubIndex="rowIndex" let-rowIndex="rowGrandIndex" let-value="value">
            <span
              title="Double click to edit"
              (click)="editing[grandIndex + 'rowSubIndex' + '-unit_price'] = true"
              *ngIf="!editing[grandIndex + (rowSubIndex.toString()) + '-unit_price']">
              {{value == "" ? '--------': value | number: '1.'}}

            </span>
            <input
              autofocus
              (change)="updateSubValue($event, 'unit_price', rowSubIndex)"
              *ngIf="editing[grandIndex + (rowSubIndex.toString()) + '-unit_price']"
              type="number"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <!-- <ngx-datatable-column name="Precio Unitario" prop="unit_price">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Total" prop="total" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number: '1.'}}
          </ng-template>
        </ngx-datatable-column>
          
      </ngx-datatable>

			</ng-template>
		</ngx-datatable-row-detail>
    <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [checkboxable]="true">
          </ngx-datatable-column>
		<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row, rowIndex)">
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Canal" prop="channel">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha de venta" prop="date_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha de envío" prop="shipping_date">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Hora de venta" prop="hour_sale_channel">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? '-':value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="N° de pedido" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Id venta" prop="order_channel">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value === "" ? '---------':value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Total" prop="total_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number: '1.'}}
          </ng-template>
        </ngx-datatable-column>
       
       <ngx-datatable-column name="Total Declarado" prop="total_declared">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              *ngIf="!editing[rowIndex + '-total_declared']">
              {{value === null ? '--------':value | number: '1.'}}

            </span>
            <input
              autofocus
              (change)="updateValue($event, 'total_declared', rowIndex)"
              *ngIf="editing[rowIndex+ '-total_declared']"
              type="number"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo de Documento" prop="document_type">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" >
             <span
              title="Double click to edit"
              (click)="editField($event,rowIndex, row)"
              *ngIf="!editing[rowIndex + '-document_type']">
              {{value == 'sdt' ? 'SDT':(value == '' ? '--------': value |titlecase)}}
            </span>
            <select
              *ngIf="editing[rowIndex + '-document_type']"
              (change)="editing[rowIndex + '-document_type'] = false"
              (change)="updateValue($event, 'document_type', rowIndex)"
              [value]="value">
              
              <option value="boleta manual">Boleta Manual</option>
              <option value="boleta electrónica">Boleta Electrónica</option>
              <option value="factura">Factura</option>
              <option value="sdt">SDT</option>
              <option value="boleta/transbank">Boleta/Transbank</option>
            </select>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="N° de Documento" prop="number_document">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">

            <span
              title="Double click to edit"
              (click)="editField($event,rowIndex, row)"
              *ngIf="!editing[rowIndex + '-number_document']">
              {{value === "" ? '--------':value}}

            </span>
            <input
              autofocus
              (change)="updateValue($event, 'number_document', rowIndex)"
              *ngIf="editing[rowIndex+ '-number_document']"
              type="number"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
		<ngx-datatable-column name="Estado de Orden" prop="channel_status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Estado de Envío" prop="shipping_status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
      <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="saveData(row)" >
            <i class="fas fa-save"></i></a>

            <!-- <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="deleteData(row)">
            <i class="fas fa-trash-alt" ></i></a> -->
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="openModal(template, row)"
              >
            <i class="fas fa-eye" ></i></a>

            <a
              class="mx-2 flag"
              [ngClass]="{'flag_selected': row.bill_fact}"
              href="javascript:void(0)"
              *ngIf="row.channel  === 'Mercadolibre'"
              (click)="flagBill(row, template4)">
            <i class="fas fa-flag" ></i></a>

            <a
              class="mx-2"
              href="javascript:void(0)"
              *ngIf="row.shipping_type_sub_status === 'envío por pagar' || row.channel  === 'Mercadoshop'"
              (click)="generateLabel(row)">
            <i class="fas fa-car" ></i></a>

          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <button type="button" [disabled]="disabled_button" class="btn btn-info float-right my-2" (click)="generateAll($event)" *ngIf="selected.length > 0"><i class="fas fa-check"></i> Generar manifiesto de ventas</button>
      <button type="button" class="btn btn-secondary float-right my-2 mx-2" (click)="selectDateGuide($event, template2, false)" *ngIf="selected.length > 0"><i class="fas fa-calendar-alt"></i> Generar guía de despacho</button>

      <button type="button" class="btn btn-secondary float-right my-2 mx-2" (click)="selectDateGuide($event, template2, true)" *ngIf="selected.length > 0"><i class="fas fa-file-invoice-dollar"></i> Generar facturas</button>

       <button type="button" class="btn btn-primary float-right my-2 mx-2" (click)="massiveLabelGeneration($event)" *ngIf="selected.length > 1 && params.shipping_type_sub_status === 'envío por pagar'"><i class="fas fa-tags"></i> Generar Etiquetas</button>
       <button type="button" class="btn btn-info float-right my-2" (click)="massiveBill($event, template3)"><i class="fas fa-check"></i> Boleta Masiva</button>



		</div>
	</div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Detalle de pedido N° {{sale_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  <span class="pull-left" *ngIf="sale_selected.order_channel !== null">#{{sale_selected.order_channel}}</span>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-6">
        <h6><i class="fas fa-edit"></i> Documento tributario: <span class="badge badge-secondary">{{sale_selected.document_type | titlecase }}</span></h6>
        <h6><i class="fas fa-code-branch"></i> Canal de venta: <span class="badge" [ngClass]="{ 
          'badge-mercadolibre': sale_selected.channel =='Mercadolibre', 
          'badge-ripley': sale_selected.channel =='Ripley', 
          'badge-paris': sale_selected.channel =='Paris', 
          'badge-linio': sale_selected.channel =='Linio', 
          'badge-groupon': sale_selected.channel =='Groupon', 
          'badge-yapo': sale_selected.channel =='Yapo', 
          'badge-falabella': sale_selected.channel =='Falabella', 
          'badge-mercadoshops': sale_selected.channel =='Mercadoshop', 
          'badge-cluboferta': sale_selected.channel =='Cluboferta', 
          'badge-presencial': sale_selected.channel =='Presencial', 
          'badge-extra_ml': sale_selected.channel =='Extra Mercadolibre', 
          'badge-otro_canal': sale_selected.channel =='Otro canal' 
        }">{{sale_selected.channel}}</span></h6>
        <h6><i class="fas fa-credit-card"></i> Forma de Pago: <span class="badge badge-dark" >{{sale_selected.payment_type | titlecase }}</span></h6>
        <ng-container *ngIf="sale_selected.channel == 'Falabella' && sale_selected.dimensions_sale">
          <h6><i class="fas fa-ruler-combined"></i> Alto: {{(sale_selected.dimensions_sale.height) ? (sale_selected.dimensions_sale.height):"-"}} Largo: {{(sale_selected.dimensions_sale.length) ? (sale_selected.dimensions_sale.length):"-"}}</h6>
          <h6><i class="fas fa-weight-hanging"></i> Ancho: {{(sale_selected.dimensions_sale.width) ? (sale_selected.dimensions_sale.width):"-"}} Peso: {{(sale_selected.dimensions_sale.weight) ? (sale_selected.dimensions_sale.weight):"-"}}</h6>
        </ng-container>
        </div>
        <div class="col-6">
      <h6><i class="fas fa-file-invoice"></i> N° de Documento: {{ (sale_selected.number_document) ? (sale_selected.number_document):"-"}}</h6>
      <h6><i class="fas fa-shipping-fast"></i> Responsable de envío: <span class="badge badge-starken">{{sale_selected.sender_responsable | titlecase }}</span></h6>
      <h6><i class="fas fa-question"></i> Estado canal: <span class="badge badge-primary">{{sale_selected.channel_status | titlecase }}</span></h6>
        </div>
        <div class="col-12">
          <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">SKU</th>
              <th scope="col">Descripción</th>
              <th scope="col">Código 7 Dígitos</th>
              <!-- <th scope="col">Modelo</th> -->
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col">Total</th>
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor="let product of sale_selected.products">
              <th>{{product.product__sku}}</th>
              <td>{{product.product__description}}</td>
              <td>{{product.product_code__code_seven_digits == null ? '-':product.product_code__code_seven_digits}}</td>
              <!-- <td>{{product.color == null ? '-':product.color}}</td> -->
              <td>{{product.quantity}}</td>
              <td>{{product.unit_price}}</td>
              <td>{{product.total}}</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <!-- <td></td> -->
              <td></td>
              <td>Total</td>
              <td>{{sale_selected.total_sale}}</td>
            </tr>

            
          </tbody>
        </table>
        </div>
        <div class="col-4">
          <h6><i class="fas fa-comment"></i> Comentarios:</h6>
          <p class="text-justify">{{sale_selected.comments}}</p>
        </div>
        <div class="col-8 d-block text-center"> 
          <button type="button" class="btn btn-info mx-1" (click)="editSale(sale_selected.id)"><i class="fas fa-pencil-alt"></i> Editar</button>
          <!-- <button type="button" class="btn btn-primary mx-1" *ngIf="!sale_selected.bill && sale_selected.number_document === null && (sale_selected.document_type === 'boleta electrónica' || sale_selected.document_type === '' || sale_selected.document_type === 'sdt')" (click)="generateBill(sale_selected)"><i class="fas fa-ticket-alt"></i> Emitir Boleta</button> -->
          <button type="button" class="btn btn-danger mx-1" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
          <!-- <p class="mt-2" *ngIf="sale_selected.bill"><strong>Nota: </strong>Esta venta posee boleta electrónica.</p> -->

        </div>
        <!-- <div class="col-8 offset-4 text-right" *ngIf="sale_selected.bill">
        </div> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" *ngIf="!paris">Fecha Guía de Despacho</h4>
    <h4 class="modal-title pull-left w-100" *ngIf="paris">Fecha Facturas</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <input type="text"
     class="form-control text-center"
     #dp="bsDatepicker"
     bsDatepicker
     [(ngModel)]="date_shipping_guide"
     name="date_shipping_guide"
     [minDate]="minDate"
     [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">


      <div class="custom-control custom-radio custom-control-inline" *ngIf="!paris">
          <input type="radio" [(ngModel)]="address_falabella" id="lo_espejo" name="address_falabella" value="lo espejo" class="custom-control-input" checked>
          <label class="custom-control-label" for="lo_espejo">Lo Espejo</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline" *ngIf="!paris">
          <input type="radio" [(ngModel)]="address_falabella" id="camino" name="address_falabella" value="camino" class="custom-control-input" >
          <label class="custom-control-label" for="camino">Camino Interior</label>
        </div>

     <button type="button" [disabled]="disabled_button" class="btn btn-info my-3 float-right" (click)="generateGuide(event)" *ngIf="!paris"><i class="fas fa-truck"></i> Generar Guía</button>
     <button type="button" class="btn btn-info my-3 float-right" (click)="generateGuide(event)" *ngIf="paris"><i class="fas fa-file-invoice-dollar"></i> Generar Facturas</button>
  </div>
</ng-template>

<ng-template #template3>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" *ngIf="!paris">Subir Archivo de Manifiesto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp"  multiple="false" id="file_input" (change)="onFileSelected($event)">
    <label for="inputPassword4">Selecciona Canal</label>
        <div class="form-group" id="documento_tributario">
          <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="channel_selected_manifiesto" id="ripley_manifiesto" name="channel_manifiesto" value="Ripley" class="custom-control-input" checked>
          <label class="custom-control-label" for="ripley_manifiesto">Ripley</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="channel_selected_manifiesto" id="ml_manifiesto" name="channel_manifiesto" value="Mercadolibre" class="custom-control-input" >
          <label class="custom-control-label" for="ml_manifiesto">Mercadolibre</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" [(ngModel)]="channel_selected_manifiesto" id="linio_manifiesto" name="channel_manifiesto" value="Linio" class="custom-control-input" >
          <label class="custom-control-label" for="linio_manifiesto">Linio</label>
        </div>
      </div>
     <button type="button" [disabled]="disabled_button" class="btn btn-info my-3 float-right" (click)="massiveBillFromManifiesto(event)"><i class="fas fa-truck"></i> Subir Archivo</button>
  </div>
</ng-template>


<ng-template #template4>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" *ngIf="!paris">Datos Facturación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="form-group" id="documento_tributario">
          <div class="form-group col-6">
            <label for="inlineFormInputName" class="m-2">R.U.T (Obligatorio)</label>
            <input type="text" [(ngModel)]="rut_client" class="form-control" id="inputEmail4" placeholder="Ingrese Rut" name="rut_client">
          </div>
          <div class="form-group col-6">
            <label for="inlineFormInputName" class="m-2">Correo (Optativo)</label>
            <input type="text" [(ngModel)]="email_client" class="form-control" id="inputEmail4" placeholder="Ingrese correo" name="email_client">
          </div>
      </div>
     <button type="button" class="btn btn-info my-3 float-right" (click)="addFlagToSale()"><i class="fas fa-paper-plane"></i> Enviar</button>
  </div>
</ng-template>
