<div class="container-fluid">
	<div class="row">
		<div class="col-11 offset-1">
			<h2 class="ml-3 my-3">Manifiestos Históricos</h2>
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa n° de manifiesto o nombre de usuario" name="search" (keyup)="searchTerm$.next($event.target.value)">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>

		<ngx-datatable
			#myTable
			class="bootstrap mb-3"
			[headerHeight]="50"
			[limit]="50"
			[columnMode]="'force'"
			[footerHeight]="50"
			[rowHeight]="'auto'"
			[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
      [externalPaging]="true"
      [count]="page.totalElements"
      [offset]="page.pageNumber"
      [limit]="page.size"
      (page)='setPage($event)'
			[rows]="rows">

        <ngx-datatable-column name="N° de Manifiesto" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha de Creación" prop="date_created_format">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Usuario" prop="user_created_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="downloadFile(row.id)"
              >
            <i class="fas fa-file-pdf" ></i></a>

          </ng-template>
        </ngx-datatable-column>
 
      </ngx-datatable>
  </div>
</div>
</div>