<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-auto">
      <form action="" method="post" (ngSubmit)="registerReturn()" #f="ngForm" ngNativeValidate>
        <div class="form-row">
          <div class="col-6"><h1>Nueva Devolución</h1>
          </div>
         <!-- <div class="col-2 d-inherit m-2">
            <label for="" class="mx-2 mt-1">Usuario</label>
            <input type="text" class="form-control" id="user" name="user" placeholder="{{user}}" [disabled]='true'>
          </div>-->
          <div class="col-2 d-inherit m-2">
            <label for="" class="mx-2 mt-1">Fecha Ingreso</label>
            <input type="text" class="form-control text-center" #dp="bsDatepicker" bsDatepicker name="date_sale" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" autocomplete="off" [(ngModel)]="register.admission_date">
          </div>
        </div>
        <!-- {{register | json}} -->
        <div class="form-row">
          <div class="form-group col-5 mb-0">
            <!-- <label for="">Pedido</label><br> -->
            <label for="inputPassword4"><strong>Ingreso de producto</strong></label>
            <div class="form-group" id="courier_type">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="courier" name="courier" value="courier" class="custom-control-input" [(ngModel)]="register.courier_selected" (ngModelChange)="filterChannelType($event)">
                <label class="custom-control-label" for="courier">Courier</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="presential" name="courier" value="presential" class="custom-control-input" [(ngModel)]="register.courier_selected" (ngModelChange)="filterChannelType($event)">
                <label class="custom-control-label" for="presential">Presencial</label>
              </div>
            </div>
            <label for="inputPassword4"><strong>Estado empaque</strong></label>
            <div class="form-group" id="package_status">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="intac" name="package" value="intacto" class="custom-control-input" [(ngModel)]="register.status_package">
                <label class="custom-control-label" for="intac">Intacto</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="manipulated" name="package" value="manipulado" class="custom-control-input" [(ngModel)]="register.status_package">
                <label class="custom-control-label" for="manipulated">Manipulado</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="transportation_problem" name="package" value="deterioro en transporte" class="custom-control-input" [(ngModel)]="register.status_package">
                <label class="custom-control-label" for="transportation_problem">Deterioro en transporte</label>
              </div>
              
            </div>
            <label for="inputPassword4"><strong>Estado Caja</strong></label>
            <div class="form-group" id="status_box">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="intac2" name="box" value="intacta" class="custom-control-input" [(ngModel)]="register.status_box">
                <label class="custom-control-label" for="intac2">Intacta</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="manipulated2" name="box" value="manipulada" class="custom-control-input" [(ngModel)]="register.status_box">
                <label class="custom-control-label" for="manipulated2">Manipulada</label>
              </div>
              
            </div>
            <label for="inputPassword4"><strong>Estado Producto</strong></label>
            <div class="form-group" id="status_product">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="intac3" name="status_product" value="intacto" class="custom-control-input" [(ngModel)]="register.status_product">
                <label class="custom-control-label" for="intac3">Intacto</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="manipulated3" name="status_product" value="manipulado" class="custom-control-input" [(ngModel)]="register.status_product">
                <label class="custom-control-label" for="manipulated3">Manipulado</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="used_no_observation" name="status_product" value="con uso sin observación" class="custom-control-input" [(ngModel)]="register.status_product">
                <label class="custom-control-label" for="used_no_observation">Con uso, sin observación</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="used_mistreated" name="status_product" value="con uso maltratado" class="custom-control-input" [(ngModel)]="register.status_product">
                <label class="custom-control-label" for="used_mistreated">Con uso, maltratado</label>
              </div>
              
            </div>
            <div class="form-group w-100 m-0">
            <label for="inputPassword4" class="mr-2"><strong>¿Boleta?  </strong></label>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="yes" name="bill" value="yes" class="custom-control-input" [(ngModel)]="register.bill_receive">
                <label class="custom-control-label" for="yes">Si</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="no" name="bill" value="no" class="custom-control-input" [(ngModel)]="register.bill_receive">
                <label class="custom-control-label" for="no">No</label>
              </div>
             <label for="inputPassword4" class="mr-2"><strong>  ¿Faltante?  </strong></label>
              
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="yes2" name="missing" value="yes" class="custom-control-input" [(ngModel)]="register.missing">
                <label class="custom-control-label" for="yes2">Si</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="no2" name="missing" value="no" class="custom-control-input" [(ngModel)]="register.missing">
                <label class="custom-control-label" for="no2">No</label>
              </div>
              
            </div>
            <label for="">Id de Venta, N° de documento o N° de Rastreo</label>
            <input type="number" class="form-control w-75" id="inputEmail4" placeholder="Id de Venta" name="order_channel" [(ngModel)]="register.order_channel">
          </div>

          <div class="form-group col-7 mb-0" *ngIf="register.courier_selected === 'courier'">
            <label for=""><strong>Seleccione Courier</strong></label><br>
            <div class="form-group">
              <div class="custom-control custom-radio custom-control-inline mt-1" *ngFor="let courier of couriers">
                <input type="radio" id="{{courier.name}}" name="canal" class="custom-control-input" value="{{courier.id}}" [(ngModel)]="register.courier_id">
                <label class="custom-control-label" for="{{courier.name}}"><img class="m-1" src="{{courier.logo}}" alt="" width="120" height="120"></label>
              </div>
            </div>
          </div>

		<div class="form-group col-7 mb-0" *ngIf="register.courier_selected === 'presential'">
            <label for=""><strong>Datos cliente</strong></label><br>
            <div class="form-group">
              <label for="inlineFormInputName" class="mt-1">Nombre</label>
            	<input type="text" class="form-control w-50" id="inputEmail4" placeholder="Ingrese nombre" name="name"  [(ngModel)]="register.client.name">

            	<label for="inlineFormInputName" class="mt-1">Correo</label>
            	<input type="email" class="form-control w-50" id="inputEmail4" placeholder="Ingrese correo electrónico" name="email" [(ngModel)]="register.client.email">

            	<label for="inlineFormInputName" class="mt-1">Teléfono</label>
            	<input type="text" class="form-control w-50" id="inputEmail4" placeholder="Ingrese Teléfono" name="phone" [(ngModel)]="register.client.phone">

            </div>
          </div>

        </div>
        <div class="form-row mt-3">
          
          <!-- <div class="form-group col-2  d-inherit">
            <label for="inlineFormInputName" class="m-2">Total</label>
            <input type="number" class="form-control" id="inputEmail4" placeholder="Total" name="total" min="0" step="0.1" (ngModelChange)="setUnitPrice($event)">
          </div> -->
          <!-- {{ sales | json}} -->
          <div class="form-group col-10">
            <button type="button" class="btn btn-success mx-1" (click)="addProducts()">Buscar Productos</button>
            <button type="button" class="btn btn-primary mx-1" (click)="searchProduct(template)">Agregar Productos</button>
            <ng-container *ngFor="let sale of sales">
              <button type="button" class="btn btn-outline-secondary mx-2" (click)="selectProduct(sale)">{{sale.channel_name}} - {{sale.order_channel}}</button>
            </ng-container> 
            <!-- <button type="button" class="btn btn-info mx-2" (click)="searchName(template)">Buscar por Nombre</button>
            <button type="button" class="btn btn-dark mx-2">Código de Barra</button> -->
          </div>
        </div>
        <div class="col-11">
          <ngx-datatable 
          #myTable class="bootstrap mb-3" 
          [headerHeight]="50" 
          [limit]="200" 
          [columnMode]="'force'" 
          [footerHeight]="50" 
          [rowHeight]="'auto'" 
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}" 
          [rows]="products">
            <ngx-datatable-column name="SKU" prop="sku">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Descripción" prop="description">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Código 7" prop="code_seven_digits">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value == '' ? "-":value }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Variante" prop="color">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value == '' ? "-":value}}
              </ng-template>
            </ngx-datatable-column>

          <ngx-datatable-column name="Cantidad" prop="quantity">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-quantity'] = true"
              *ngIf="!editing[rowIndex + '-quantity']">
              {{value == '' ? '-': value}}
            </span>

            <input
              autofocus
              (blur)="updateValue($event, 'quantity', rowIndex)"
              *ngIf="editing[rowIndex+ '-quantity']"
              type="number"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>
		<ngx-datatable-column name="Accesorios (Listar)" prop="accesories">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-accesories'] = true"
              *ngIf="!editing[rowIndex + '-accesories']">
              {{value == '' ? '-': value}}
            </span>

            <textarea
              autofocus
              cols="40"
              rows="4"
              (blur)="updateValue($event, 'accesories', rowIndex)"
              *ngIf="editing[rowIndex+ '-accesories']"
              type="text"
              [value]="value"
            ></textarea>
          </ng-template>

        </ngx-datatable-column>

            <ngx-datatable-column [width]="50" [sortable]="false" [draggable]="false" [canAutoResize]="false">
              <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "removeProduct(rowIndex)"
              >
            <i class="fas fa-minus-circle" ></i></a>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>

        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
          <p>
            <label class="upload-button">
              <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple #file_input> 
            </label>
           
          </p>
        </div>
        <div class="images-list" *ngIf="files.length > 0">
          <div class="upload-item" *ngFor="let f of files; let i = index;">

          <div class="upload-item-content">
            <div class="filename">
              <div class="filename-left">
                <i class="fas fa-images"></i>
                <span><strong>{{ f.name }}</strong></span>
              </div>
              <div class="filename-right">
                <i class="ionicon ion-close-round" (click)="cancelUpload(f.id)"></i>
              </div>
            </div>
          </div>
        </div>
        </div>
        <button type="submit" class="btn btn-sm btn-warning mt-2" (click)="removeAllFiles()" *ngIf="files.length > 0">Limpiar</button>
        




        <div class="form-row">
				<div class="form-group col-5">
	    		 <label for="">Motivo de Devolución (Cliente)</label><br>
	    		 <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="register.client_comment" name="client_comment" required></textarea>
								
				</div>
				<div class="form-group col-7">
	    		    <label for="">Solicitud Cliente</label><br>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="return_money" name="client_request" class="custom-control-input" value="devolución del dinero" [(ngModel)]="register.client_request">
				  <label class="custom-control-label" for="return_money">Devolución del dinero</label>
				</div>
				
				
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="free_repair" name="client_request" class="custom-control-input" value="reparación gratuita" [(ngModel)]="register.client_request">
				  <label class="custom-control-label" for="free_repair">Reparación gratuita</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="change_product" name="client_request" class="custom-control-input" value="cambio del producto" [(ngModel)]="register.client_request">
				  <label class="custom-control-label" for="change_product">Cambio del producto</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="retract" name="client_request" class="custom-control-input" value="retracto" [(ngModel)]="register.client_request">
				  <label class="custom-control-label" for="retract">Retracto (Solo 10 días hábiles)</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="none" name="client_request" class="custom-control-input" value="ninguno" [(ngModel)]="register.client_request">
				  <label class="custom-control-label" for="none">Ninguna</label>
				</div>
				</div>
				<div class="form-group col-6">
					<label for="inputEmail4">Comentarios</label>
			      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="register.comment" name="comment" required></textarea>
				</div>
				

				<div class="form-group col-6 pt-4">
					<button type="submit" class="btn btn-success btn-lg" >Registrar</button>
					<!-- <button type="submit" class="btn btn-info btn-lg" *ngIf="new_data !== undefined">Actualizar</button> -->
					<!-- <button type="button" class="btn btn-warning my-2 mx-1" (click)="cleanForm()">Limpiar</button> -->
					<!-- <button type="button" class="btn btn-secondary my-2 mx-1" (click)="location.back()">Volver</button> -->
					<!-- <button type="button" class="btn btn-danger mx-1" (click)="backLogin()">Cerrar</button> -->
				</div>
			</div>
      </form>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Indique Nombre del Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <form>
    <div class="form-group">
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre del producto o sku" (keyup)="searchTerm$.next($event.target.value)">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
  </form>
  <ngx-datatable
    #myTable
    class="bootstrap mb-3"
    [headerHeight]="50"
    [limit]="50"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
    [rows]="rows_products">


        <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
          

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="selectUnitProduct(template2,row)"
              >
            <i class="fas fa-plus" ></i></a>
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header header-nested">
    <h5 class="modal-title pull-left">Seleccione variante del producto</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
  <ngx-datatable
    #myTable2
    class="bootstrap mb-3"
    [headerHeight]="50"
    [limit]="50"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
    [rows]="rows2">

        <ngx-datatable-column name="Código 7 dígitos" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Variante" prop="color__description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="selectVariation(row)"
              >
            <i class="fas fa-check" ></i></a>
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

  </div>
</ng-template>
