.dndList{
	height: 300px;
	overflow-y:auto;
	// min-height: 300px !important;
}
// .dndListMach {
// 	height: 100px !important;
// 	margin: 0 auto;
// }
.success_money{
    background-color: rgba(24, 88, 23, 0.5) !important;

}
.wrong_money{
	background-color: rgba(177, 69, 69, 0.94) !important;
}
.cursor{
	cursor: pointer;
}
.list-group-item-retail {
	background-color: #e4f7ca;
}
.list-group-item-bank {
	background-color: #f1fd8e;
}

.cross-card {
	height: 200px !important;
	width: 50%;
	margin: 0 auto;
}

.selected{
	background-color: #007bff;
	color: #fff;
}

.no-cursor{
	cursor: default;;
}

