<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Cruce de datos</h2>
		<div class="row">
			<div class="col-6">
				<div class="card">
				  <div class="card-header">
				    Liquidaciones
				  </div>
			         <ul class="list-group list-group-flush dndList">

			        <li *ngFor="let item of retail_payments"
						[dndDraggable]="item"
						[dndDisableIf]="disable_retail_pay"
						class="list-group-item list-group-item-retail"
						[ngClass]="!disable_retail_pay ? 'cursor': ''" 
						(dndStart)="onDragStart($event)"
						(dndCopied)="onDragged(item, retail_payments, 'copy')"
						(dndLinked)="onDragged(item, retail_payments, 'link')"
						(dndMoved)="onDragged(item, retail_payments, 'move')"
						(dndCanceled)="onDragged(item, retail_payments, 'none')"
						(dndEnd)="onDragEnd($event)">

			            {{item.bill_register}} - {{item.date_payment | date: 'dd-MM-yyyy'}} - {{item.channel_name}} - {{item.total_payment_retail}}
			        </li>
		         	</ul>
				</div>				
			</div>
			<div class="col-6">
				<div class="card">
				  <div class="card-header">
				    Cartolas
				  </div>
			         <ul class="list-group list-group-flush dndList">

			        <li *ngFor="let item of bank_report_pending"
			                       [dndDraggable]="item"
			                       [dndDisableIf]="disable_bank_report"
			                       class="list-group-item list-group-item-bank" 
			                       [ngClass]="!disable_bank_report ? 'cursor': ''" 
			                       (dndStart)="onDragStart($event)"
			                       (dndCopied)="onDragged(item, bank_reports, 'copy')"
			                       (dndLinked)="onDragged(item, bank_reports, 'link')"
			                       (dndMoved)="onDragged(item, bank_reports, 'move')"
			                       (dndCanceled)="onDragged(item, bank_reports, 'none')"
			                       (dndEnd)="onDragEnd($event)">
			          
			          {{item.bank_register}} - {{item.date_report | date: 'dd-MM-yyyy'}} - {{item.channel_name}} -{{item.total_amount}}
			        </li>
		         	</ul>
				</div>
				
			</div>
			<!-- {{draggableListRight | json}} -->
			<div class="col-11 dndListMach">
				<div class="card mt-3 cross-card">
				  <div class="card-header" [ngClass]="draggableListRight.length < 2 ? '':(retail_total === bank_total) ? 'success_money' : 'wrong_money'">
				    Cruce
				  </div>
			         <ul class="list-group list-group-flush dndList text-center"
						dndDropzone
		                [dndHorizontal]="layout.dndHorizontal"
		                dndEffectAllowed="copyMove"
		                (dndDrop)="onDrop($event, draggableListRight)"
			         >
			          <li *ngFor="let item of draggableListRight; index as i;" 
			          		   class="list-group-item" 
		                       (dndStart)="onDragStart($event)"
		                       (dndCopied)="onDragged(item, draggableListRight, 'copy')"
		                       (dndLinked)="onDragged(item, draggableListRight, 'link')"
		                       (dndMoved)="onDragged(item, draggableListRight, 'move')"
		                       (dndCanceled)="onDragged(item, draggableListRight, 'none')"
							   (dndEnd)="onDragEnd($event)"
							   >
		         
					 {{item.bill_register}} - {{item.date_payment | date: 'dd-MM-yyyy'}} - {{item.channel_name}} - {{item.total_amount}}
					 
			          <button class="btn btn-danger btn-sm" (click)="removeElement(i)">X</button>
			          </li>
		         	</ul>
				</div>
				<button class="btn btn-success mr-2" [disabled]="!(draggableListRight.length == 2)" (click)="confirmCross()">Confirmar</button>
				<button class="btn btn-success mr-2" href="javascript:void(0)" (click)="openModal(template)">Desvincular</button>
				<button class="btn btn-success float-right" href="javascript:void(0)" (click)="exportPaymentsReport()">Descargar Reporte</button>
				
		      <!-- <h3>Total Liquidación: {{retail_total}}</h3>
		      <h3>Total Cartola: {{bank_total}}</h3> -->
			</div>
		</div>
		</div>
	</div>
</div>
<ng-template #template>
		<div class="modal-header">
		<h4 class="modal-title pull-left w-100">Detalle de pedido N°</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
		<div style="display: inline-grid;">
			
		</div>
		</div>
		<div class="modal-body">
			<div class="container">
				<div class="row">
					<div class="col-5">
					<div class="card dndList">
						<div class="card-header">
							Liquidaciones
						</div>
							<ul class="list-group list-group-flush dndList">
								<li *ngFor="let item of related_payments no-cursor" class="list-group-item list-group-item-success selected" >
									{{item.bill_register}} - {{item.channel__name}} - {{item.total_payment_retail}} - {{item.date_payment}}
								</li>
							</ul>
						</div>
					</div>
					<div class="col-7">
							<div class="card ">
							  <div class="card-header">
								Cartolas
							  </div>
								 <ul class="list-group list-group-flush dndList">
									<li *ngFor="let item of bank_report_fill; index as i"
										[dndDraggable]="item"
										[dndDisableIf]="disable_bank_report"
										class="list-group-item list-group-item-info no-cursor" 
										[ngClass]="!disable_bank_report ? 'cursor': ''" 
										(dndStart)="onDragStart($event)"
										(dndCopied)="onDragged(item, bank_reports, 'copy')"
										(dndLinked)="onDragged(item, bank_reports, 'link')"
										(dndMoved)="onDragged(item, bank_reports, 'move')"
										(dndCanceled)="onDragged(item, bank_reports, 'none')"
										(dndEnd)="onDragEnd($event)"
										(click)="checkSelected(item.id)"
										[class.selected] = "selected === item.id"
										>
										  {{item.bank_register}} - {{item.date_report | date: 'dd-MM-yyyy'}} - {{item.channel_name}} - {{item.total_amount}}
										
										<a (click)="unmatchElement(item.id)"><i class="fas fa-trash-alt ml-2 pull-right cursor" ></i></a>
										<a (click)="relatedElement(item.id)"><i class="fas fa-eye  ml-2 pull-right cursor"></i></a>
					
									</li>
								 </ul>
							</div>
						</div>
					<div class="col-6 pt-3">
						
	
						<button type="button" class="btn btn-danger mx-1" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
				
				<!-- <p class="mt-2" *ngIf="sale_selected.return_sale.length > 0"><strong>Devolución (Solicitud Cliente): </strong>{{sale_selected.return_sale[0].client_request | titlecase}}</p> -->
	
			</div>
			<!-- <div class="col-8 offset-4 text-right" *ngIf="sale_selected.bill">
			</div> -->
				</div>
			</div>
		</div>
	</ng-template>

