<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Carga Pagos Retail</h2>


		<table class= "table table-bordered mb-3">
			<thead>
				<tr class="text-center">
					<td>Canal</td>
					<td *ngFor="let w of weeks_header">Semana {{w.week_number}} - ({{w.monday_date}})</td>
					
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let j of data_checked; index as z">
					<td class="align-middle text-center">
						{{j.name}}
						<!-- <button *ngIf="j.name == 'Mercadolibre'" type="button" class="btn btn-sm btn-info mt-2" (click)="generatePresentialFile()"><i class="fas fa-check"></i> Liquidación</button> -->
					</td>	
					<td class = "radio-pending" *ngFor="let i of j.checked; index as y">
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="{{'radio' + z + y}}" id="{{'pending' +  z + y}}" value="option1" [checked]="i.payment == 'pendiente'" (click)="changeStatus(i.id_checked, 'pendiente')">
						  <label class="form-check-label" for="{{'pending' +  z + y}}">Pendiente</label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="{{'radio' + z + y}}" id="{{'revisado_no' +  z + y}}" value="option2" [checked]="i.payment == 'revisado (sin liquidación)'" (click)="changeStatus(i.id_checked, 'revisado (sin liquidación)')">
						  <label class="form-check-label" for="{{'revisado_no' +  z + y}}">Revisado (Sin liquidación)</label>
						</div>

						<div class="form-check">
						  <input class="form-check-input" type="radio" name="{{'radio' + z + y}}" id="{{'revisado_si' + z + y}}" value="option2" [checked]="i.payment == 'revisado (con liquidación)'" (click)="changeStatus(i.id_checked, 'revisado (con liquidación)')">
						  <label class="form-check-label" for="{{'revisado_si' + z + y}}">Revisado (Con liquidación)</label>
						</div>

						<div class="custom-control custom-checkbox ">
							<input type="checkbox" class="custom-control-input" id="{{'upload' + y}}" disabled [checked]="i.upload">
							<label class="custom-control-label" for="{{'upload' + y}}" *ngIf="i.upload">Cargado</label>
							<label class="custom-control-label" for="{{'upload' + y}}" *ngIf="!i.upload">No Cargado</label>
						</div>
					</td>
				
					
				</tr>
					<td class="align-middle text-center">Presencial (Archivo)</td>
					<td class = "radio-pending">
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="payment_type" id="efectivo" value="efectivo" [(ngModel)]="payment_type">
						  <label class="form-check-label" for="efectivo">Efectivo</label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="payment_type" id="tdd" value="tarjeta de debito" [(ngModel)]="payment_type">
						  <label class="form-check-label" for="tdd">T. de Débito</label>
						</div>
						<div class="form-check">
						  <input class="form-check-input" type="radio" name="payment_type" id="tdc" value="tarjeta de credito" [(ngModel)]="payment_type">
						  <label class="form-check-label" for="tdc">T. de Crédito</label>
						</div>
						<button type="button" class="btn btn-sm btn-info mt-2" (click)="generatePresentialFile()"><i class="fas fa-check"></i> Generar</button>

					</td>
				
				<tr>
					<td class="align-middle text-center">Generar proyección de pagos de cartolas</td>
					<td class = "radio-pending">
						<button type="button" class="btn btn-sm btn-info mt-2" (click)="generatePaymentsForecast()"><i class="fas fa-check"></i> Generar</button>
					</td>
				</tr>
			</tbody>
		</table>

		<form action="" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
			<div class="text-center">
			    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp"  multiple="false" id="file_input" (change)="onFileChange($event)">
			    <!-- <button type="button" class="btn btn-primary float-right mb-4" ><i class="fas fa-upload"></i>Subir</button> -->
			    <small id="fileHelp" class="form-text text-muted text-left">Si tiene dudas con el archivo de carga masiva, puede descargar el archivo de ejemplo en la parte posterior.</small>
			</div>

			<div class="">

				<ngx-datatable
		        class='bootstrap mb-3'
		        [rows]='rows'
		        [columnMode]="'force'"
		        [headerHeight]="80"
		        [footerHeight]="70"
		        [rowHeight]="70"
		        [scrollbarV]="true" *ngIf="rows.length !== 0">
		        <ngx-datatable-column name="Id Liquidación Retail" prop="retail_id_number">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		        <ngx-datatable-column name="Fecha liquidación" prop="date_payment">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		        <ngx-datatable-column name="Canal" prop="channel">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>
		        <ngx-datatable-column name="Tipo de Movimiento" prop="movement_type">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> 
		        <ngx-datatable-column name="Id Venta" prop="order_channel">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> 


		        <ngx-datatable-column name="Total venta" prop="total_sale">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Descuento comisión" prop="discount_commission">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Descuento envío" prop="discount_shipping">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Descuento multas" prop="discount_penalty">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Descuento reenvíos" prop="discount_resend">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Descuento varios" prop="several_discount">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Total a pagar" prop="total_pay">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>


		        <ngx-datatable-column name="Rut empresa" prop="enterprise_rut">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="N° factura envío" prop="shipping_bill_number">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="N° factura comisión" prop="commission_bill_number">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="N° factura productos" prop="product_bill_number">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Id ingresos" prop="bank_register">
		          <ng-template let-value="value" ngx-datatable-cell-template>
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        
		      </ngx-datatable>
				<div class="text-center" *ngIf="rows.length === 0"><h1>No hay registros cargados.</h1></div>
				<!--<button type="button" class="btn btn-success float-left mb-4" (click)="downloadExampleExcel($event)"><i class="fas fa-file-excel" ></i> Archivo Excel de Ejemplo</button>-->
				<button type="submit" class="btn btn-info float-right mb-4" *ngIf="rows.length !== 0"><i class="fas fa-check" (click)="sendData($event)"></i> Confirmar</button>
				<button type="button" class="btn btn-warning float-right mb-4 mx-2" (click)="cleanTable($event)" *ngIf="rows.length !== 0"><i class="fas fa-eraser"></i> Limpiar</button>
			</div>
			
			
		</form>
		</div>
	</div>
</div>
