<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Listado de Usuarios</h2>	      
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa rut, nombre o apellido" name="search" (keyup)="searchTerm$.next($event.target.value)">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>
			<ngx-datatable
		         #myTable
		        class="bootstrap mb-3"
		        [headerHeight]="50"
		        [limit]="10"
		        [columnMode]="'force'"
		        [footerHeight]="50"
		        [rowHeight]="'auto'"
            [externalPaging]="true"
            [count]="page.totalElements"
            [offset]="page.pageNumber"
            [limit]="page.size"
            (page)='setPage($event)'
	          	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
	          	
		        [rows]="rows">
		 <ngx-datatable-column name="R.U.T" prop="rut">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Nombre" prop="first_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Apellido" prop="last_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo de usuario" prop="is_superuser">
          <ng-template ngx-datatable-cell-template let-value="value">
            <h5><span class="badge badge-secondary"> {{value ? "Administrador": "Normal"}}</span></h5>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "openModal2(template2, row)"
              >
            <i class="fas fa-pencil-alt" ></i></a>

           
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "deleteUser(row.id)"
              >
            <i class="fas fa-user-minus" ></i></a>

          </ng-template>
        </ngx-datatable-column>
 
      </ngx-datatable>
      <button type="button" class="btn btn-info float-right mb-4" (click)="openModal(template)"><i class="fas fa-user-plus"></i> Agregar nuevo Usuario</button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Nuevo Usuario</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="container">
  		<form action="" method="post" (ngSubmit)="registerUser()" #f="ngForm" ngNativeValidate>
  		<div class="form-row">
  			<div class="col-6">
	  			<label for="" class="mx-2 mt-1">Usuario</label>
				<input type="text" class="form-control" id="username" name="username" placeholder="Ingrese usuario" [(ngModel)]="register_data.username" required>
        <label for="" class="mx-2 mt-1">R.U.T</label>
        <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese Nro de Rut" [(ngModel)]="register_data.rut" required>
	  			<label for="" class="mx-2 mt-1">Nombre</label>
				<input type="text" class="form-control" id="first_name" name="first_name" placeholder="Ingrese nombre" [(ngModel)]="register_data.first_name" required>
	  			<label for="" class="mx-2 mt-1">Apellido</label>
				<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Ingrese nombre" [(ngModel)]="register_data.last_name" required>
  			</div>
  			<div class="col-6">
			<label for="" class="mx-2 mt-1">Correo Electrónico</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese correo" [(ngModel)]="register_data.email" required>

        <label for="" class="mx-2 mt-1">Tipo de usuario</label>
        <select [(ngModel)]="register_data.user_type" class="form-control" name="user_type" required>
        <option *ngFor="let c of user_types" [ngValue]="c.name">{{c.name}}</option>
      </select>
      <button type="button" class="btn btn-danger mx-1 float-right mt-3" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
      <button type="submit" class="btn btn-success float-right mt-3"><i class="fas fa-pencil-alt"></i> Registrar usuario</button>
     
      <!-- {{register_data | json}} -->
        </div>
        
  		</div>
  	</form>
  	</div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Editar usuario</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <form action="" method="post" (ngSubmit)="editUserData(user_modify)" #g="ngForm" ngNativeValidate>
      <div class="form-row">
        <div class="col-6">
          <label for="" class="mx-2 mt-1">Usuario</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese usuario"  disabled [value]="user_modify.username">
        <label for="" class="mx-2 mt-1">R.U.T</label>
        <input type="text" class="form-control" id="rut" name="rut" placeholder="Ingrese Nro de Rut" disabled [value]="user_modify.rut">
          <label for="" class="mx-2 mt-1">Nombre</label>
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Ingrese nombre"  disabled [value]="user_modify.first_name">
          <label for="" class="mx-2 mt-1">Apellido</label>
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Ingrese nombre"  disabled [value]="user_modify.last_name">
        </div>
        <div class="col-6">
      <label for="" class="mx-2 mt-1">Correo Electrónico</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese correo"  disabled [value]="user_modify.email">

        <label for="" class="mx-2 mt-1">Habilitar permisos de Admin</label>
      <select  class="form-control" name="user_type" [(ngModel)]="permission_range">
        <option *ngFor="let c of permissions_type" [ngValue]="c.name">{{c.name}}</option>
      </select>
      <input type="text"
           *ngIf="permission_range === 'Seleccionar fecha Máxima'"
           class="form-control text-center mt-2 ml-0"
           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
           name="date_range"
           [(ngModel)]="date_range"
           [minDate]="minDate"
           bsDatepicker>
            
      
      <button type="button" class="btn btn-danger mx-1 float-right mt-3" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
      <button type="submit" class="btn btn-info float-right mt-3"><i class="fas fa-pencil-alt"></i> Guardar</button>
      <!-- {{register_data | json}} -->
        </div>
        
      </div>
    </form>
    </div>
  </div>
</ng-template>
