<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-5 p-5">
        <div class="form-row">
          <div class="col-6 mb-4">
          	<h1>Metricas tiempo de respuesta</h1>
          </div>
        </div>  

      <ngx-datatable
           class='bootstrap mb-3'
            [rows]='rows'
            [columnMode]="'force'"
            [headerHeight]="80"
            [footerHeight]="70"
            [rowHeight]="40"  
            [sorts]="[{prop: sort_data, dir: 'desc'}]"  
            [scrollbarV]="true">

        <ngx-datatable-column name="Día" prop="date_search">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lunes a Viernes <br> 09:00 - 18:00 (P1)" prop="p1">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value + " minutos"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Lunes a Viernes <br> 18:00 - 00:00 (P2)" prop="p2">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == ' ' ? ' - ' : value + " minutos"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fin de semana (P3)" prop="p3">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value + " minutos"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="E1" prop="e1">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value + "%"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="E2" prop="e2">
          <ng-template ngx-datatable-cell-template let-value="value">
              {{value == '' ? ' - ' : value + "%"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="E3" prop="e3">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value + "%"}}
          </ng-template>
        </ngx-datatable-column>             

      </ngx-datatable>
    <!-- <div class ="row"> -->
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="data_chart"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [legendTitle]="legendTitle"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          class="col-8 ml-3 pl-5"
        >
        </ngx-charts-line-chart>
	  <!-- </div> -->
          <button type="button" class="btn btn-success my-4" (click)="generateReportQuestions($event)"><i class="fas fa-file-excel"></i> Informe de Preguntas</button>
    </div>
  </div>
</div>
