<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Pagos Retail</h2>
		<!-- <div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku, id de venta" name="search">
      		</mat-form-field><i class="fas fa-search"></i>
		</div> -->

		<ngx-datatable
	      #myTable
	      class="bootstrap mb-3"
	      [headerHeight]="50"
	      [limit]="10"
	      [columnMode]="'force'"
	      [footerHeight]="50"
	      [rowHeight]="'auto'"
        [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
	      [rows]="rows">

		<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <ngx-datatable
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.retail_payment_detail"
          >
        <ngx-datatable-column name="Id Venta" prop="sale.order_channel">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo de Movimiento" prop="movement_type">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total venta" prop="total_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descuento comisión" prop="discount_commission">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descuento envío" prop="discount_shipping">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descuento multas" prop="discount_penalty">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descuento reenvíos" prop="discount_penalty">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Descuento varios" prop="several_discount">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total a recibir" prop="total_pay">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
		</ng-template>
		</ngx-datatable-row-detail>

		<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          >
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template >
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row, rowIndex)"
              >
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha de pago" prop="date_payment">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Canal" prop="channel_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Registro Facturación" prop="bill_register">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Id liquidación Retail" prop="retail_id_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="N° de factura de envío" prop="shipping_bill_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="N° de factura comisión" prop="commission_bill_number">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="N° de factura producto" prop="product_bill_number">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total a recibir" prop="total_payment_retail">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
       
        <ngx-datatable-column name="Registro Bancario" prop="bank_register.bank_register">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == "" ? "-":value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              (click)="downloadRetailFile(row)"
              href="javascript:void(0)">
            <i class="fas fa-file-download"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
     <!--  <button type="submit" class="btn btn-success float-right mb-4" (click)="exportRetailFile($event)"><i class="fas fa-check"></i> Exportar excel</button> -->
	</div>
</div>