<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Registro de Compras</h2>
			
      
		<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku, id de venta" name="search">
      		</mat-form-field><i class="fas fa-search"></i>
		</div>

		<ngx-datatable
	         #myTable
	        class="bootstrap mb-3"
	        [headerHeight]="50"
	        [limit]="10"
	        [columnMode]="'force'"
	        [footerHeight]="50"
	        [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)='setPage($event)'
	        [rows]="rows">

		<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <ngx-datatable
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.products"
          >
        <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Código 7 dígitos" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Modelo" prop="model">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cantidad" prop="quantity">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="P. Unit" prop="unit_price">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Iva Crédito" prop="credit_iva">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="PVD" prop="minimun_price_bill">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Sub Total" prop="product_purchase_total">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
          
      </ngx-datatable>

			</ng-template>
		</ngx-datatable-row-detail>

		<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          >
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template >
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row, rowIndex)"
              >
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha de compra" prop="date_purchase">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Proveedor" prop="provider_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Tipo de Compra" prop="purchase_type">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo de Documento" prop="document_type">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="N° de Documento" prop="number_document">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

       
        <ngx-datatable-column name="Cantidad de Productos" prop="product_quantity">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total Compra" prop="total_purchase">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              (click)="downloadPurchase(row)"
              href="javascript:void(0)">
            <i class="fas fa-file-download"></i></a>

            <!-- <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="deletePurchase(row)"
              >
            <i class="fas fa-trash-alt" ></i></a> -->
          </ng-template>
        </ngx-datatable-column>


        <!-- <ngx-datatable-column name="Semanas con stock" prop="available_stock_weeks">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha sin stock" prop="empty_stock_date">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>   -->   
      </ngx-datatable>
      <button type="submit" class="btn btn-info float-right mb-4" (click)="goCharge($event)"><i class="fas fa-check"></i> Cargar Compra</button>
      <button type="submit" class="btn btn-info float-right mb-4 mr-3" (click)="downloadPurchase(999999)"><i class="fas fa-check"></i> Informe de Compra</button>
	</div>
</div>