<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Registro de Guías de Retiro</h2>
			
      
		<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa número de documento" name="search" (keyup)="searchTerm$.next($event.target.value)">
  		</mat-form-field><i class="fas fa-search"></i>
		</div>

		<ngx-datatable
	         #myTable
	        class="bootstrap mb-3"
	        [headerHeight]="50"
	        [limit]="10"
	        [columnMode]="'force'"
	        [footerHeight]="50"
	        [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)='setPage($event)'
	        [rows]="rows">

		<ngx-datatable-row-detail [rowHeight]="100" #myDetailRow>
			<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <ngx-datatable
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.products_retirement"
          >
        <ngx-datatable-column name="SKU" prop="product_sale__sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="product_sale__description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Código 7" prop="product_code__code_seven_digits" >
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Variante" prop="product_code__color__description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Cantidad" prop="quantity">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Precio Unit." prop="unit_price">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? 0:value}}
          </ng-template>
        </ngx-datatable-column>
          
      </ngx-datatable>

			</ng-template>
		</ngx-datatable-row-detail>

		<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
          >
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template >
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row, rowIndex)"
              >
            </a>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Día de Retiro" prop="date_retirement">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Número de documento" prop="document_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Bodega" prop="warehouse_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="¿Aprobada?" prop="status_retirement">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="N° de Productos" prop="total_products">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              (click)="openModal(template,row)"
              href="javascript:void(0)">
            <i class="fas fa-pencil-alt"></i></a>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
      <!-- <button type="submit" class="btn btn-info float-right mb-4" (click)="goCharge($event)"><i class="fas fa-check"></i> Cargar Compra</button> -->
	</div>
</div>


<ng-template #template>
 <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Retiro N° {{row_selected.id}}</h4>
    <h6 class="modal-title pull-left w-100">{{row_selected.warehouse_name}}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <div class="container">
      
      <h6> Ingrese Producto (SKU) a Retirar y Cantidad</h6>
      <div class="row">
        <div class="col-4">
        <input type="number" class="form-control w-75" id="inputEmail4" placeholder="Ingrese SKU" [(ngModel)]="sku" name="sku">
        </div>
        <div class="col-4">
       <input type="number" class="form-control w-75" id="inputEmail4" placeholder="Ingrese Cantidad" [(ngModel)]="quantity"  name="quantity">
        </div>
        <div class="col-4">
       <button type="button" class="btn btn-primary" (click)="addProduct()"><i class="fas fa-share-square"></i> Añadir</button>
        </div>
	<div class="col-12">
		<ngx-datatable
		    #myTable
		    class="bootstrap mb-3"
		    [headerHeight]="50"
		    [limit]="50"
		    [columnMode]="'force'"
		    [footerHeight]="50"
        *ngIf="row_selected.products_retirement.length !== 0"
		    [rowHeight]="'auto'"
		    [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		    [rows]="row_selected.products_retirement">

		    <ngx-datatable-column name="SKU" prop="product_sale__sku">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>

	        <ngx-datatable-column name="Descripción" prop="product_sale__description">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="Código 7" prop="product_code__code_seven_digits" >
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value === '' ? 0:value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="Variante" prop="product_code__color__description">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value === '' ? 0:value}}
	          </ng-template>
	        </ngx-datatable-column>
	        <ngx-datatable-column name="Cantidad" prop="quantity">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-quantity'] = true"
              *ngIf="!editing[rowIndex + '-quantity']">
              {{value}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'quantity', rowIndex)"
              *ngIf="editing[rowIndex+ '-quantity']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>

	        <ngx-datatable-column name="Precio Unit." prop="unit_price">
	          <ng-template ngx-datatable-cell-template let-value="value">
	            {{value === '' ? 0:value}}
	          </ng-template>
	        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="removeProduct(rowIndex)"
              >
            <i class="fas fa-window-close" ></i></a>
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div class="text-center" *ngIf="row_selected.products_retirement.length === 0"><h1>No hay registros cargados.</h1></div>
	</div>
        
      </div>
    </div>
  
     <button type="button" class="btn btn-sm btn-warning my-2 float-left" (click)="updateRetirement()" [disabled] ="row_selected.products_retirement.length == 0"><i class="fas fa-share-square"></i> Guardar</button>

      <button *ngIf="row_selected.status_retirement == null || row_selected.status_retirement == 'sin aprobar'" type="button" class="btn btn-sm btn-success my-2 mx-2 float-left" (click)="approvedRetirement()" [disabled] ="row_selected.products_retirement.length == 0"><i class="fas fa-share-square"></i> Aprobar Ingreso</button>
  </div>
</ng-template>