<div class="container-fluid">
	<div class="row">
	<!-- <app-sidebar></app-sidebar> -->
	<!-- {{register | json}} -->
	<div  [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'">
		<form action="" class="pt-3" method="post" (ngSubmit)="registerSale()" #f="ngForm" ngNativeValidate>
		<div class="row mt-0 pt-1 pb-3">
      <div class="col-6 pl-5"><h3>Búsqueda de productos</h3></div>
      <div class="col-6 pl-5"><h3> Datos de la venta</h3></div>
    </div>  
            <div class ="row">
            <div class = "col-6 border-right px-5">
                    <div class="form-row">
                            <div class="col-12">
                              <div class="form-group row">
                                <label class="col-2" for="inlineFormInputName">SKU</label>   
                                <div class="col-8"> 
                                  <input type="text" class="form-control" id="inputEmail4" placeholder="SKU" [(ngModel)] = "product.sku" name="sku" (ngModelChange)="verifyShipping($event)">
                              </div>
                             </div>
                            </div>
                            <div class="col-12">
                              <div class= "form-group row">
                                <label class ="col-2" for="inlineFormInputName">Cantidad</label>
                                <div class= "col-8">
                                  <input type="number" class="form-control" id="inputEmail4" placeholder="Cantidad" [(ngModel)] = "product.quantity" name="quantity" min="1" value="" (ngModelChange)="setBasedOnQuantity($event)">
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class= "form-group row">
                                <label class="col-2" for="inlineFormInputName">P.Unit.</label>
                                <div class ="col-8">
                                  <input type="number" class="form-control" id="inputEmail4" placeholder="Precio unit" [(ngModel)] = "product.unit_price" name="unit_price" min="0" step="0.1" (ngModelChange)="setTotal($event)">
                                </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class= "form-group row">
                                <label class="col-2" for="inlineFormInputName">Total</label>
                                <div class= "col-8">
                                  <input type="number" class="form-control" id="inputEmail4" placeholder="Total" [(ngModel)] = "product.total" name="total" min="0" step="0.1" (ngModelChange)="setUnitPrice($event)">
                                </div>
                               </div> 
                            </div>
                            <div class="col-12 my-3 p-0">
                                <button type="button" class="btn btn-success mx-2" (click)="addProduct()">Ingresar</button>
                                <button type="button" class="btn btn-info mx-2" (click)="searchName(template)">Buscar por Nombre</button>
                                <button type="button" class="btn btn-dark">Código de Barra</button> 
                            </div>
                   
                            <table class="table table-hover over-table">
                                <!-- {{register | json}} -->
                              <thead>
                                <tr>
                                  <th scope="col">Código7</th>
                                  <th width ="30%" scope="col">Descripción</th>
                                  <th scope="col">Modelo</th>
                                  <th scope="col">Cantidad</th>
                                  <th scope="col">P.Unit</th>
                                  <th scope="col">Total</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let product of register.products;  index as i;">
                                  <th scope="row">{{product.code_seven_digits}}</th>
                                  <td>{{product.description}}</td>
                                  <td>{{product.color == null ? '-':product.color}}</td>
                                  <td>{{product.quantity}}</td>
                                  <td>{{product.unit_price |number:'':'es'}}</td>
                                  <td>{{product.total |number:'':'es'}}</td>
                                  <td (click)=removeProduct(i)><button type="button" class="btn btn-danger mx-2">X</button></td>
                                </tr>
                                
                                <tr>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <td></td>
                                  <th>Total</th>
                                  <td [ngStyle] = "{'font-weight': '700'}">{{register.total_sale |number:'':'es'}}</td>
                                  <td></td>
                                  
                                </tr>
                              </tbody>
                            </table>		
                        </div>
                        <div class= "form-group row">
                            <label class ="col-4"></label>
                            <div class = "col-8 text-right">
                                <img [src]="confirm_image" class="figure-img img-fluid rounded" alt="Imagen de canal" width="80" height="80">
                            </div>
                          </div> 
            </div>
            <div class = "col-6 pl-5 px-3">
                    <div class="col-12 p-0">
                      <div class="form-group row">
                        <label class= "col-4" for="inlineFormInputName">Usuario</label>
                        <div class= "col-8">
                          <input type="text" class="form-control" id="user" name="user" placeholder="{{user}}" [disabled]='true'>
                        </div>
                      </div>    
                    </div>
                    <div class="col-12 p-0">
                      <div class= "form-group row">
                        <label class= "col-4" for="">Fecha</label>
                        <div class="col-8">
                          <input type="text"
                          class="form-control"
                          #dp="bsDatepicker"
                          bsDatepicker
                          [(ngModel)]="register.date_sale"
                          name="date_sale"
                          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
                          [maxDate]="maxDate"
                          (ngModelChange)="changeDate($event)"
                          [bsValue]="register.date_sale">
                        </div>
                      </div>      
                    </div>
                    <div class="col-12 p-0">
                      <div class="form-group row">
                        <label class = "col-4" for="inputEmail4">Id Venta</label>
                        <div class= "col-8">
                          <input type="number" class="form-control" id="id_venta" placeholder="Id venta" [(ngModel)]="register.order_channel" name="id_venta">
                        </div>
                      </div>
                      <div class="form-group row p-0">
                        <label class="col-4" for="inputPassword4">Documento</label>
                          <div class="col-8">
                            <select name="documento" class="form-control" [(ngModel)]="register.document_type" (ngModelChange)="disableNumberDocument($event)">
                              <option *ngFor="let each of documento" id ="{{each.name}}" [value]="each.value" >{{each.name}}</option>
                            </select>
                          </div> 
                      </div>
                    <div class = "form-group row p-0">    
                      <label class= "col-4" for="inputEmail4">Nro. Documento</label>
                      <div class= "col-8">
                        <input type="number" class="form-control" id="inputEmail4" placeholder="N° de documento" [(ngModel)]="register.number_document"  name="number_document" [disabled]="number_document">
                      </div> 
                    </div>
                    <div class="form-group row p-0" *ngIf="register.document_type == 'factura' && register.number_document == null">
                        <div class="col-4">
                          <label for="inputPassword4" class="mt-2">Datos de Facturación</label>
                        </div>
                        <div class="col-8 mb-2">
                          <input type="text" class="form-control" id="inputEmail4" placeholder="Ingrese R.U.T" [(ngModel)]="register.rut_number"  name="rut_client">
                        </div>
                        <div class="col-8 offset-4">
                          <input type="text" class="form-control" id="inputEmail4" placeholder="Correo electrónico (Optativo)" [(ngModel)]="register.email"  name="email">
                        </div>
                        
                    </div>
                    <div class="form-group row p-0">
                      <label class="col-4" for="exampleFormControlSelect1">Canal de Venta</label>
                      <div class= "col-8">
                        <select name="canal" class="form-control" [(ngModel)]="register.channel"  (ngModelChange)="filterChannelType($event, register.channel)" >
                        <option *ngFor="let each of canales" [value]="each.channel" (click) = "register.confirm_image = each "  >{{each.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row p-0">
                        <label class= "col-4" for="exampleFormControlSelect1">Forma de Pago</label>
                        <div class = "col-8"> 
                          <select name="pago"class="form-control" [(ngModel)]="register.payment_type">
                          <option *ngFor="let each of forma_pago" [value]="each.value">{{each.name}}</option>
                          </select>
                        </div> 
                    </div>

                    <div class="form-group row p-0">
                        <label class= "col-4" for="exampleFormControlSelect1">Responsable de envío</label><br>
                        <div class="col-8">    
                          <select name="responsable_envio"class="form-control" [(ngModel)]="register.sender_responsable">
                            <option *ngFor="let each of responsable_envio" [value]="each.value">{{each.name}}</option>
                          </select>
                        </div>  
                    </div>
                    <div class="form-group row p-0">
                          <label class ="col-4" for="inputEmail4">Comentarios</label>
                          <div class="col-8">  
                            <textarea class="form-control" rows="2" [(ngModel)]="register.comments" name="comments"></textarea>
                          </div>
                         </div>

                         <div class="form-row">
                            <div class="form-group col-12">
                              <button type="submit" class="btn btn-success btn-md float-right" *ngIf="new_data === undefined" [disabled]="!registerClick">Registrar</button>
                              <button type="submit" class="btn btn-info btn-md float-right" *ngIf="new_data !== undefined">Actualizar</button>
                              <!--<button type="button" class="btn btn-secondary my-2 mx-1" (click)="location.back()">Volver</button>-->
                              <!-- <button type="button" class="btn btn-danger mx-1" (click)="backLogin()">Cerrar</button> -->
                            </div>
                          </div>
                     
                </div>
                                     
            </div>
        </div> 
			
		</form>
		</div>
	</div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Indique Nombre del Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <form>
	  <div class="form-group">
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre del producto" (keyup)="searchTerm$.next($event.target.value)">
	    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	  </div>
	</form>
	<ngx-datatable
		#myTable2
		class="bootstrap mb-3"
		[headerHeight]="50"
		[limit]="50"
		[columnMode]="'force'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		[rows]="rows">

        <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <!--  <ngx-datatable-column name="Hora de Registro" prop="hour_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
          

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="searchVariation(template2,row)"
              >
            <i class="fas fa-plus" ></i></a>

           <!--  <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="selectProduct(row)"
              >
            <i class="fas fa-check" ></i></a> -->
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header header-nested">
    <h5 class="modal-title pull-left">Seleccione variante del producto</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
	<ngx-datatable
		#myTable2
		class="bootstrap mb-3"
		[headerHeight]="50"
		[limit]="50"
		[columnMode]="'force'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		[rows]="rows2">

        <ngx-datatable-column name="Código 7 dígitos" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Variante" prop="color__description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="selectVariation(row)"
              >
            <i class="fas fa-check" ></i></a>
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

  </div>
</ng-template>


<ng-template #template3>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Datos Facturación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="form-group" id="documento_tributario">
          <div class="form-group col-6">
            <label for="inlineFormInputName" class="m-2">R.U.T (Obligatorio)</label>
            <input type="text" [(ngModel)]="register.rut_number" class="form-control" id="inputEmail4" placeholder="Ingrese Rut" name="rut_client">
          </div>
          <div class="form-group col-6">
            <label for="inlineFormInputName" class="m-2">Correo (Optativo)</label>
            <input type="text" [(ngModel)]="register.email" class="form-control" id="inputEmail4" placeholder="Ingrese correo" name="email_client">
          </div>
      </div>
     <button type="button" class="btn btn-info my-3 float-right"><i class="fas fa-paper-plane"></i> Enviar</button>
  </div>
</ng-template>
