.d-inherit{
	display: inherit !important;
}
form{
	padding: 30px;
	font-size: 15px;
}

body{
	font-size:12px;
}
.table th, .table td{
	    padding: 0.25rem 0.65rem !important;
}

input,select{
	height: 97%;
	font-size:14px;
}
.table tbody{
	height: 10px !important; 
	overflow: scroll;
}
.over-table{
	font-size: 13px;
}
.modal-header{
	background: #212121;
	color: white;
}
.modal-header span {
	color: white;
}
.header-nested{
	background: #524b4beb !important;
}