<div class="container-fluid">
	<div class="row">
	<!-- <app-sidebar></app-sidebar> -->
	<!-- {{register | json}} -->
	<div  [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'">
		<form action="" method="post" (ngSubmit)="registerSale()" #f="ngForm" ngNativeValidate>
		<div class="form-row">
			<div class="col-6"><h1>Registro de Ventas</h1></div>
			<div class="col-2 d-inherit m-2">
				<label for="" class="mx-2 mt-1">Usuario</label>
				<input type="text" class="form-control" id="user" name="user" placeholder="{{user}}" [disabled]='true'>
			</div>
			<div class="col-2 d-inherit m-2">
				<label for="" class="mx-2 mt-1">Fecha</label>
				<!-- <input type="date" class="form-control" id="date_register" name="date_sale"  placeholder=""> -->
				<input type="text"
		           class="form-control"
		           #dp="bsDatepicker"
		           bsDatepicker
		           [(ngModel)]="register.date_sale"
		           name="date_sale"
		           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
		           [maxDate]="maxDate"
		           (ngModelChange)="changeDate($event)"
		           [bsValue]="register.date_sale">
				
			</div>
		</div>
			<div class="form-row">
				<div class="form-group col-5 mb-0">
				  <label for="">Pedido</label><br>
			      <label for="inputEmail4">Id Venta</label>
			      <input type="number" class="form-control" id="id_venta" placeholder="Id venta" [(ngModel)]="register.order_channel" name="id_venta">
			      <label for="inputPassword4">Documento Tributario</label>
			      <div class="form-group" id="documento_tributario">
				    <div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" id="boleta electrónica" name="documento" value="boleta electrónica" class="custom-control-input" [(ngModel)]="register.document_type" (ngModelChange)="disableNumberDocument($event)">
					  <label class="custom-control-label" for="boleta electrónica">B. Electrónica</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" id="boleta manual" name="documento" value="boleta manual" class="custom-control-input" [(ngModel)]="register.document_type" (ngModelChange)="disableNumberDocument($event)">
					  <label class="custom-control-label" for="boleta manual">B. Manual</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" id="factura" name="documento" value="factura" class="custom-control-input" [(ngModel)]="register.document_type" (ngModelChange)="disableNumberDocument($event)">
					  <label class="custom-control-label" for="factura">Factura</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
					  <input type="radio" id="boleta-transbank" name="documento" class="custom-control-input" [(ngModel)]="register.document_type" value="boleta/transbank" (ngModelChange)="disableNumberDocument($event)">
					  <label class="custom-control-label" for="boleta-transbank">Boleta Transbank</label>
					<div class="custom-control custom-radio custom-control-inline ml-2">
					  <input type="radio" id="sdt" name="documento" class="custom-control-input" [(ngModel)]="register.document_type" value="sdt" (ngModelChange)="disableNumberDocument($event)">
					  <label class="custom-control-label" for="sdt">Sin Documento Tributario</label>
					</div>
					</div>
				  </div>
				  <input type="number" class="form-control" id="inputEmail4" placeholder="N° de documento" [(ngModel)]="register.number_document"  name="number_document" [disabled]="number_document">
	    		  <div class="form-group col-12 pl-0" *ngIf="register.document_type == 'factura' && register.number_document == null">
	    		  	<label for="inputPassword4" class="mt-2">Datos de Facturación</label>
	    		  	<input type="text" class="form-control mb-2 w-50  d-inherit" id="inputEmail4" placeholder="Ingrese R.U.T" [(ngModel)]="register.rut_number"  name="rut_client">
	    		  	<input type="text" class="form-control w-50 d-inherit" id="inputEmail4" placeholder="Correo electrónico (Optativo)" [(ngModel)]="register.email"  name="email">
	    		  </div>
	    		 <!--  <div class="form-group col-6 d-inherit">
	    		  </div> -->
		    	</div>
		    	
		    	<div class="form-group col-7 mb-0">
		    		 <label for="">Canal de Venta</label><br>
		    		 <div class="form-group">
		    		 	<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="mercadolibre" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="1" (ngModelChange)="filterChannelType($event, 1)">
						  <label class="custom-control-label" for="mercadolibre"><img class="m-1" src="assets/images/mercadolibre.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="ripley" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="3" (ngModelChange)="filterChannelType($event, 3)">
						  <label class="custom-control-label" for="ripley"><img class="m-1" src="assets/images/ripley.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="paris" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="4" (ngModelChange)="filterChannelType($event, 4)">
						  <label class="custom-control-label" for="paris"><img class="m-1" src="assets/images/paris.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="linio" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="5" (ngModelChange)="filterChannelType($event, 5)">
						  <label class="custom-control-label" for="linio"><img class="m-1" src="assets/images/Linio_logo.svg.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="groupon" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="6" (ngModelChange)="filterChannelType($event, 6)">
						  <label class="custom-control-label" for="groupon"><img class="m-1" src="assets/images/groupon.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="yapo" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="7" (ngModelChange)="filterChannelType($event, 7)">
						  <label class="custom-control-label" for="yapo"><img class="m-1" src="assets/images/yapo.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="falabella" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="8" (ngModelChange)="filterChannelType($event, 8)">
						  <label class="custom-control-label" for="falabella"><img class="m-1" src="assets/images/falabella.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="mercadoshop" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="13" (ngModelChange)="filterChannelType($event, 13)">
						  <label class="custom-control-label" for="mercadoshop"><img class="m-1" src="assets/images/mercadoshop.png" alt="" width="80" height="80"></label>
						</div>
						<!-- <div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="cluboferta" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="9" (ngModelChange)="filterChannelType($event, 9)">
						  <label class="custom-control-label" for="cluboferta"><img class="m-1" src="assets/images/LOGO.png" alt="" width="80" height="80"></label>
						</div> -->
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="presencial" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="10" (ngModelChange)="filterChannelType($event, 10)">
						  <label class="custom-control-label" for="presencial"><img class="m-1" src="assets/images/presencial.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="extra_ml" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="11" (ngModelChange)="filterChannelType($event, 11)">
						  <label class="custom-control-label" for="extra_ml"><img class="m-1" src="assets/images/extra_ml.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="otro" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="12" (ngModelChange)="filterChannelType($event, 12)">
						  <label class="custom-control-label" for="otro"><img class="m-1" src="assets/images/otro canal.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="facebook" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="14" (ngModelChange)="filterChannelType($event, 14)">
						  <label class="custom-control-label" for="facebook"><img class="m-1" src="assets/images/facebook.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="lost" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="15" (ngModelChange)="filterChannelType($event, 15)">
						  <label class="custom-control-label" for="lost"><img class="m-1" src="assets/images/lost.png" alt="" width="80" height="80"></label>
						</div>
						<div class="custom-control custom-radio custom-control-inline">
						  <input type="radio" id="instagram" name="canal" class="custom-control-input" [(ngModel)]="register.channel" value="16" (ngModelChange)="filterChannelType($event, 16)">
						  <label class="custom-control-label" for="instagram"><img class="m-1" src="assets/images/instagram.png" alt="" width="80" height="80"></label>
						</div>

		    		 </div>
		    	</div>
			</div>
			<div class="form-row mt-1">
				<div class="form-group col-2 d-inherit">
					<label for="inlineFormInputName" class="m-2">SKU</label>
			      <input type="text" class="form-control" id="inputEmail4" placeholder="SKU" [(ngModel)] = "product.sku" name="sku" (ngModelChange)="verifyShipping($event)">
				</div>
				<div class="form-group col-2  d-inherit">
					<label for="inlineFormInputName" class="m-2">Cantidad</label>
			      <input type="number" class="form-control" id="inputEmail4" placeholder="Cantidad" [(ngModel)] = "product.quantity" name="quantity" min="1" value="" (ngModelChange)="setBasedOnQuantity($event)">
				</div>
				<div class="form-group col-2  d-inherit">
					<label for="inlineFormInputName" class="m-2">P.Unit.</label>
			      <input type="number" class="form-control" id="inputEmail4" placeholder="Precio unit" [(ngModel)] = "product.unit_price" name="unit_price" min="0" step="0.1" (ngModelChange)="setTotal($event)">
				</div>
				<div class="form-group col-2  d-inherit">
					<label for="inlineFormInputName" class="m-2">Total</label>
			      <input type="number" class="form-control" id="inputEmail4" placeholder="Total" [(ngModel)] = "product.total" name="total" min="0" step="0.1" (ngModelChange)="setUnitPrice($event)">
				</div>
				<div class="form-group col-3 text-center ">
					<button type="button" class="btn btn-success mx-2" (click)="addProduct()">Ingresar</button>
					<button type="button" class="btn btn-info mx-2" (click)="searchName(template)">Buscar por Nombre</button>
					<button type="button" class="btn btn-dark mx-2 mt-2">Código de Barra</button>
					
				</div>
				<table class="table table-hover">
					<!-- {{register | json}} -->
				  <thead>
				    <tr>
				      <th scope="col">SKU</th>
				      <th scope="col">Código 7</th>
				      <th scope="col">Descripción</th>
				      <th scope="col">Modelo</th>
				      <th scope="col">Cantidad</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Total</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let product of register.products;  index as i;">
				      <th scope="row">{{product.sku}}</th>
				      <th>{{product.code_seven_digits}}</th>
				      <td>{{product.description}}</td>
				      <td>{{product.color == null ? '-':product.color}}</td>
				      <td>{{product.quantity}}</td>
				      <td>{{product.unit_price}}</td>
				      <td>{{product.total}}</td>
				      <td (click)=removeProduct(i)><button type="button" class="btn btn-danger mx-2">X</button></td>
				    </tr>
				    
				    <tr>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <td></td>
				      <th>Total</th>
				      <td>{{register.total_sale}}</td>
				    </tr>
				  </tbody>
				</table>
				
				
			</div>
			<div class="form-row">
				<div class="form-group col-4">
		    		 <label for="">Responsable de Envío</label><br>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="comprador" name="envio" class="custom-control-input" [(ngModel)]="register.sender_responsable" value="comprador">
				  <label class="custom-control-label" for="comprador">Comprador</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="vendedor" name="envio" class="custom-control-input" [(ngModel)]="register.sender_responsable" value="vendedor">
				  <label class="custom-control-label" for="vendedor">Vendedor</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="retira" name="envio" class="custom-control-input" [(ngModel)]="register.sender_responsable" value="retira personalmente">
				  <label class="custom-control-label" for="retira">Retira Personalmente</label>
				</div>
				</div>
				<div class="form-group col-8">
	    		    <label for="">Forma de Pago</label><br>
					<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="efectivo" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="efectivo">
				  <label class="custom-control-label" for="efectivo">Efectivo</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="tdebito" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="tarjeta de debito">
				  <label class="custom-control-label" for="tdebito">T. Debito</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="tcredito" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="tarjeta de credito">
				  <label class="custom-control-label" for="tcredito">T. Crédito</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="transferencia" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="transferencia">
				  <label class="custom-control-label" for="transferencia">Transferencia</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="cheque" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="cheque">
				  <label class="custom-control-label" for="cheque">Cheque</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="porpagar" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="por pagar">
				  <label class="custom-control-label" for="porpagar">Por pagar</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="sin_pago" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="sin pago">
				  <label class="custom-control-label" for="sin_pago">Sin pago</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="transferencia-retail" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="transferencia retail" [ngModelOptions]="{standalone: true}">
				  <label class="custom-control-label" for="transferencia-retail">Transferencia Retail</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="mixto" name="pago" class="custom-control-input" [(ngModel)]="register.payment_type" value="mixto" [ngModelOptions]="{standalone: true}">
				  <label class="custom-control-label" for="mixto">Mixto</label>
				</div>
				</div>
				<div class="form-group col-6">
					<label for="inputEmail4">Comentarios</label>
			      <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" [(ngModel)]="register.comments" name="comments"></textarea>
				</div>
				

				<div class="form-group col-6 pt-4">
					<button type="submit" class="btn btn-success btn-lg" *ngIf="new_data === undefined" [disabled]="!registerClick">Registrar</button>
					<button type="submit" class="btn btn-info btn-lg" *ngIf="new_data !== undefined">Actualizar</button>
					<button type="button" class="btn btn-warning my-2 mx-1" (click)="cleanForm()">Limpiar</button>
					<!--<button type="button" class="btn btn-secondary my-2 mx-1" (click)="location.back()">Volver</button>-->
					<!-- <button type="button" class="btn btn-danger mx-1" (click)="backLogin()">Cerrar</button> -->
				</div>
			</div>
		    
		</form>
		</div>
	</div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Indique Nombre del Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <form>
	  <div class="form-group">
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre del producto" (keyup)="searchTerm$.next($event.target.value)">
	    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
	  </div>
	</form>
	<ngx-datatable
		#myTable2
		class="bootstrap mb-3"
		[headerHeight]="50"
		[limit]="50"
		[columnMode]="'force'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		[rows]="rows">

        <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <!--  <ngx-datatable-column name="Hora de Registro" prop="hour_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
          

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="searchVariation(template2,row)"
              >
            <i class="fas fa-plus" ></i></a>

           <!--  <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="selectProduct(row)"
              >
            <i class="fas fa-check" ></i></a> -->
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header header-nested">
    <h5 class="modal-title pull-left">Seleccione variante del producto</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   
	<ngx-datatable
		#myTable2
		class="bootstrap mb-3"
		[headerHeight]="50"
		[limit]="50"
		[columnMode]="'force'"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		[rows]="rows2">

        <ngx-datatable-column name="Código 7 dígitos" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Variante" prop="color__description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="selectVariation(row)"
              >
            <i class="fas fa-check" ></i></a>
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

  </div>
</ng-template>


<ng-template #template3>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Datos Facturación</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
        <div class="form-group" id="documento_tributario">
          <div class="form-group col-6">
            <label for="inlineFormInputName" class="m-2">R.U.T (Obligatorio)</label>
            <input type="text" [(ngModel)]="register.rut_number" class="form-control" id="inputEmail4" placeholder="Ingrese Rut" name="rut_client">
          </div>
          <div class="form-group col-6">
            <label for="inlineFormInputName" class="m-2">Correo (Optativo)</label>
            <input type="text" [(ngModel)]="register.email" class="form-control" id="inputEmail4" placeholder="Ingrese correo" name="email_client">
          </div>
      </div>
     <button type="button" class="btn btn-info my-3 float-right"><i class="fas fa-paper-plane"></i> Enviar</button>
  </div>
</ng-template>
