<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Cartolas Bancarias</h2>
		<!-- <div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku, id de venta" name="search">
      		</mat-form-field><i class="fas fa-search"></i>
		</div> -->

		<ngx-datatable
	      #myTable
	      class="bootstrap mb-3"
	      [headerHeight]="50"
	      [limit]="10"
	      [columnMode]="'force'"
	      [footerHeight]="50"
	      [rowHeight]="'auto'"
        [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
	      [rows]="rows">

        <ngx-datatable-column name="Fecha" prop="date_report">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Item cartola bancaria" prop="bank_register">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Depósitos y Abonos" prop="total_amount">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo de Movimiento" prop="movement_type">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
       
        <ngx-datatable-column name="Tipo de Pago" prop="payment_type">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Id Liquidación" prop="bill_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              (click)="downloadBankReport(row)"
              href="javascript:void(0)">
            <i class="fas fa-file-download"></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      
	</div>
</div>