<div class="Wrapper">
    <div class="Sidebar col-3" [ngClass] = "boolie ? 'is-collapsed' : ''">
        <!-- <div class="Sidebar-header">
            <div class="Sidebar-logo w-100"><img src="assets/images/Asiamerica.png" alt="" height="40" width="80px" class="img-logo"></div>
        </div> -->
        <nav role="navigation">
            <div id="accordion">
                <ul class="sidebar-left">
                
                <li class="Sidebar-navItem">
                    
                     <a data-toggle="collapse" data-target="#submenu4" aria-expanded="true" aria-controls="collapseOne" id="headingOne"><i class="Sidebar-menuIcon fas fa-exchange-alt"></i> Gestión de Ventas</a>
                    <ul class="collapse" id="submenu4" role="menu" aria-labelledby="headingOne" data-parent="#accordion">

                        <li class="Sidebar-navItem" routerLinkActive="active" (click)="this.boolie = !this.boolie"><a class="sub-menu" [routerLink]="['/sale/register']"><i class="Sidebar-menuIcon fas fa-chart-bar"></i>Registro Manual</a></li>
                        <li class="Sidebar-navItem" routerLinkActive="active" (click)="this.boolie = !this.boolie"><a class="sub-menu" [routerLink]="['/sale/retail-sales']"><i class="Sidebar-menuIcon fas fa-print"></i>Generar Boletas</a></li>

                        <li class="Sidebar-navItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <a class="sub-menu dropdown-toggle" id="cLabel">Carga Forzadas</a>
                            
                      </li>
                              <div class="dropdown-menu charge-menu" aria-labelledby="cLabel">
                                <!-- Dropdown menu links -->
                                <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/update-mercadolibre']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Mercadolibre</a>
                                  <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/update-ripley']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Ripley</a>
                                  <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/update-linio']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Linio</a>
                                  <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/upload-falabella']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Falabella</a>
                                  <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/upload-groupon-falabella']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Groupon</a>
                                  <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/upload-paris']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Paris</a>
                                  <a class="dropdown-item" routerLinkActive="active" (click)="this.boolie = !this.boolie" [routerLink]="['/sale/update-mercadoshop']"><i class="Sidebar-menuIcon fas fa-upload"></i> Carga Mercadoshop</a>

                              </div>
                        
                    </ul>
                </li>
                <li class="Sidebar-navItem">
                    
                    <a data-toggle="collapse" data-target="#submenu3" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo"><i class="Sidebar-menuIcon fas fa-arrow-down"></i> Cambio o Devoluciones</a>
                    <ul class="collapse" id="submenu3" role="menu" aria-labelledby="headingTwo" data-parent="#accordion">

                        <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" (click)="this.boolie = !this.boolie" [routerLink]="['/returns/register-return']"><i class="Sidebar-menuIcon fas fa-crosshairs" ></i>Ingresar Caso</a></li>

                       <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" [routerLink]="['/returns/list-returns']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-box-open"></i>Crear Informe Técnico</a></li>

                        <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" [routerLink]="['/returns/claims']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-box-open"></i>Casos por Cerrar</a></li>
                        
                    </ul>
                </li>
                <li class="Sidebar-navItem have-children">
                    
                    <a data-toggle="collapse" data-target="#submenu1" aria-expanded="true" aria-controls="collapseThree" id="headingThree"><i class="Sidebar-menuIcon fas fa-pen-square"></i> Inventario</a>
                    <ul class="collapse" id="submenu1" role="menu" aria-labelledby="headingThree" data-parent="#accordion">

                        <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" [routerLink]="['/stock/list-products']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-box-open"></i>Inventario Empresa</a></li>

                        <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" [routerLink]="['/stock/stock-warehouse']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-box-open"></i>Distribución</a></li>

                       <!--  <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" [routerLink]="['/purchases/list-purchase']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-box-open"></i>Compras</a></li>

                        <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu" [routerLink]="['/stock/stock-historic']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-box-open"></i>Inventario Histórico</a></li> -->
                        
                    </ul>
                </li>
                <li class="Sidebar-navItem have-children">
                    
                    <a data-toggle="collapse" data-target="#submenu19" aria-expanded="true" aria-controls="collapseThree" id="headingThree"><i class="Sidebar-menuIcon fas fa-pen-square"></i> Productos</a>
                    <ul class="collapse" id="submenu19" role="menu" aria-labelledby="headingThree" data-parent="#accordion">

                        <li class="Sidebar-navItem"><a class="sub-menu" routerLinkActive="active" [routerLink]="['/sku/list-sku']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-file-invoice"></i>SKU</a></li>

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/sku/create-sku']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-plus-circle"></i>Crear SKU</a></li>
                        
                        <li class="Sidebar-navItem"  ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/sku/charge-sku']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-arrows-alt"></i>Carga Masiva</a></li>

                        <li class="Sidebar-navItem"  ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/sku/charge-sku-pack']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-arrows-alt"></i>Carga Masiva Packs</a></li>

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/prices/list-prices']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-file-invoice"></i>Precios</a></li>

                      <!--   <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/prices/upload-falabella']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-file-invoice"></i>Precios (Falabella)</a></li> -->
                        
                    </ul>
                </li>
                <li class="Sidebar-navItem">
                    
                    <a data-toggle="collapse" data-target="#submenu8" aria-expanded="true" aria-controls="collapseSeven" id="headingEight"><i class="Sidebar-menuIcon fas fa-atlas"></i> Informe</a>
                    <ul class="collapse" id="submenu8" role="menu" aria-labelledby="headingEight" data-parent="#accordion">

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/send-daily-orders']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-file-download"></i>Descarga</a></li>

                        <li class="Sidebar-navItem"  ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/sales-report']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-briefcase"></i>Cuadratura</a></li>

                      <!--   <li class="Sidebar-navItem"  ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/channel-report-sales']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-chart-line"></i>Reporte Venta</a></li>
 -->
                        <!-- <li class="Sidebar-navItem"><a class="sub-menu" [routerLink]="['/sale/list-daily']" routerLinkActive="active" ><i class="Sidebar-menuIcon fas fa-cloud-sun"></i> Registro Diario</a></li> -->

                        <li class="Sidebar-navItem"><a class="sub-menu" [routerLink]="['/sale/list-historic']" routerLinkActive="active" (click)="this.boolie = !this.boolie"> <i class="Sidebar-menuIcon fas fa-history"></i> Registro Histórico</a></li>

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/historic-report']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-clock"></i>Manifiesto Históricos</a></li>

                        <li class="Sidebar-navItem" ><a class="sub-menu"  routerLinkActive="active" [routerLink]="['/configuration/supervisor']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-video"></i>Supervisor</a></li>



                    </ul>
                </li>
                <li class="Sidebar-navItem">
                    
                    <a data-toggle="collapse" data-target="#submenu10" aria-expanded="true" aria-controls="collapseTen" id="headingTen"><i class="Sidebar-menuIcon fas fa-dollar-sign"></i> Mercadolibre</a>
                    <ul class="collapse" id="submenu10" role="menu" aria-labelledby="headingTen" data-parent="#accordion">

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/mercadolibre/questions-answers']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-upload"></i>Panel de Preguntas y Respuestas</a></li>

                        <li class="Sidebar-navItem"  ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/mercadolibre/metrics-indicators']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-file-invoice"></i>Metricas y KPIS</a></li>

                         <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/change-message']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-comment"></i>Mensaje Automático</a></li>

                       <!--  <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu"><i class="Sidebar-menuIcon fas fa-crosshairs"></i>Distribución por canales</a></li> -->
                        
                    </ul>
                </li>
                
                <li class="Sidebar-navItem">
                    
                    <a data-toggle="collapse" data-target="#submenu12" aria-expanded="true" aria-controls="collapseTwelve" id="headingTwelve"><i class="Sidebar-menuIcon fas fa-dollar-sign"></i> Ayuda</a>
                    <ul class="collapse" id="submenu12" role="menu" aria-labelledby="headingTwelve" data-parent="#accordion">

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/procedures']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-upload"></i>Procedimientos</a></li>

                       <!--  <li class="Sidebar-navItem"  ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/purchases/list-purchase']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-file-invoice"></i>Preguntas Frecuentes</a></li>

                         <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/change-message']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-comment"></i>Manuales de Productos</a></li>

                        <li class="Sidebar-navItem" routerLinkActive="active"><a class="sub-menu"><i class="Sidebar-menuIcon fas fa-crosshairs"></i>Manual de Aplicación</a></li> -->
                        
                    </ul>
                </li>

                <li class="Sidebar-navItem">
                    <a data-toggle="collapse" data-target="#submenu7" aria-expanded="true" aria-controls="collapseSix" id="headingSeven"><i class="Sidebar-menuIcon fas fa-wrench"></i> Configuración</a>
                    <ul class="collapse" id="submenu7" role="menu" aria-labelledby="headingSeven" data-parent="#accordion">

                        <!-- <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/users-management']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-users"></i>Gestión de Usuarios</a></li> -->

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/supervisor-historic']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-suitcase"></i>Histórico Supervisión</a></li>

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/upload-labels']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-suitcase"></i>Etiquetas Falabella</a></li>

                        <li class="Sidebar-navItem" ><a class="sub-menu" routerLinkActive="active" [routerLink]="['/configuration/shipping-guides']" (click)="this.boolie = !this.boolie"><i class="Sidebar-menuIcon fas fa-suitcase"></i>Guías de Retiro</a></li>

                    </ul>
                   
                </li>
                
                <li class="Sidebar-navItem">
                    
                    <a (click) = "goOut()" routerLinkActive="active"><i class="Sidebar-menuIcon fas fa-sign-out-alt"></i> Salir</a>
                </li>

            </ul>
            </div>
        </nav>
        <footer class="Sidebar-footer" (click)="expandSidebar()">
            <i class="Sidebar-toggleArrow Sidebar-menuIcon fa fa-arrow-left" [ngClass]="boolie ? 'rotate' : ''" ></i>
            <span class="Sidebar-toggleText">Minimizar menu</span>
        </footer>
    </div>
</div>