* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #e1e1e1;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff !important;
}

.Wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.Sidebar {
    position: fixed;
    display: table-cell;
    min-width: 260px;
    z-index: 1000;
    /*// needs a max-width in order to overflow menu items*/
    max-width: 260px;
    min-height: 100%;
    background-color: #212121;
    transition: max-width 0.4s ease\, min-width 0.4s ease;
    user-select: none;
}

li.have-children {
    position: relative;
}

li.active.have-children:after {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.charge-menu {
    top: 44px !important;
    left: 255px !important;
    border-radius: 0 !important;
    min-width: 17rem;
    background: #171717;
    color: white !important;
}

.is-collapsed {
    max-width: 50px;
    min-width: 50px;
    transition: max-width 0.4s ease\, min-width 0.4s ease;
}

.is-collapsed .Sidebar-logo {
    transform: scale(0.625) translate(-64px, -104px);
    transition: transform 0.4s ease;
}

.is-collapsed ul {
    display: none;
}


.is-collapsed .Sidebar-toggleText {
    display: none;
}
        
.is-collapsed .Sidebar-toggleArrow {
    left: 17.5px;
    transform: rotate(179deg);
}

     
.is-collapsed .Sidebar-footer:hover .Sidebar-toggleArrow {
    left: 17.5px;
    transition: left 0.4s ease, 
    transform 0.4s ease;
}
    

.is-collapsed .Sidebar-navItem {
    padding-left: 17px;
    transition: padding-left 0.4s ease;
}
.is-collapsed .Sidebar-navItem a {
    opacity: 0;
}

.Sidebar-header {
    // position: relative;
    // height: 70px;
    margin-bottom: 10px;        
    text-align: center;
}

.Sidebar-logo {
    // position: absolute;
    bottom: 0;
    left: 50%;
    // transform: translateX(-40px);
    display: inline-block;
    width: 80px;
    height: 80px;
    /*background: cadetblue;*/
    transition: transform 0.4s ease, 
                height 0.4s ease, 
                width 0.4s ease;
}
.img-logo {
    // margin-top: 17%;

}

.Sidebar-navItem {
    // padding: 10px 0 10px 40px;
    white-space: nowrap;
    overflow: hidden;
    transition: padding-left 0.4s ease;
}
.nav{
    display: block;
}
#submenu1, #submenu2, #submenu3, #submenu4, #submenu5, #submenu6, #submenu7, #submenu8, #submenu10, #submenu11, #submenu12, #submenu19{
    background: #171717;
    .sub-menu{
        padding-left: 50px !important;
    }
    .sub-menu a:hover{
        
    }
}
.sidebar-left{
    font-size: 0.9rem;
}

.Sidebar-navItem a:hover {
    background-color: #323232;
    cursor: pointer;
}
.Sidebar-navItem a {
    display: block;
    padding: 10px 0 10px 40px;
    white-space: normal;
    opacity: 1;
    transition: opacity 0.4s ease;
}
.active{
    background: darken(#212121, 15%) !important;
}
.Sidebar-footer {
    // margin
    position: absolute;
    top: 90%;
    // bottom: 0;
    height: 60px;
    width: 100%;
}

.Sidebar-footer:hover {
    background: darken(#212121, 15%);
    cursor: pointer;
}

.Sidebar-footer:hover .Sidebar-toggleArrow {
    transition: left 0.2s ease, 
                rotate 1s ease;
    left: 70px;
}
.Sidebar-footer:hover .Sidebar-toggleText {
    opacity: 1;
    // animation: fadeIn 0.75s ease;
}

.Sidebar-toggleArrow {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-7px);
    cursor: pointer;
    transition: left 0.2s ease;
}

.Sidebar-toggleText {
    position: absolute;
    bottom: 22px;
    left: 85px;
    opacity: 0;
    color: #818181;
    font-size: 12px;
    white-space: nowrap;
}

.Sidebar-menuIcon {
    color: #818181;
    }
.Sidebar-menuIcon:not(.Sidebar-toggleArrow) {
    margin-right: 1rem;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



//@keyframes sidebarArrow {
//    0% { left: }
//}