<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Supervisión Histórica</h2>
			<ngx-datatable
			         #myTable
			        class="bootstrap mb-3"
			        [headerHeight]="50"
			        [columnMode]="'force'"
			        [footerHeight]="50"
			        [rowHeight]="'auto'"
		          	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
			        [rows]="rows">



				 <ngx-datatable-column name="Fecha" prop="date_supervition">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value }}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Cantidad de Actividades" prop="activity_quantity">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>


		        <ngx-datatable-column name="Completas" prop="completed" >
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		         <ngx-datatable-column name="Incompletas" prop="uncompleted">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

				
		        <ngx-datatable-column
		          [width]="50"
		          [sortable]="false"
		          [draggable]="false"
		          [canAutoResize]="false">
		          <ng-template let-row="row" ngx-datatable-cell-template>
		            <a
		              class="mx-2"
		              href="javascript:void(0)"
		              (click)="saveData(row)" >
		            <i class="fas fa-eye"></i></a>

		          </ng-template>
		        </ngx-datatable-column>
	       
 
      </ngx-datatable>
      <button type="button" class="btn btn-success float-right mb-4 mx-2" (click)="export_excel($event)"><i class="fas fa-plus"></i> Descargar Informe</button>
      <!-- <button type="button" class="btn btn-primary float-right mb-4 mx-2" (click) = "saveChanges()"><i class="fas fa-file-pdf"></i> Guardar Cambios</button> -->
      </div>
  </div>
</div>
