<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-auto">
        <div class="form-row">
          <div class="col-6 mb-4">
          	<h1>Reporte Ventas (Canales)</h1>
          </div>
        </div>
      
      <div class="form-group" id="documento_tributario">
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" [(ngModel)]="filter_type" id="today" name="filter_type" value="today" class="custom-control-input" (ngModelChange)="filterType($event)">
      <label class="custom-control-label" for="today">Por día</label>
    </div>
      <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" [(ngModel)]="filter_type" id="week" name="filter_type" value="week" class="custom-control-input" (ngModelChange)="filterType($event)">
      <label class="custom-control-label" for="week">Por Semana</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" [(ngModel)]="filter_type" id="month" name="filter_type" value="month" class="custom-control-input" (ngModelChange)="filterType($event)">
      <label class="custom-control-label" for="month">Por Mes</label>
    </div>
    <div class="custom-control custom-radio custom-control-inline">
      <input type="radio" [(ngModel)]="filter_type" id="year" name="filter_type" value="year" class="custom-control-input" (ngModelChange)="filterType($event)">
      <label class="custom-control-label" for="year">Por Año</label>
    </div>

      </div>  
      <ngx-datatable
           class='bootstrap mb-3'
            [rows]='rows'
            [columnMode]="'force'"
            [headerHeight]="80"
            [footerHeight]="70"
            [rowHeight]="40"
            [sorts]="[{prop: sort_data, dir: 'desc'}]"  
            [scrollbarV]="true">
    

        <ngx-datatable-column name="Fecha" prop="date_format">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == ' - ' ? value: (value | date: 'dd-MM-yyyy')}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Día" prop="weekday">
          <ng-template ngx-datatable-cell-template let-value="value">
            <ng-container [ngSwitch]="value">
            <!-- the same view can be shown in more than one case -->
            <span *ngSwitchCase="1">Domingo</span>
            <span *ngSwitchCase="2">Lunes</span>
            <span *ngSwitchCase="3">Martes</span>
            <span *ngSwitchCase="4">Miercoles</span>
            <span *ngSwitchCase="5">Jueves</span>
            <span *ngSwitchCase="6">Viernes</span>
            <span *ngSwitchCase="7">Sabado</span>
            <!--default case when there are no matches -->
            <span *ngSwitchDefault> - </span>
          </ng-container>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Semana" prop="week_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Mes" prop="month_format">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Año" prop="year_format">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ng-container *ngFor="let item of channels">
            <ngx-datatable-column name="{{item.name}}" prop="{{item.prop}}">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number: '1.'}}
          </ng-template>
        </ngx-datatable-column>
          </ng-container>
        <ngx-datatable-column name="Total" prop="total_sales">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number: '1.'}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <div class="w-100">
        <ngx-charts-line-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [legendTitle]="legendTitle"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [autoScale]="autoScale"
          class="my-3"
        >
    </ngx-charts-line-chart>
      </div>
    <button *ngIf="rows.length > 0" type="button" class="btn btn-success my-4" (click)="generateReport($event)"><i class="fas fa-file-excel"></i> Imprimir informe</button>
	</div>
  </div>
</div>
