<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Ventas {{sub_title}}</h2>
			<h2 class="text-right">Fecha: {{today_date}}</h2>
      <label for="inputPassword4">Selecciona Canal</label>
        <div class="form-group" id="documento_tributario">
        <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="all" name="channel" value="all" class="custom-control-input" (ngModelChange)="filterChannel($event)" checked>
        <label class="custom-control-label" for="all">Todas</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="mercadolibre por acordar" name="channel" value="1 por acordar" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="mercadolibre por acordar">ML Por acordar</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="mercadolibre con etiqueta" name="channel" value="1 con etiqueta" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="mercadolibre con etiqueta">ML con Etiqueta</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="ripley" name="channel" value="3" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="ripley">Ripley</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="falabella" name="channel" value="8" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="falabella">Falabella</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="groupon" name="channel" value="6" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="groupon">Groupon</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="linio" name="channel" value="5" class="custom-control-input" (ngModelChange)="filterChannel($event)">
        <label class="custom-control-label" for="linio">Linio</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="paris" name="channel" value="4" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="paris">Paris</label>
      </div>

      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="yapo" name="channel" value="7" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="yapo">Yapo</label>
      </div>
      
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" [(ngModel)]="channel_selected" id="cluboferta" name="channel" value="13" class="custom-control-input" (ngModelChange)="filterChannel($event)" >
        <label class="custom-control-label" for="cluboferta">Mercadoshop</label>
      </div>
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku, descripción o código de 7 dígitos" name="search" (keyup)="searchTerm$.next($event.target.value)">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>

				<ngx-datatable
			        #myTable
			        class="bootstrap mb-3"
			        [headerHeight]="50"
			        [limit]="50"
			        [columnMode]="'force'"
			        [footerHeight]="50"
			        [rowHeight]="'auto'"
              
              [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
              [externalPaging]="true"
              [count]="page.totalElements"
              [offset]="page.pageNumber"
              [limit]="page.size"
              (page)='setPage($event)'
              [rows]="rows">


        <ngx-datatable-column name="N° de Pedido" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha de Venta" prop="date_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Hora de Registro" prop="hour_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Canal" prop="channel_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Id de venta" prop="order_channel">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            {{value == '' ? '-':value}}
          </ng-template>
        </ngx-datatable-column>

       
        <ngx-datatable-column name="Usuario" prop="user_full_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == '' ? '-': value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="N° de Documento" prop="number_document">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == '' ? '-':value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Forma de Pago" prop="payment_type">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Estado" prop="status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase	}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nota de Crédito" prop="credit_note_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == '' ? '-':value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Manifiesto" prop="sales_report">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == '' ? '-':value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Total" prop="total_sale">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number: '1.'}}
          </ng-template>
        </ngx-datatable-column>

       <!--   <ngx-datatable-column name="Total Declarado" prop="total_declared">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Total Declarado" prop="total_declared" *ngIf="sub_title == 'Históricas'">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-total_declared'] = true"
              *ngIf="!editing[rowIndex + '-total_declared']">
              {{value | number: '1.'}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'total_declared', rowIndex)"
              *ngIf="editing[rowIndex+ '-total_declared']"
              type="number"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
          

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="openModal(template, row)"
              >
            <i class="fas fa-eye" ></i></a>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="tryDeleteSale(row.id)"
              >
            <i class="fas fa-trash-alt" ></i></a>
            <a
              class="mx-2"
              href="javascript:void(0)"
              *ngIf="!row.bill && row.number_document == null && (row.document_type === 'sdt' || row.document_type === '')"
              (click)="generateBill(row)">
            <i class="fas fa-ticket-alt" ></i></a>

            <a
              class="mx-2"
              *ngIf="sub_title == 'Históricas'"
              href="javascript:void(0)"
              (click)="saveDeclaredTotal(row)"
              >
            <i class="fas fa-save" ></i></a>

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="openModalCancelation(confirmation, row)"
              >
            <i class="fas fa-window-close" ></i></a>


          </ng-template>
        </ngx-datatable-column>
 
      </ngx-datatable>


			<!-- <div class="text-center" *ngIf="sales.results.length === 0"><h1>No hay registros de ventas {{sub_title}}.</h1></div> -->

		<button type="button" *ngIf="rows.length !== 0" class="btn btn-success float-right mb-4" (click)="export_excel($event)"><i class="fas fa-file-excel"></i> Exportar excel</button>
		
		</div>
	</div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Detalle de pedido N° {{sale_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  <div style="display: inline-grid;">
      <span class="pull-left" *ngIf="sale_selected.order_channel !== null"><i class="fas fa-shopping-bag"></i> #{{sale_selected.order_channel}} </span>
    <span class="pull-left" *ngIf="sale_selected.tracking_number !== null"><i class="fas fa-truck"></i> #{{sale_selected.tracking_number}}</span>
  </div>
  </div>
  <div class="modal-body">
  	<div class="container">
  		<div class="row">
  			<div class="col-6">
  			<h6><i class="fas fa-edit"></i> Documento tributario: <span class="badge badge-secondary">{{sale_selected.document_type | titlecase }}</span></h6>
  			<h6><i class="fas fa-code-branch"></i> Canal de venta: <span class="badge" [ngClass]="{ 
  				'badge-mercadolibre': sale_selected.channel_name =='Mercadolibre', 
  				'badge-ripley': sale_selected.channel_name =='Ripley', 
  				'badge-paris': sale_selected.channel_name =='Paris', 
  				'badge-linio': sale_selected.channel_name =='Linio', 
  				'badge-groupon': sale_selected.channel_name =='Groupon', 
  				'badge-yapo': sale_selected.channel_name =='Yapo', 
  				'badge-falabella': sale_selected.channel_name =='Falabella', 
  				'badge-mercadoshops': sale_selected.channel_name =='Mercadoshop', 
  				'badge-cluboferta': sale_selected.channel_name =='Cluboferta', 
  				'badge-presencial': sale_selected.channel_name =='Presencial', 
  				'badge-extra_ml': sale_selected.channel_name =='Extra Mercadolibre', 
  				'badge-otro_canal': sale_selected.channel_name =='Otro canal' 
  			}">{{sale_selected.channel_name}}</span></h6>
  			<h6><i class="fas fa-credit-card"></i> Forma de Pago: <span class="badge badge-dark" >{{sale_selected.payment_type | titlecase }}</span></h6>
  			</div>
  			<div class="col-6">
			<h6><i class="fas fa-file-invoice"></i> N° de Documento: {{ (sale_selected.number_document) ? (sale_selected.number_document):"-"}}</h6>
			<h6><i class="fas fa-shipping-fast"></i> Responsable de envío: <span class="badge badge-starken">{{sale_selected.sender_responsable | titlecase }}</span></h6>

      <ng-container *ngIf="sale_selected.channel_name == 'Falabella' && sale_selected.dimensions_sale">
        <h6><i class="fas fa-ruler-combined"></i> Alto: {{(sale_selected.dimensions_sale.height) ? (sale_selected.dimensions_sale.height):"-"}} Largo: {{(sale_selected.dimensions_sale.length) ? (sale_selected.dimensions_sale.length):"-"}}</h6>
        <h6><i class="fas fa-weight-hanging"></i> Ancho: {{(sale_selected.dimensions_sale.width) ? (sale_selected.dimensions_sale.width):"-"}} Peso: {{(sale_selected.dimensions_sale.weight) ? (sale_selected.dimensions_sale.weight):"-"}}</h6>
      </ng-container>
  			</div>
  			<div class="col-12">
  				<table class="table table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">SKU</th>
              <th scope="col">Descripción</th>
				      <th scope="col">Código 7 Dígitos</th>
				      <th scope="col">Modelo</th>
				      <th scope="col">Cantidad</th>
				      <th scope="col">Precio</th>
				      <th scope="col">Total</th>
				    </tr> 
				  </thead>
				  <tbody>
				    <tr *ngFor="let product of sale_selected.sale_of_product">
				      <th>{{product.sku}}</th>
              <td>{{product.description}}</td>
				      <td>{{product.code_seven_digits == null ? '-':product.code_seven_digits}}</td>
				      <td>{{product.color == null ? '-':product.color}}</td>
				      <td>{{product.quantity}}</td>
				      <td>{{product.unit_price}}</td>
				      <td>{{product.total}}</td>
				    </tr>
				    <tr>
				      <th></th>
				      <td></td>
				      <td></td>
              <td></td>
				      <td></td>
				      <td>Total</td>
				      <td>{{sale_selected.total_sale}}</td>
				    </tr>

				    
				  </tbody>
				</table>
  			</div>
  			<div class="col-4">
  				<h6><i class="fas fa-comment"></i> Comentarios:</h6>
          <p class="text-justify">{{sale_selected.comments}}</p>
  			</div>
  			<div class="col-8 d-block text-center">
  				<button type="button" class="btn btn-info mx-1" (click)="editSale(sale_selected.id)"><i class="fas fa-pencil-alt"></i> Editar</button>
          <button type="button" class="btn btn-primary mx-1" *ngIf="!sale_selected.bill && sale_selected.number_document === null && (sale_selected.document_type === 'boleta electrónica' || sale_selected.document_type === '' || sale_selected.document_type === 'sdt')" (click)="generateBill(sale_selected)"><i class="fas fa-ticket-alt"></i> Emitir Boleta</button>
          <button type="button" *ngIf="sale_selected.token_bill" class="btn btn-secondary mx-1" (click)="reprintInvoice(sale_selected.token_bill,sale_selected.number_document)"><i class="fas fa-window-close"></i> Reimprimir</button>
          <button type="button" class="btn btn-warning mx-1" (click)="reprintLabel(sale_selected.id)" *ngIf="sale_selected.shipping_type_sub_status === 'envío por pagar' || sale_selected.shipping_type_sub_status === 'pendiente'"><i class="fas fa-window-close"></i> Etiqueta</button>
          <button type="button" class="btn btn-danger mx-1" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
          <p class="mt-2" *ngIf="sale_selected.bill"><strong>Nota: </strong>Esta venta posee boleta electrónica.</p>
          <!-- <p class="mt-2" *ngIf="sale_selected.return_sale.length > 0"><strong>Devolución (Solicitud Cliente): </strong>{{sale_selected.return_sale[0].client_request | titlecase}}</p> -->

        </div>
        <!-- <div class="col-8 offset-4 text-right" *ngIf="sale_selected.bill">
        </div> -->
  		</div>
  	</div>
  </div>
</ng-template>

<ng-template #confirmation>
  <div class="modal-body text-center">
    <p>Indique el motivo de la anulación del documento</p>
    <button type="button" class="btn btn-primary" (click)="confirm()" >Reimpresión</button>
    <button type="button" class="btn btn-danger" (click)="decline()" >Cancelación</button>
  </div>
</ng-template>