<div class="container-fluid">
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="ml-3">Procedimientos</h2>
      <div class="card-columns mt-4">
        <div class="card mx-2 mt-3" style="width: 18rem; min-width: 18rem; min-height: 18rem;" *ngFor="let item of cards_data">
          <img class="card-img-top" src="assets/images/Asiamerica.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a (click)="openModal(template, item)" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">{{channel_selected.name}}</h4>
  </div>
  <div class="modal-body">
    <div class="row text-center">
      <video width='400' controls style="width: 600px; max-height: 300px;" class="mx-auto">
      <source src='{{channel_selected.videofile}}' type='video/mp4'>
      Your browser does not support the video tag.
      </video>
    </div>
    <small id="fileHelp" class="form-text text-muted text-left mt-4">{{channel_selected.description}}</small>
    <div class="col-12 d-block text-center">
    	<form class="mt-4">
		  <div class="form-group">
		    <label class="upload-button">
          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
        </label>
		  </div>
		</form>
      <button type="button" class="btn btn-info mx-1" (click)="startUpload()"><i class="fas fa-upload"></i> Subir Archivo</button>
      <!-- <button type="button" class="btn btn-info mx-1"><i class="fas fa-file-word"></i> Descargar Archivo</button> -->
      <!-- <button type="button" class="btn btn-info mx-1"><i class="fas fa-broom"></i> Limpiar</button> -->
      <button type="button" class="btn btn-danger mx-1" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
    </div>
  </div>
</ng-template>
