<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Carga de Etiquetas Falabella</h2>

		<div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
                <p>
                  <label class="upload-button">
                    <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple #file_input> 
                  </label>
                 
                </p>
              </div>
<!-- {{files | json}} -->
			<div class="upload-item" *ngFor="let f of files; let i = index;">

                <div class="upload-item-content">
                  <div class="filename">
                    <div class="filename-left">
                      <i class="ionicon ion-ios-copy"></i>
                      <span><strong>{{ f.name }}</strong></span>
                    </div>
                    <div class="filename-right">
                      <i class="ionicon ion-close-round" (click)="cancelUpload(f.id)"></i>
                    </div>
                  </div>
                  <!-- <div class="progress-content">
                    <div class="progress">
                      <span class="bar" [style.width]="100 + '%'" [class.is-done]="f?.progress?.data?.percentage !== 100"></span>
                    </div>
                  </div> -->
                  <!-- <div class="progress-text-content">
                    <span class="progress-text" [class.is-done]="f?.progress?.data?.percentage === 100">
                      <span>{{ f.progress?.data?.percentage }}% </span>
                      <span *ngIf="f.progress?.data?.percentage !== 100">Uploading...</span>
                      <span *ngIf="f.progress?.data?.percentage === 100">Done</span>
                    </span>
                    <span class="speed-and-eta-text" *ngIf="f.progress?.data?.percentage !== 0 && f.progress?.data?.percentage !== 100">
                      <span>{{ f.progress?.data?.speedHuman }} </span>
                      <span>ETA {{ f.progress?.data?.etaHuman }}</span>
                    </span>
                  </div> -->
                </div>
              </div>
		<button type="submit" class="btn btn-info float-right mb-4" *ngIf="files.length !== 0" (click) = "startUpload()"><i class="fas fa-check"></i> Subir</button>
		<button type="button" class="btn btn-warning float-right mb-4 mx-2" *ngIf="files.length !== 0" (click)="removeAllFiles($event)"><i class="fas fa-eraser"></i> Limpiar</button>

		</div>
	</div>
</div>