<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Actividades</h2>
			<ngx-datatable
			         #myTable
			        class="bootstrap mb-3"
			        [headerHeight]="50"
			        [columnMode]="'force'"
			        [limit]="200"
		          	[rowClass]="getRowClass"
			        [footerHeight]="50"
			        [rowHeight]="'auto'"
		          	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		          	
			        [rows]="rows">

				 <ngx-datatable-column name="Hora" prop="hour">
		          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
		          	{{row.id}} - {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <ngx-datatable-column name="Canal" prop="channel_name">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>


		        <ngx-datatable-column name="Tarea" prop="description" >
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		         <!--<ngx-datatable-column name="Detalle" prop="detail">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> -->

				<ngx-datatable-column name="Responsable" prop="user_responsable">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column>

		        <!-- <ngx-datatable-column name="Estado" prop="status">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> -->
		       <ngx-datatable-column name="Estado" prop="status_activity">
	          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" >
	             <span
		              title="Double click to edit"
		              (click)="editing[rowIndex + '-status_activity'] = true"
		              *ngIf="!editing[rowIndex + '-status_activity']">
	              {{value == 'yes' ? 'Completa': 'Incompleta'}}
	            </span>
	            <select
	              *ngIf="editing[rowIndex + '-status_activity']"
	              (change)="editing[rowIndex + '-status_activity'] = false"
	              (change)="updateValue($event, 'status_activity', rowIndex)"
	              [value]="value">
	              
	              <!-- <option value="-"> - </option> -->
	              <option value="yes">Completa</option>
	              <option value="no">Incompleta</option>
	            </select>
	          </ng-template>
	        </ngx-datatable-column>

		      
		       <ngx-datatable-column name="Conteo" prop="count">
		           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
		            <span
		              title="Double click to edit"
		              (click)="editing[rowIndex + '-count'] = true"
		              *ngIf="!editing[rowIndex + '-count']">
		              {{value === null ? '--------':value}}
		            </span>
		            <input
		              autofocus
		              (blur)="updateValue($event, 'count', rowIndex)"
		              *ngIf="editing[rowIndex+ '-count']"
		              type="number"
		              [value]="value"
		            />
		          </ng-template>
		        </ngx-datatable-column>

		        <!-- <ngx-datatable-column name="Identificadas" prop="identified">
		          <ng-template ngx-datatable-cell-template let-value="value">
		            {{value}}
		          </ng-template>
		        </ngx-datatable-column> -->

		       	<ngx-datatable-column name="Tiempo trabajado" prop="work_time">
		          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
		            {{(row.x_base + (row.y_variable*row.count)) == 0 ? '-': ((row.x_base + (row.y_variable*row.count)) + ' minutos')}}
		          </ng-template>
		        </ngx-datatable-column>
		       
 
      </ngx-datatable>
      <button type="button" class="btn btn-success float-right mb-4 mx-2" (click) = "openModal(template2)"><i class="fas fa-plus"></i> Nueva Actividad</button>
      <!-- <button type="button" class="btn btn-primary float-right mb-4 mx-2" (click) = "saveChanges()"><i class="fas fa-file-pdf"></i> Guardar Cambios</button> -->
      </div>
  </div>
</div>

<ng-template #template2>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" >Nueva Actividad</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <div class="container">
      <div class="row">
        <!-- {{claim_new | json}} -->
        <div class="col-12">
          <h5><strong>Hora:</strong></h5>
          <timepicker [(ngModel)] = "new_activity.hour" [showMeridian]="false"></timepicker>
          <h5><strong>Canal:</strong></h5>
          <select class="form-control form-control-sm" [(ngModel)] = "new_activity.channel_name">
			  <option value="-"> - </option>
			  <option value="Ripley"> Ripley </option>
			  <option value="Mercadolibre"> Mercadolibre </option>
			<option value="Linio"> Linio</option>
			<option value="Falabella"> Falabella</option>
			<option value="Paris"> Paris</option>
			<option value="Groupon"> Groupon</option>
			<option value="Mercadoshop"> Mercadoshop</option>
			<option value="Facebook"> Facebook</option>
			  <option value="Yapo"> Yapo </option>
			</select>
          <h5><strong>Tarea:</strong> </h5>
          <input type="text" class="form-control" placeholder="Indique nombre de tarea" [(ngModel)] = "new_activity.description">
          <h5><strong>Detalle:</strong></h5>
          <textarea
              autofocus
              class="form-control"
              [(ngModel)] = "new_activity.detail"
              cols="70"
              rows="4"
              type="text"
            ></textarea>
            <h5><strong>Responsable:</strong> </h5>
          <input type="text" class="form-control" placeholder="Indique nombre de responsable" [(ngModel)] = "new_activity.user_responsable">
          <h5><strong>X Base:</strong> </h5>
          <input type="number" class="form-control" placeholder="Indique x base" [(ngModel)] = "new_activity.x_base">
          <h5><strong>Y variable:</strong> </h5>
          <input type="number" class="form-control" placeholder="Indique y variable" [(ngModel)] = "new_activity.y_variable">
          <!-- {{new_activity | json}} -->
          <!-- <h5 class="mt-3"><strong>Estado:</strong></h5>
            <input
              autofocus
              type="text"
              class="form-control w-50"
              [(ngModel)] = "claim_new.status"
            /> -->
            <button type="button" class="btn btn-info mt-1 float-right" (click)="addActivity($event)"><i class="fas fa-save"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
