<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-auto">
    	<form action="" method="post" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
        <div class="form-row">
          <div class="col-6 mb-4">
          	<h1>Mensajes Automático</h1>
          </div>
        </div>
        <div class="form-group" id="documento_tributario">
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="data.type_message" id="with_label" name="type_message" value="with_label" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="with_label">Con Etiqueta</label>
		</div>
	    <div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="data.type_message" id="to_be_agreed" name="type_message" value="to_be_agreed" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="to_be_agreed">Por Acordar</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="data.type_message" id="custom" name="type_message" value="custom" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="custom">Mensajes Personalizados</label>
		</div>
      </div>
        <div class="form-group" id="type_sku" *ngIf="!hide_table">
    	<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="params.pack" id="normal" name="type_sku" value="3" class="custom-control-input" (ngModelChange)="filterTypeSku($event)">
		  <label class="custom-control-label" for="normal">Normal</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="params.pack" id="pack" name="type_sku" value="2" class="custom-control-input" (ngModelChange)="filterTypeSku($event)">
		  <label class="custom-control-label" for="pack">Pack</label>
		</div>
      </div>

		<app-ngx-editor *ngIf="hide_table" [placeholder]="'Ingrese mensaje automático aquí...'" [spellcheck]="true" [(ngModel)]="data.message" name="message"></app-ngx-editor>
		<button *ngIf="hide_table" type="submit" class="btn btn-success btn-lg float-right my-3">Enviar</button>
      </form>
      <div class="text-center" *ngIf="!hide_table">
      <mat-form-field class="mx-auto w-50">
            <input matInput placeholder="Ingresa sku, descripción producto" name="search" (keyup)="searchTerm$.next($event.target.value)">
          </mat-form-field><i class="fas fa-search"></i>
    </div>
    <ngx-datatable
        *ngIf="!hide_table"
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="50"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
            [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)='setPage($event)'
            
          [rows]="rows">
     <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Mensaje" prop="message">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-message'] = true"
              *ngIf="!editing[rowIndex + '-message']">
              {{value == '' ? "Sin mensaje":value}}
            </span>
            <textarea
              autofocus
              cols="70"
              rows="4"
              (blur)="updateValue($event, 'message', rowIndex)"
              *ngIf="editing[rowIndex+ '-message']"
              type="number"
              [value]="value"
            ></textarea>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "saveData(row)"
              >
            <i class="fas fa-save" ></i></a>

          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
	</div>
  </div>
</div>
