<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-auto">
      <form action="" method="post" (ngSubmit)="sendMail()" #f="ngForm" ngNativeValidate>
        <div class="form-row">
          <div class="col-6">
          	<h1>Descarga</h1>
          </div>
        </div>
       
      <ngx-datatable
              #myTable
              class="bootstrap mb-3"
              [headerHeight]="50"
              [limit]="50"
              [columnMode]="'force'"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
              [rows]="rows">


        <ngx-datatable-column name="Proceso" prop="process">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descarga" prop="download">
          <ng-template ngx-datatable-cell-template let-value="value", let-row="row">
            <button type="button" class="btn btn-success btn-sm mx-2" (click)="export_excel($event, row.id)"><i class="fas fa-file-excel"></i> Descargar Archivo</button>
            <button type="button" class="btn btn-success btn-sm mx-2" (click)="export_excel($event, 6)" *ngIf="row.id == 6"><i class="fas fa-file-excel"></i> Último generado ({{emails.replace("Reporte de Ventas ","")}})</button>
          </ng-template>
        </ngx-datatable-column>

         
      </ngx-datatable>
		
      </form>
        </div>
    </div>
  </div>
