<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Carga Masiva Ventas</h2>

		<form action="" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
			<div class="text-center">
			    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp" (change)="onFileChange($event)" multiple="false" id="file_input">
			    <!-- <button type="button" class="btn btn-primary float-right mb-4" ><i class="fas fa-upload"></i>Subir</button> -->
			    <small id="fileHelp" class="form-text text-muted text-left">Si tiene dudas con el archivo de carga masiva, puede descargar el archivo de ejemplo en la parte posterior.</small>
			</div>

			<div class="">
				<table class="table table-sm" *ngIf="data_upload.length !== 0">
				  <thead>
				    <tr>
				      <th scope="col">Fecha de registro</th>
				      <th scope="col">SKU</th>
				      <!-- <th scope="col">Hora de Registro</th> -->
				      <th scope="col">Cantidad</th>
				      <th scope="col">Precio Unit</th>
				      <th scope="col">Total</th>
				      <th scope="col">Id Venta</th>
				      <th scope="col">Canal</th>
				      <th scope="col">Comentarios</th>
				      <th scope="col">¿Con etiqueta?</th>
				      <!-- <th scope="col"></th> -->
				    </tr>
				  </thead>
				  <tbody>
				  	<tr *ngFor="let row of data_upload">
					    <td *ngFor="let val of row">
					      {{val}}
					    </td>
					  </tr>
		  		</tbody>

				</table>
				<div class="text-center" *ngIf="data_upload.length === 0"><h1>No hay registros cargados.</h1></div>
				<button type="button" class="btn btn-success float-left mb-4" (click)="downloadExampleExcel($event)"><i class="fas fa-file-excel" ></i> Archivo Excel de Ejemplo</button>
				<button type="submit" class="btn btn-info float-right mb-4" *ngIf="data_upload.length !== 0"><i class="fas fa-check"></i> Confirmar</button>
				<button type="button" class="btn btn-warning float-right mb-4 mx-2" *ngIf="data_upload.length !== 0" (click)="cleanTable($event)"><i class="fas fa-eraser"></i> Limpiar</button>
			</div>
			
			
		</form>
		</div>
	</div>
</div>