<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">Carga de Ventas Paris</h2>

		<form action="" (ngSubmit)="sendData()" #f="ngForm" ngNativeValidate>
			<div class="text-center">
			    <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp" (change)="onFileChange($event)" multiple="false" id="file_input">
			    <!-- <button type="button" class="btn btn-primary float-right mb-4" ><i class="fas fa-upload"></i>Subir</button> -->
			    <small id="fileHelp" class="form-text text-muted text-left">Si tiene dudas con el archivo de carga masiva, puede descargar el archivo de ejemplo en la parte posterior.</small>
			</div>
			<h4 *ngIf="data_rows.length !== 0">Total de Registros Cargados: {{data_rows.length}}</h4>

			<div class="">
				<table class="table table-sm" *ngIf="data_rows.length !== 0">
				  <thead>
				    <tr>
				      <th scope="col">Fecha de Compra</th>
				      <th scope="col">N° de Ordén</th>
				      <th scope="col">N° de Solicitud</th>
				      <th scope="col">N° de Courier</th>
				      <th scope="col">Fecha de Envío</th>
				      <th scope="col">SKU Paris</th>
				      <th scope="col">Descripción</th>
				      <th scope="col">Solicitado</th>
				      <th scope="col">Precio Costo</th>
				    </tr>
				  </thead>
				  <tbody>
				  	<tr *ngFor="let row of data_rows">
					    <td>{{row.date_sale}}</td>
					    <td>{{row.order_channel}}</td>
					    <td>{{row.request_number}}</td>
					    <td>{{row.tracking_number}}</td>
					    <td>{{row.shipping_date}}</td>
					    <td>{{row.sku}}</td>
					    <td>{{row.description}}</td>
					    <td>{{row.quantity}}</td>
					    <td>{{row.unit_price | number: '1.'}}</td>
					  </tr>
		  		</tbody>

				</table>
				<div class="text-center" *ngIf="data_rows.length === 0"><h1>No hay registros cargados.</h1></div>
				<button type="submit" class="btn btn-info float-right mb-4" *ngIf="data_rows.length !== 0"><i class="fas fa-check"></i> Confirmar</button>
			<!-- 	<button type="button" class="btn btn-success float-right mb-4 mx-2" *ngIf="data_rows.length !== 0" (click)="exportEmmited(event)"><i class="fas fa-file-excel"></i> Descargar Archivo Emitidas</button> -->
				<button type="button" class="btn btn-warning float-right mb-4 mx-2" *ngIf="data_rows.length !== 0" (click)="cleanTable($event)"><i class="fas fa-eraser"></i> Limpiar</button>
			</div>
			
			
		</form>
		</div>
	</div>
</div>