<div class="container-fluid">
	<div class="row image-container">
		<div class="text-center">
			<h1>Bienvenido a </h1>
			<img src="assets/images/Asiamerica.png" alt="" width="280px" height="80px">
		</div>
	</div>
</div>
