<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-auto">
      <form action="" method="post" (ngSubmit)="registerSKU()" #f="ngForm" ngNativeValidate>
        <div class="form-row">
          <div class="col-6"><h1>Registro de SKU</h1>
          </div>
        </div>
        <div class="form-row">
        	<div class="col-11">
        		<label for="exampleFormControlInput1">SKU</label>
        		<input type="text" class="form-control" id="sku" name="sku" placeholder="Ingrese número de SKU" [(ngModel)]="register.sku" required>
        		<label for="exampleFormControlInput1">Descripción del producto</label>
        		<input type="text" class="form-control" id="description" name="description" placeholder="Ingrese descripción del producto" [(ngModel)]="register.description" required>
        		<!-- <input type="number" class="form-control" id="sku" name="user" placeholder="Ingrese número de SKU"> -->
				<label for="inputState">Categoría</label>
			      <select id="inputState" class="form-control" [(ngModel)]="register.category_product_sale" name="category" (ngModelChange)="filterType($event)">
			        <option selected>Seleccione Categoría</option>
			        <option *ngFor="let category of categories" [value] = "category.id">{{category.name}}</option>
			      </select>

			     <label for="inputState2">Tipo</label>
			      <select id="inputState2" class="form-control" [(ngModel)]="register.type_product" name="type" (ngModelChange)="filterType($event)">
			        <option selected value = "Normal">Normal</option>
			        <option value = "Pack">Pack</option>
			      </select>

			      <!-- <select id="inputState2" class="form-control" [(ngModel)]="register.channel" name="type">
			        <option selected value = "1">Mercadolibre</option>
			        <option value = "Pack">Ripley</option>
			        <option value = "Pack">Linio</option>
			      </select> -->

			      <div class="form-group col-3 mx-auto my-3 text-center" *ngIf="register.type_product === 'Pack'">
        			<input type="text" class="form-control mb-3" id="sku_search" name="sku_search" placeholder="Ingrese sku del producto a registrar" [(ngModel)]="sku">

					<button type="button" class="btn btn-success mx-2" (click)="addProduct()">Ingresar</button>
					
				</div>
			      <table class="table table-hover" *ngIf="register.type_product === 'Pack'">
					<!-- {{register | json}} -->
				  <thead>
				    <tr>
				      <th scope="col"><i class="fas fa-qrcode"></i> SKU</th>
				      <th scope="col"><i class="fas fa-font"></i> Descripción</th>
				      <th scope="col"><i class="fas fa-sort-numeric-up"></i> Cantidad</th>
				      <th scope="col"><i class="fas fa-percentage"></i> Porcentaje de precio</th>
				      <th></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let product of register.products;  index as i;">
				      <td scope="row">{{product.sku}}</td>
				      <td>{{product.description}}</td>
				      <td style="max-width: 40px;"><input type="number" min="1" class="form-control" [name]="product.sku"  [(ngModel)]="product.quantity"></td>
				      <td style="max-width: 40px;"><input type="number" min="1" max="100" class="form-control" [name]="product.description" [(ngModel)]="product.percentage_price"></td>
				      <td (click)=removeProduct(i)><button type="button" class="btn btn-danger mx-2">X</button></td>
				    </tr>
				    
				    
				  </tbody>
				</table>
				<div class="d-inline-flex mt-3 w-100" *ngIf="register.type_product === 'Normal'">
				<div class="col-3">
					<label for="exampleFormControlInput1">Alto</label>
        			<input type="text" class="form-control" id="heigth" name="heigth" placeholder="Ingrese alto" [(ngModel)]="register.height" required>
        		</div>
				<div class="col-3">

        		<label for="exampleFormControlInput1">Largo</label>
        		<input type="text" class="form-control" id="length" name="length" placeholder="Ingrese largo" [(ngModel)]="register.length" required>
        		</div>
				<div class="col-3">

        		<label for="exampleFormControlInput1">Ancho</label>
        		<input type="text" class="form-control" id="width" name="width" placeholder="Ingrese ancho" [(ngModel)]="register.width" required>
        		</div>
				<div class="col-3">

        		<label for="exampleFormControlInput1">Peso</label>
        		<input type="text" class="form-control" id="weight" name="weight" placeholder="Ingrese peso" [(ngModel)]="register.weight" required>
        		</div>
				</div>
				<button type="submit" class="btn btn-success btn-lg my-3 float-right" *ngIf="data === undefined">Registrar</button>
				<button type="submit" class="btn btn-info btn-lg my-3 float-right" *ngIf="data !== undefined">Actualizar</button>
				<!--<button type="button" class="btn btn-secondary btn-lg my-3 mx-1 float-right" (click)="location.back()">Volver</button>-->


        	</div>
        </div>
      </form>
        <!-- {{register | json}} -->
    </div>
  </div>
</div>
