<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Panel Preguntas y Respuestas</h2>


		<ul class="nav nav-tabs mt-5">
		  <li class="nav-item">
		    <a class="nav-link pointer" [ngClass]="status == 'pending' ? 'active': ''" (click)="statusQuestion('pending')">Pendientes <strong>{{unanswer === 0 ? "" : "(" + unanswer + ")"}}</strong></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link pointer" [ngClass]="status == 'answered' ? 'active': ''" (click)="statusQuestion('answered')">Respondidas</a>
		  </li>
      <li class="nav-item">
        <a class="nav-link pointer" [ngClass]="status == 'delete_by_mercadolibre' ? 'active': ''" (click)="statusQuestion('delete_by_mercadolibre')">Eliminadas Ml</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer" [ngClass]="status == 'training' ? 'active': ''" (click)="statusQuestion('training')">Entrenamiento</a>
      </li>
		</ul>

		<ngx-datatable
        #myTable
        class="bootstrap mb-3"
        [headerHeight]="50"
        [limit]="10"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
      	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        (page)='setPage($event)'
        [externalPaging]="true"
        [rows]="rows">

        <ngx-datatable-column name="N° Pregunta" prop="id" >
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        
		 <ngx-datatable-column name="Ficha" prop="publication_data.img_first" >
          <ng-template ngx-datatable-cell-template let-value="value">
            <img class="m-1" src="{{value}}" alt="" width="50" height="50">
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Publicación" prop="publication_data.title">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Pregunta" prop="text">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value.length > 90 ? (value | slice:0:90)+'...':(value)}}
          </ng-template>
        </ngx-datatable-column>
            
         <ngx-datatable-column name="Seller" prop="publication_data.seller_nickname">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value }}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Nickname" prop="user_nickname_ml">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value.length > 15 ? (value | slice:0:15)+'...':(value)}}
          </ng-template>
        </ngx-datatable-column>
        <ng-container *ngIf="status == 'answered'">

        <ngx-datatable-column name="Respondida por" prop="answer_question.user_answer">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tiempo de respuesta" prop="answer_question.diference_question_answer">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="¿Compró?" prop="answer_question.user_buy" *ngIf="status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value ? "Si": "No" }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Incidencia" prop="incidence" *ngIf="status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value }}
          </ng-template>
        </ngx-datatable-column>
        </ng-container>

  
        <ngx-datatable-column name="Hace:" prop="date_created" *ngIf="!status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              *ngIf="(status == 'pending')"
              class="mx-2"
              href="javascript:void(0)"
              (click)= "openModal(template,row)"
              >
            <i class="fas fa-comment" ></i></a>

            <a
              class="mx-2"
              *ngIf="(status == 'answered')"
              href="javascript:void(0)"
              (click)= "openModal(template2,row)"
              >
            <i class="fas fa-eye" ></i></a>

            <a
              class="mx-2"
              *ngIf="(status == 'training')"
              href="javascript:void(0)"
              (click)= "openModal(template4,row)"
              >
            <i class="fas fa-plus" ></i></a>

          </ng-template>
        </ngx-datatable-column>

 
      </ngx-datatable>
</div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" >Pregunta #{{row_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <div class="container">
      <div class="row">
        <!-- {{row_selected | json}} -->
        <div class="col-12">
          <h4>{{row_selected.publication_data == null ? "-":row_selected.publication_data.title}}</h4>
          <h6><strong>De:</strong> {{row_selected.user_nickname_ml}}</h6>
          <h5> <i class="fa fa-comment"></i> {{row_selected.text}}</h5>
          <h6><strong>Hace {{row_selected.date_created}}</strong></h6>
          <textarea
              autofocus
              class="form-control"
              [(ngModel)] = "row_selected.answer"
              cols="70"
              rows="4"
              type="text"
            ></textarea>
            <h6 class="text-muted mt-2" *ngIf="row_selected.suggested_answer !== null"> Nota:  Esta respuesta fue generada por la herramienta de automatización.</h6>
            
        
           <button type="button" class="btn btn-success mt-3 ml-2 float-right" (click)="sendAnswer()"><i class="fas fa-share-square"></i> Responder</button>
           <button type="button" class="btn btn-primary mt-3 ml-2 float-right" (click)="openModal2(template3)"><i class="fas fa-share-square"></i> Ficha Técnica</button>
            <button type="button" class="btn btn-danger mt-3 float-right" (click)="modalRef.hide()"><i class="fas fa-share-square"></i> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" >Pregunta #{{row_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <div class="container">
      <div class="row">
        <!-- {{claim_selected | json}} -->
        <div class="col-12">
          <h4>{{row_selected.publication_data == null ? "-":row_selected.publication_data.title}}</h4>
          <h6><strong>De:</strong> {{row_selected.user_nickname_ml}}</h6>
          <h6><strong>Hace:</strong> {{row_selected.date_created}}</h6>
          <h5> <i class="fa fa-comment"></i> {{row_selected.text}}</h5>
          <h6 class="text-muted"> <i class="fa fa-comments ml-4"></i> {{row_selected.answer_question.answer}}</h6>
            <button type="button" class="btn btn-danger mt-1 float-right" (click)="modalRef.hide()"><i class="fas fa-share-square"></i> Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #template3>
  <div class="modal-header header-nested">
    <h4 class="modal-title pull-left">Ficha Técnica del Producto</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">  
  <table class="table table-hover">
          <tbody>
            <tr>
              <td scope="row">Ancho:</td>
              <td>{{row_selected.publication_data.technical_data.width2}}</td>
              <td><a class="mx-2" href="javascript:void(0)" (click)="selectTech(row_selected.publication_data.technical_data.width2, 'Ancho')">
                  <i class="fas fa-check" ></i>
                </a>
              </td>
            </tr>
            <tr>
              <td scope="row">Alto:</td>
              <td>{{row_selected.publication_data.technical_data.height2}}</td>
              <td><a class="mx-2" href="javascript:void(0)" (click)="selectTech(row_selected.publication_data.technical_data.height2, 'Alto')">
                  <i class="fas fa-check" ></i>
                </a>
              </td>
            </tr>
            <tr>
              <td scope="row">Largo:</td>
              <td>{{row_selected.publication_data.technical_data.length2}}</td>
              <td><a class="mx-2" href="javascript:void(0)" (click)="selectTech(row_selected.publication_data.technical_data.length2, 'Largo')">
                  <i class="fas fa-check" ></i>
                </a>
              </td>
            </tr>
            <tr>
              <td scope="row">Peso:</td>
              <td>{{row_selected.publication_data.technical_data.weight2}}</td>
              <td><a class="mx-2" href="javascript:void(0)" (click)="selectTech(row_selected.publication_data.technical_data.weight2, 'Peso')">
                  <i class="fas fa-check" ></i>
                </a>
              </td>
            </tr>
            
          </tbody>
        </table>

  </div>
</ng-template>

<ng-template #template4>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" >Pregunta #{{row_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <div class="container">
      <div class="row">
        <!-- {{answer_data | json}} -->
        <div class="col-12">
          <h4>{{row_selected.publication_data.title}}</h4>
          <h6><strong>De:</strong> {{row_selected.user_nickname_ml}}</h6>
          <h5 (click)="selectKeyWords($event)" id="text_train"> <i class="fa fa-comment"></i> {{row_selected.text}}</h5>
          <h6><strong>Hace {{row_selected.date_created}}</strong></h6>
          <h6><strong>Respuesta dada: </strong>{{row_selected.answer_question.answer}}</h6>
          <h6><strong>Respuesta sugerida: </strong>{{row_selected.suggested_answer}}</h6>
          <button type="button" class="btn btn-sm btn-info mt-3 mx-1 float-left" (click)="openModal2(template5)"><i class="fas fa-share-square"></i> Palabras Claves</button>
          <button type="button" class="btn btn-sm btn-primary mt-3 mx-1 float-left" (click)="openModal2(template6)"><i class="fas fa-share-square"></i> Intención</button>
          <button type="button" class="btn btn-sm btn-warning mt-3 mx-1 float-left" (click)="openModal2(template7)"><i class="fas fa-share-square"></i> Respuesta</button>
          <button type="button" class="btn btn-success mt-3 mx-1 float-right" (click)="sendDataIntention()"><i class="fas fa-share-square"></i> Guardar</button>
          <button type="button" class="btn btn-danger mt-3 mx-1 float-right" (click)="modalRef.hide()"><i class="fas fa-share-square"></i> Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template5>
  <div class="modal-header header-nested">
    <h4 class="modal-title pull-left">Palabras Claves</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">  
  <table class="table table-hover">
    <thead>
      <th>Palabra</th>
      <th> - </th>
    </thead>
          <tbody>
            <ng-container *ngFor="let word of word_splits">
            <tr [ngClass]="training.selected_words.includes(word) ? 'key_word': ''">
              <td>{{word}}</td>
              <td *ngIf="!training.selected_words.includes(word)"><a class="mx-2" href="javascript:void(0)" (click)="appendWord(word)">
                  <i class="fas fa-window-close" ></i>
                </a>
              </td>
              <td *ngIf="training.selected_words.includes(word)"><a class="mx-2" href="javascript:void(0)" (click)="removeWord(word)">
                  <i class="fas fa-check" ></i>
                </a>
              </td>
            </tr>
            </ng-container>
            
          </tbody>
        </table>
  </div>
</ng-template>

<ng-template #template6>
  <div class="modal-header header-nested">
    <h4 class="modal-title pull-left">Intenciones</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">  
    <textarea
              autofocus
              class="form-control"
              [(ngModel)] = "new_intention"
              cols="70"
              rows="2"
              type="text"
     ></textarea>
     <button type="button" class="btn btn-sm btn-primary my-2 float-left" (click)="addNewIntention()"><i class="fas fa-share-square"></i> Añadir</button>


  <table class="table table-hover">
    <thead>
      <th>Intención</th>
      <th> - </th>
    </thead>
          <tbody>
            <ng-container *ngFor="let intention of all_intentions">
            <tr [ngClass]="training.intentions_question.includes(intention) ? 'key_word': ''">
              <td>{{intention}}</td>
              <td *ngIf="!training.intentions_question.includes(intention)"><a class="mx-2" href="javascript:void(0)" (click)="appendIntention(intention)">
                  <i class="fas fa-window-close" ></i>
                </a>
              </td>
              <td *ngIf="training.intentions_question.includes(intention)"><a class="mx-2" href="javascript:void(0)" (click)="removeIntention(intention)">
                  <i class="fas fa-check" ></i>
                </a>
              </td>
            </tr>
            </ng-container>
            
          </tbody>
        </table>
  </div>
</ng-template>

<ng-template #template7>
  <div class="modal-header header-nested">
    <h4 class="modal-title pull-left">Respuestas y Condición.</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <h6> Respuesta Positiva</h6>
    <textarea
              autofocus
              class="form-control"
              [(ngModel)] = "training.positive_answer"
              cols="70"
              rows="2"
              type="text"
     ></textarea>
  <h6> Respuesta Negativa</h6>
     <textarea
              autofocus
              class="form-control"
              [(ngModel)] = "training.negative_answer"
              cols="70"
              rows="2"
              type="text"
     ></textarea>
  <h6> Condición de Respuesta</h6>

     <textarea
              autofocus
              class="form-control"
              [(ngModel)] = "training.condition"
              cols="70"
              rows="2"
              type="text"
     ></textarea>
     <select id="inputState2" class="form-control w-50 mt-2" name="intention_type" [(ngModel)]="training.intention_type">
      <option selected value = "generic">Genérico</option>
      <option value = "exclusive">Exclusivo SKU</option>
    </select>
     <button type="button" class="btn btn-sm btn-primary my-2 float-left" (click)="addNewIntention()"><i class="fas fa-share-square"></i> Añadir</button>

  </div>
</ng-template>