.modal-header{
	background: #212121;
	color: white;
}
.modal-header span {
	color: white;
}
.pointer {
	cursor: pointer;
}

.header-nested{
	background: #524b4beb !important;
}
.key_word{
	background-color: #ffc107b5 !important;
}