<div class="container-fluid">
  <div class="row">
    <!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
    <div class="col-11 offset-1">
      <h2 class="ml-3">Devoluciones</h2>
      <div class="text-center">
        <mat-form-field class="mx-auto w-50">
          <input matInput placeholder="Ingresa id de venta, nro de reclamo, sku de 5 o 7 dígitos" name="search" (keyup)="searchTerm$.next($event.target.value)">
        </mat-form-field><i class="fas fa-search"></i>
      </div>

      <ngx-datatable
        #myTable
        class="bootstrap mb-3"
        [headerHeight]="50"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
      	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [rows]="rows">
        <ngx-datatable-column name="N° de Reclamo" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
		 <ngx-datatable-column name="Fecha Ingreso" prop="admission_date">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
         <ngx-datatable-column name="Referencia">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <strong>{{row.sale == null ? "S/I":(row.sale.order_channel == null ? (row.sale.number_document == null ? "S/I": "Documento: " + row.sale.number_document):"Ordén: " + row.sale.order_channel)}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="N° de Productos" prop="total_products">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre Producto" prop="product_return">
          <ng-template ngx-datatable-cell-template let-data="value[0]">
            {{data.description }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Resolución" prop="technical_report_return.resolution">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? '-':(value | titlecase)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Aviso a cliente o Canal" prop="technical_report_return.client_contact">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? '-':(value | titlecase)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="¿Se retira?" prop="technical_report_return.retired">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? '-':(value | titlecase)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Estado Final" prop="technical_report_return.final_status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value === '' ? '-':(value | titlecase)}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
           <!--  <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "saveData(row)"
              >
            <i class="fas fa-save" ></i></a> -->

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "openModal(template, row)"
              >
            <i class="fas fa-eye" ></i></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Detalle de devolución N° {{return_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  <div style="display: inline-grid;">
      <span class="pull-left"><i class="fas fa-shopping-bag"></i> #{{return_selected.sale == null ? '-': (return_selected.sale.order_channel == null ? '-':(return_selected.sale.order_channel))}} </span>
    <span class="pull-left"><i class="fas fa-truck"></i> #{{return_selected.courier == null ? '-': return_selected.courier.name}}</span>
  </div>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <!-- {{return_selected | json}} -->
        <div class="col-6">
        <h6><i class="fas fa-calendar"></i> Fecha de Ingreso: {{return_selected.admission_date | date: 'dd-MM-yyyy'}}</h6>
        <h6><i class="fas fa-shopping-bag"></i> Estado Empaque: <span class="badge badge-dark" > {{return_selected.status_package | titlecase}}</span></h6>
      <h6><i class="fas fa-tags"></i> Estado Producto: <span class="badge badge-starken"> {{return_selected.status_product | titlecase}}</span></h6>
        <h6><i class="fas fa-shopping-bag"></i> Faltante: <span class="badge badge-dark" > {{return_selected.missing ? 'Si':'No'}}</span></h6>
        </div>
        <div class="col-6">
        <h6><i class="fas fa-cube"></i> Ingreso del producto: {{return_selected.courier == null ? 'Presencial': 'Courier'}}</h6>
      <h6><i class="fas fa-box"></i> Estado Caja: {{return_selected.status_box | titlecase}}</h6>
      <h6><i class="fas fa-tags"></i> Boleta: <span class="badge badge-starken"> {{return_selected.bill_receive ? 'Si':'No'}}</span></h6>
        </div>
        <div class="col-12">
          <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">SKU</th>
              <th scope="col">Descripción</th>
              <th scope="col">Variante</th>
              <th scope="col">SKU 7</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Accesorios</th>
              <th scope="col">-</th>
            </tr> 
          </thead>
          <tbody>
            <tr *ngFor="let product of return_selected.product_return">
              <th>{{product.sku}}</th>
              <td>{{product.description}}</td>
              <td>{{product.variation}}</td>
              <td>{{product.code_seven_digits}}</td>
              <td>{{product.quantity}}</td>
              <td class="pl-3 pt-0">
                <ul class="pl-2 mb-0">
                  <ng-container *ngFor="let item of product.list_accesories.split('\n')"><li style="line-height: 14px; font-size: 13px;">{{item}}</li></ng-container>
                  
                </ul>
              </td>
               <td (click)=reintegrateProduct(product)><button type="button" [disabled]="product.reintegrate"  class="btn btn-primary mx-2">Reintegrar</button></td>
            </tr>
            <!-- <tr>
              <th>12004</th>
              <td>Closet</td>
              <td>2</td>
              <td>Tela</td>
            </tr> -->
          </tbody>
        </table>
        </div>
        <div class="col-7">
          <h6><i class="fas fa-comment"></i> Motivo devolución:</h6>
          <p class="text-left">{{return_selected.client_comment.length > 160 ? return_selected.client_comment.slice(0, 160) + ' ...': return_selected.client_comment}}</p>
          <h6><i class="fas fa-comment"></i> Comentarios:</h6>
          <p class="text-left">{{return_selected.comment.length > 160 ? return_selected.comment.slice(0, 160) + ' ...': return_selected.comment}}</p>
        </div>
       <div class="col-5 d-block text-left">
          <h6><i class="fas fa-tags"></i> Solicitud Cliente: <span class="badge badge-starken"> {{return_selected.client_request | titlecase}}</span></h6>

          <button type="button" class="btn btn-info mx-1 mt-3" (click)="editSale(sale_selected.id)"><i class="fas fa-pencil-alt"></i> Editar</button>
          <button type="button" class="btn btn-danger mx-1 mt-3" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
          <button type="button" class="btn btn-primary mx-1 mt-1" (click)="openModal2(template2)" *ngIf="!return_selected.technical_report_generate"><i class="fas fa-toolbox"></i> Generar Informe Técnico</button>
          <!-- <p class="mt-2" *ngIf="sale_selected.bill"><strong>Nota: </strong>Esta venta posee boleta electrónica.</p>
          <p class="mt-2" *ngIf="sale_selected.return_sale.length > 0"><strong>Devolución (Solicitud Cliente): </strong>{{sale_selected.return_sale[0].client_request | titlecase}}</p> -->

        </div>
        <!-- <div class="col-8 offset-4 text-right" *ngIf="sale_selected.bill">
        </div> -->
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Informe Técnico para Devolución N° {{return_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <!-- <div style="display: inline-grid;">
      <span class="pull-left"><i class="fas fa-shopping-bag"></i> #{{return_selected.sale.order_channel}} </span>
      <span class="pull-left"><i class="fas fa-truck"></i> #{{return_selected.courier == '' ? '-': return_selected.courier.name}}</span>
    </div> -->
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <!-- {{register | json}} -->
      <div class="col-12">
        <h5><strong>Informe del Técnico:</strong></h5>
        <textarea
          autofocus
          class="form-control"
          cols="70"
          rows="3"
          [(ngModel)]="register.technical_report"
          type="text"
        ></textarea>
        <h5><strong>Solución Técnica:</strong></h5>
        <textarea
          autofocus
          class="form-control"
          cols="70"
          rows="3"
          [(ngModel)]="register.technical_solution"
          type="text"
        ></textarea>
      </div>
      <div class="col-3">
        <label for="inputPassword4"><strong>Resolución</strong></label>
        <div class="form-group" id="resolution">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="change" name="resolution" value="cambio" class="custom-control-input" [(ngModel)]="register.resolution">
            <label class="custom-control-label" for="change">Cambio</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="repair" name="resolution" value="reparación" class="custom-control-input" [(ngModel)]="register.resolution">
            <label class="custom-control-label" for="repair">Reparación</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="refund" name="resolution" value="reembolso" class="custom-control-input" [(ngModel)]="register.resolution">
            <label class="custom-control-label" for="refund">Reembolso</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="return" name="resolution" value="devolución" class="custom-control-input" [(ngModel)]="register.resolution">
            <label class="custom-control-label" for="return">Devolución</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="unmanaged" name="resolution" value="sin gestión" class="custom-control-input" [(ngModel)]="register.resolution">
            <label class="custom-control-label" for="unmanaged">Sin gestión</label>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label for="inputPassword4"><strong>Aviso al Cliente o Canal</strong></label>
        <div class="form-group" id="client_contact">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="yes" name="client_contact" value="si" class="custom-control-input" [(ngModel)]="register.client_contact" >
            <label class="custom-control-label" for="yes">Si</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="no" name="client_contact" value="no" class="custom-control-input" [(ngModel)]="register.client_contact">
            <label class="custom-control-label" for="no">No</label>
          </div>
        </div>
      </div>
      <div class="col-5">
        <label for="inputPassword4"><strong>¿Se retira?</strong></label>
        <div class="form-group" id="retired">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="yes2" name="retired" value="si" class="custom-control-input" [(ngModel)]="register.retired">
            <label class="custom-control-label" for="yes2">Si</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="no2" name="retired" value="no" class="custom-control-input" [(ngModel)]="register.retired">
            <label class="custom-control-label" for="no2">No</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="no_apply" name="retired" value="no aplica" class="custom-control-input" [(ngModel)]="register.retired">
            <label class="custom-control-label" for="no_apply">No Aplica</label>
          </div>
        </div>
      </div>
      <!-- <div class="col-7" *ngIf="register.resolution === 'change'">
        <label for="inputPassword4"><strong>Estado producto Cambiado</strong></label>
        <div class="form-group" id="status_product_change">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="in_reaconditinated" name="status_product_change" value="in_reaconditinated" class="custom-control-input" [(ngModel)]="register.status_product_change">
            <label class="custom-control-label" for="in_reaconditinated">Entra Reacondicionado</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="in_as_new" name="status_product_change" value="in_as_new" class="custom-control-input" [(ngModel)]="register.status_product_change">
            <label class="custom-control-label" for="in_as_new">Entra como nuevo</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="in_as_lose" name="status_product_change" value="in_as_lose" class="custom-control-input" [(ngModel)]="register.status_product_change">
            <label class="custom-control-label" for="in_as_lose">Entra como perdida</label>
          </div>
        </div>
      </div> -->
      <div class="col-5">
        <button type="button" class="btn btn-info btn-sm mx-1 mt-3" (click)="generateTechnicalReport()"><i class="fas fa-share-square"></i> Generar</button>
        <button type="button" class="btn btn-danger btn-sm mx-1 mt-3" (click)="modalRef.hide()"><i class="fas fa-times-circle"></i> Cancelar</button>
      </div>
      </div>
    </div>
  </div>
</ng-template>

