<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Listado de Precios</h2>
	      
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku o descripción" name="search">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>
			<ngx-datatable
        #myTable
        class="bootstrap mb-3"
        [headerHeight]="50"
        [limit]="10"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page.totalElements"
        [offset]="page.pageNumber"
        [limit]="page.size"
        (page)='setPage($event)'
        [rows]="rows"
      	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
      	>
        
		 <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Precio Falabella" prop="falabella_price">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
             <span
               title="Double click to edit"
               (click)="editing[rowIndex + '-presential_price'] = true"
               *ngIf="!editing[rowIndex + '-presential_price']">
               {{value | number: '1.'}}
             </span>
             <input
               autofocus
               (blur)="updateValue($event, 'presential_price', rowIndex)"
               *ngIf="editing[rowIndex + '-presential_price']"
               type="number"
               [value]="value"
             />
           </ng-template>
 
         </ngx-datatable-column>

      <ngx-datatable-column name="Fecha inicio" prop="date_start">
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-wholesaler_price'] = true"
              *ngIf="!editing[rowIndex + '-wholesaler_price']">
              {{value ? value : row.date_start_master}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'wholesaler_price', rowIndex)"
              *ngIf="editing[rowIndex+ '-wholesaler_price']"
              type="number"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>
        
        <ngx-datatable-column name="Fecha de fin" prop="date_end">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-mercadolibre_price'] = true"
              *ngIf="!editing[rowIndex + '-mercadolibre_price']">
              {{value ? value : row.date_end_master}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'mercadolibre_price', rowIndex)"
              *ngIf="editing[rowIndex + '-mercadolibre_price']"
              type="number"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>
        <ngx-datatable-column name="Precio oferta" prop="falabella_offer_price">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
           <span
             title="Double click to edit"
             (click)="editing[rowIndex + '-presential_price'] = true"
             *ngIf="!editing[rowIndex + '-presential_price']">
             {{value ? (value | number: '1.') : (row.offer_price | number: '1.')}}
           </span>
           <input
             autofocus
             (blur)="updateValue($event, 'presential_price', rowIndex)"
             *ngIf="editing[rowIndex + '-presential_price']"
             type="number"
             [value]="value"
           />
         </ng-template>

       </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <!-- <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "saveData(row)"
              >
            <i class="fas fa-save" ></i></a>

          </ng-template> -->
        </ngx-datatable-column>
        <ngx-datatable-column name="¿Evento?" prop="event">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{value ? value : "No"}}
          </ng-template>
        </ngx-datatable-column>

 
      </ngx-datatable>
      <button type="button" class="btn btn-success float-right mb-4" (click)="export_excel($event)"><i class="fas fa-file-excel"></i> Exportar excel</button>
    </div>
  </div>
</div>

