<div class="container-fluid">
  <div class="row">
    <div class="col-11 offset-1">
      <h2 class="ml-3 my-3">Inventario Históricos</h2>
      <ngx-datatable #myTable class="bootstrap mb-3" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}" [externalPaging]="true" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)' [rows]="rows">
        <ngx-datatable-column name="Id" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Nombre" prop="name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Usuario" prop="user_data">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha de Inicio" prop="date_stock_break">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == "" ? "-":value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Fecha de Finalización" prop="date_end">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value == "" ? "-":value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" [sortable]="false" [draggable]="false" [canAutoResize]="false">
          <ng-template 
          let-row="row" 
          ngx-datatable-cell-template>
            <a 
            class="mx-2" 
            href="javascript:void(0)" 
            (click)="downloadFile(row.id, row.name)">
              <i class="fas fa-file-pdf"></i>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <button type="button" class="btn btn-primary float-right mb-4" (click)="openModal(template1)"><i class="fas fa-file-excel"></i> Cargar Stock</button>
    </div>
  </div>
</div>
<ng-template #template1>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Carga de Stock</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="" (ngSubmit)="sendData()" autocomplete="off">
            <div class="w-100">
            <h5><strong>Fecha:</strong></h5>
            <input type="text"
               class="form-control text-center w-50"
               [(ngModel)]="date_stock_break"
               #dp="bsDatepicker"
               bsDatepicker
               name="date_stock_break"
               [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
              <h5><strong>Hora:</strong></h5>
              <timepicker [showMeridian]="false" class="50" [(ngModel)] = "hour" name="hour"></timepicker>
            </div>
            <div class="text-center">
              <input type="file" #file_input class="form-control-file" aria-describedby="fileHelp" multiple="false" id="file_input" (change)="onFileChange($event)">
            </div>
            <div >
              <ngx-datatable 
              class='bootstrap mb-3' 
              [rows]='rows2' 
              [columnMode]="'force'" 
              [headerHeight]="80" 
              [footerHeight]="70" 
              [rowHeight]="70" 
              [scrollbarV]="true" 
              *ngIf="rows2.length !== 0">
                <ngx-datatable-column name="SKU" prop="sku">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Desripción" prop="description">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Variante" prop="variation">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Código de 7" prop="code_seven">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Total" prop="total_stock">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Malo" prop="stock_bad">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Con detalle" prop="stock_detail">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <div class="text-center" *ngIf="rows2.length === 0">
                <h1>No hay registros cargados.</h1>
              </div>
              <button type="submit" class="btn btn-info float-right mb-4" ><i class="fas fa-check" (click)="sendData($event)"></i> Confirmar</button>
             <!--  <button type="button" class="btn btn-warning float-right mb-4 mx-2" (click)="cleanTable($event)" *ngIf="rows2.length !== 0"><i class="fas fa-eraser"></i> Limpiar</button> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
