/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.badge-mercadolibre{
	background-color: #fff159;
}
.badge-ripley{
	background-color: #1a1a1a;
	color: white;
}
.badge-paris{
	background-color: #00b0eb;
	color: white;
}
.badge-linio{
	background-color: #f50;
	color: white;
}
.badge-groupon{
	background-color: #53a318;
	color: white;
}
.badge-yapo{
	background-color: #fb7300;
	color: white;
}
.badge-falabella{
	background-color: #abd500;
	color: white;
}
.badge-mercadoshops{
	background-color: #f7323f;
	color: white;
}
.badge-cluboferta{
	background-color: #1f4e96;
	color: white;
}
.badge-presencial{
	background-color: #fff159;
}
.badge-extra_ml{
	background-color: #fff159;
}
.badge-otro_canal{
	background-color: #fff159;
}
.badge-starken{
	background-color: #009e47;
	color: white;
}
.modal-dialog {
	max-width: 770px !important;
}

.ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
  // text-align: center !important;
  vertical-align: middle !important;
}
.text-wrap{
	width: 300px !important;
}
.datatable-row-detail{
	height: auto !important;
}
// .datatable-row-center{
// 	font-weight: bold !important;
// }
.inside-table {
	.datatable-header-cell-wrapper, .datatable-header-cell {
		font-weight: bold !important;
	}
	.datatable-footer{
		display: none !important;
	}
	// border: 3px sold black !important;
}
	.datatable-row-detail{
		width: 80% !important;
	    margin-right: 0 !important;
	    margin-left: auto !important;

	}
.datatable-body-row.datatable-row-even {
	background-color: white !important;
}
#myDetailRow .datatable-row-detail{
	width: 100% !important;
	margin-right: 0 !important;
	    margin-left: auto !important;
}
// .hi{
// 	background-color: red !important
// }

.ngx-datatable.scroll-vertical .datatable-body {
	overflow-y: auto;
	overflow-x: hidden;
}
.ngx-datatable.scroll-vertical {
	height: 75vh;
}
.red-label {
	color:  red !important;
}
.yellow-label {
	color:  #ffc107 !important;
}
.express-label {
	color:  #ffc107 !important;
	font-weight: bold;
}
.multibulto-label {
	color: #3dc4da !important;
	font-weight: bold;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
	color: black !important;
	background-color: #FFF !important; 
}

.ngx-editor-textarea {
	height: 400px !important;
}
.complete {
	color:  #078405 !important;
	// font-weight: bold;
}