<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Listado de SKU</h2>
	      <div class="form-group" id="documento_tributario">
		    <div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="type_sku" id="normal" name="type_sku" value="normal" class="custom-control-input" (ngModelChange)="filterType($event)" checked>
			  <label class="custom-control-label" for="normal">Normal</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
			  <input type="radio" [(ngModel)]="type_sku" id="pack" name="type_sku" value="pack" class="custom-control-input" (ngModelChange)="filterType($event)">
			  <label class="custom-control-label" for="pack">Pack</label>
			</div>
		
      </div>
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku o descripción" name="search" (keyup)="searchTerm$.next($event.target.value)">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>
			<ngx-datatable
			         #myTable
			        class="bootstrap mb-3"
			        [headerHeight]="50"
			        [limit]="50"
			        [columnMode]="'force'"
			        [footerHeight]="50"
			        [rowHeight]="'auto'"
		          	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
		          	[externalPaging]="true"
		            [count]="page.totalElements"
		            [offset]="page.pageNumber"
		            [limit]="page.size"
          			(page)='setPage($event)'
			        [rows]="rows">

      <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <ngx-datatable
           #myTable
          class="bootstrap mb-3 inside-table"
          [headerHeight]="50"
          [limit]="10"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="row.products"
          >
        <ngx-datatable-column name="SKU" prop="sku" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        
        <ngx-datatable-column name="Descripción" prop="description" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad" prop="quantity" [width]="100">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

      </ng-template>
    </ngx-datatable-row-detail>

<ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          *ngIf="type_sku === 'pack'"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-rowIndex="rowIndex" let-expanded="expanded" ngx-datatable-cell-template>
            <a
              href="javascript:void(0)"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand/Collapse Row"
              (click)="toggleExpandRow(row, rowIndex)">
            </a>
          </ng-template>
        </ngx-datatable-column>

		 <ngx-datatable-column name="SKU" prop="sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" prop="description">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Canal" prop="channel_name" [width]="100" *ngIf="type_sku === 'pack'">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Categoría" prop="category_name">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Tipo" prop="type_sku">
          <ng-template ngx-datatable-cell-template let-value="value">
            <h5><span class="badge badge-secondary"><i class="fas fa-cubes"></i> {{value}}</span></h5>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "editSKU(row.sku, row.type_sku)"
              >
            <i class="fas fa-pencil-alt" ></i></a>

            <a
              class="mx-2"
              href="javascript:void(0)"
              *ngIf="row.sku !== 1 && row.sku !== 2 && type_sku !== 'pack'"
              (click)= "openModalColors(template, row)"
              >
            <i class="fas fa-eye" ></i></a>

          </ng-template>
        </ngx-datatable-column>
 
      </ngx-datatable>
      <button type="button" *ngIf="rows.length !== 0" class="btn btn-success float-right mb-4" (click)="export_excel($event)"><i class="fas fa-file-excel"></i> Exportar excel</button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">{{product_selected.description}} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <span class="pull-left"><i class="fas fa-shopping-bag"></i> SKU: {{product_selected.sku}} </span>
  </div>
  <div class="modal-body">
    <ngx-datatable
    #myTable
    class="bootstrap mb-3"
    [headerHeight]="50"
    [limit]="50"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
    [rows]="rows2">

        <ngx-datatable-column name="Código 7 digitos" prop="code_seven_digits">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-code_seven_digits'] = true"
              *ngIf="!editing[rowIndex + '-code_seven_digits']">
              {{value}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'code_seven_digits', rowIndex)"
              *ngIf="editing[rowIndex+ '-code_seven_digits']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Modelo" prop="color_description">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-color_description'] = true"
              *ngIf="!editing[rowIndex + '-color_description']">
              {{value}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'color_description', rowIndex)"
              *ngIf="editing[rowIndex+ '-color_description']"
              type="text"
              [value]="value"
            />
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)="saveColor(row)"
              >
            <i class="fas fa-save" ></i></a>
            
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
          <p class="mt-2"><strong>Nota: </strong>Los códigos de 7 dígitos nuevos son sugeridos, lo puede cambiar si lo desease.</p>
          <button type="button" class="btn btn-info mx-1" (click)="addColor()"><i class="fas fa-plus"></i> Añadir Color</button>

          <button type="button" class="btn btn-danger mx-1" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>

    </div>
</ng-template>

