<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-10">

		<h2 class="ml-3">Distribución de Productos</h2>
			<div class="text-center">
				<mat-form-field class="mx-auto w-50">

            		<input matInput placeholder="Ingresa sku del producto" name="search">
          		</mat-form-field><i class="fas fa-search"></i>
			</div>
			<h2 class="float-right"></h2>
			<table class="table">
				  <thead>
				    <tr>
				      <!-- <th scope="col"></th> -->
				      <!-- <th scope="col">SKU 7 </th> -->
				      <th scope="col"></th>
				      <th scope="col" class="text-center">SKU 5</th>
				      <th scope="col" class="text-center">Color</th>
				      <th scope="col" class="text-center">Asignado</th>
				      <th scope="col" class="text-center">No Asignado</th>
				      <th scope="col" class="text-center"><div class="image-channel"><img src="assets/images/mercadolibre.png" alt="" width="40" height="40"></div> Mercadolibre</th>
				      <th scope="col" class="text-center"><div class="image-channel"><img src="assets/images/ripley.png" alt="" width="40" height="40"></div> Ripley</th>
				      <th scope="col" class="text-center"><div class="image-channel"><img src="assets/images/paris.png" alt="" width="40" height="40"></div> Paris</th>
				      <th scope="col" class="text-center"><div class="image-channel"><img src="assets/images/Linio_logo.svg.png" alt="" width="40" height="40"></div> Linio</th>
				      <th scope="col" class="text-center"><div class="image-channel"><img src="assets/images/groupon.png" alt="" width="40" height="40"></div> Groupon</th>
				      <th scope="col" class="text-center"><div class="image-channel"><img src="assets/images/falabella.png" alt="" width="40" height="40"></div> Falabella</th>
				      <th scope="col" class="text-center"> Otros</th>
				      <th></th>
				      
				    </tr>
				  </thead>
				  <tbody>
				    <ng-container *ngFor="let item of data; let i = index">
					    <tr data-toggle="collapse" [attr.data-target]="'#demo'+ i" aria-expanded="false" class="accordion-toggle" [ngClass] = "{'pointer': item.product_color.length > 0}">
					      <!-- <td ><i class="fas fa-plus"></i></td> -->
					      <!-- <td ></td> -->
					      <td *ngIf="item.product_color.length > 0"><i class="fas fa-plus"></i></td>
					      <td *ngIf="item.product_color.length === 0"></td>
					      <td scope="row" class="text-center">{{item.sku}}</td>
					      <td scope="row" class="text-center">Todos</td>
					      <td class="text-center">{{item.asigned}}</td>
					      <td class="text-center">{{item.not_asigned}}</td>
					      <!-- <td>Todos</td> -->
					      <td class="text-center">{{item.mercadolibre_asigned}}</td>
					      <td class="text-center">{{item.ripley_asigned}}</td>
					      <td class="text-center">{{item.paris_asigned}}</td>
					      <td class="text-center">{{item.linio_asigned}}</td>
					      <td class="text-center">{{item.groupon_asigned}}</td>
					      <td class="text-center">{{item.falabella_asigned}}</td>
					      <td class="text-center">0</td>
					      <td class="text-center"><button class="btn btn-sm btn-info mx-2" (click)="openModal(template, item)"><i class="fas fa-pencil-alt"></i> Editar</button></td>
					    </tr>

					    <tr *ngFor="let sub_item of item.product_color" class="accordian-body collapse hiddenRow"  id="demo{{i}}" role="menu">
					    	<td scope="row"></td>
					    	<td scope="row" class="text-center">{{item.sku}}</td>
						      <td scope="row" class="text-center">Todos</td>
						      <td class="text-center">{{item.asigned}}</td>
						      <td class="text-center">{{item.not_asigned}}</td>
						      <!-- <td>Todos</td> -->
						      <td class="text-center">{{item.mercadolibre_asigned}}</td>
						      <td class="text-center">{{item.ripley_asigned}}</td>
						      <td class="text-center">{{item.paris_asigned}}</td>
						      <td class="text-center">{{item.linio_asigned}}</td>
						      <td class="text-center">{{item.groupon_asigned}}</td>
						      <td class="text-center">{{item.falabella_asigned}}</td>
						      <td class="text-center">0</td>
        				</tr>
					    
				    </ng-container>
				  </tbody>

				</table>
				<!-- <div class="text-center" *ngIf="data.length === 0"><h1>Sin resultados</h1></div>
				<nav aria-label="Page navigation example"  class="pagination" *ngIf="pagination">
				  <ul class="pagination">
					  	<li class="page-item">
					  		<a class="page-link" (click)="changePage(current_page - 1)">Anterior</a>
					  	</li>
					    <li class="page-item" *ngFor="let page of total_pages" (click)="changePage(page)" [ngClass]="{active:current_page === page}">
					    	<a class="page-link">{{page}}</a>
						</li>
					<li class="page-item"><a class="page-link" (click)="changePage(current_page + 1)">Siguiente</a></li>
				  </ul>
				</nav>
				<button type="button" *ngIf="data.length !== 0" class="btn btn-success float-right mb-4"><i class="fas fa-file-excel"></i> Exportar excel</button> -->
	</div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100">Producto N°{{product_selected.sku}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
	<span class="pull-left" >#{{product_selected.sku}}</span>
  </div>
  <div class="modal-body">
  	<div class="container">
  		<div class="row">
  			<div class="col-12">
  				<!-- {{product_selected | json}} -->
  			<h2><i class="fas fa-edit"></i>Asignada: <span class="badge badge-secondary">{{product_selected.mercadolibre_asigned + product_selected.ripley_asigned + product_selected.paris_asigned + product_selected.linio_asigned + product_selected.groupon_asigned + product_selected.falabella_asigned}}</span></h2>
  			
  			<h2><i class="fas fa-credit-card"></i> Sin Asignar: <span class="badge badge-dark" >{{product_selected.stock - (product_selected.mercadolibre_asigned + product_selected.ripley_asigned + product_selected.paris_asigned + product_selected.linio_asigned + product_selected.groupon_asigned + product_selected.falabella_asigned)}}</span></h2>
  			</div>
  			
  				<form action="" class="w-100" #f="ngForm" ngNativeValidate (ngSubmit)="changeAsignation($event)">
  			<div class="col-12 d-flex justify-content-between my-3">
  				<div class="image-channel" style="display: inline-grid;">
  					<img src="assets/images/mercadolibre.png" alt="" width="60" height="60">
  					<input [(ngModel)]="product_selected.mercadolibre_asigned" name="mercadolibre" type="number" class="mx-auto form-control my-3" style="width: 60px; " min="0">
  				</div>
  				<!-- <input type="number"> -->
  				
  				<div class="image-channel" style="display: inline-grid;">
  					<img src="assets/images/ripley.png" alt="" width="60" height="60">
					<input [(ngModel)]="product_selected.ripley_asigned" name="ripley" type="number" style="width: 60px;" class="mx-auto form-control my-3" min="0">
  				</div>

  				<div class="image-channel" style="display: inline-grid;">
  					<img src="assets/images/paris.png" alt="" width="60" height="60">
					<input [(ngModel)]="product_selected.paris_asigned" name="paris" type="number" style="width: 60px; " class="mx-auto form-control my-3" min="0">
  				</div>
  				<div class="image-channel " style="display: inline-grid;">
  					<img src="assets/images/Linio_logo.svg.png" alt="" width="60" height="60">
					<input [(ngModel)]="product_selected.linio_asigned" name="linio" type="number" style="width: 60px; " class="mx-auto form-control my-3" min="0">
					
  				</div>
  				<div class="image-channel" style="display: inline-grid;">
  					<img src="assets/images/groupon.png" alt="" width="60" height="60">
					<input [(ngModel)]="product_selected.groupon_asigned" name="groupon" type="number" style="width: 60px; " class="mx-auto form-control my-3" min="0">
					
  				</div>
  				<div class="image-channel" style="display: inline-grid;">
  					<img src="assets/images/falabella.png" alt="" width="60" height="60">
					<input [(ngModel)]="product_selected.falabella_asigned" name="falabella" type="number" style="width: 60px; " class="mx-auto form-control my-3" min="0">
					
  				</div>

  				<div class="image-channel" style="display: inline-grid;">
  					<img src="assets/images/otro canal.png" alt="" width="60" height="60">
					<input [(ngModel)]="product_selected.falabella_asigned" name="falabella" type="number" style="width: 60px; " class="mx-auto form-control my-3" min="0">
					
  				</div>

  			</div>
  			<div class="col-12 d-block text-center">
  				<button type="button" class="btn btn-info float-left mx-1" (click)="reset($event)"><i class="fas fa-power-off"></i> Reiniciar</button>
  				<button type="button" class="btn btn-info float-left mx-1" (click)="distributionEqual($event)"><i class="fas fa-equals"></i> Distribución Pareja</button>
  				<button type="submit" class="btn btn-info mx-1" ><i class="fas fa-pencil-alt"></i> Enviar</button>
  				<button type="button" class="btn btn-danger mx-1" (click)="modalRef.hide()"><i class="fas fa-window-close"></i> Cerrar</button>
  			</div>
  				</form>

  			
			
  		</div>
  	</div>
  </div>
</ng-template>
