<div class="container-fluid">
	<div class="row">
		<div class ="ml-auto col-11">

		<h2 class="ml-3">{{title}}</h2>
		<!-- {{ register | json}} -->
		<small id="fileHelp" class="form-text text-muted text-left">Frecuencia de Actualización: Intervalo de 3 horas múltiplos de 3 (03:00, 06:00, 09:00, 12:00, 15:00, 18:00, 21:00 y 24:00).</small>
		<form action="" (ngSubmit)="updateRipleySales($event)" #f="ngForm" ngNativeValidate>
			<div class="form-row">
			<div class="col-3 m-2">
			<label for="" class="mx-2 mt-1">Rango de Fechas</label>
				<input type="text"
		           class="form-control text-center"
		           #dp="bsDaterangepicker"
		           autocomplete="off"
		           bsDaterangepicker
		           [(ngModel)]="register.date_to"
		           name="date_to"
		           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
		           [maxDate]="maxDate"
		           [minDate]="minDate"
		           [bsValue]="register.date_to">
			
			</div>
		</div>

		<button type="submit" class="btn btn-info float-right mb-4"  ><i class="fas fa-check"></i> Actualizar </button>
		
		</form>
		</div>
	</div>
</div>
