<div class="container-fluid">
	<div class="row">
		<!-- <div [ngClass] ="!col_12 ? 'col-12 pl-5' : 'ml-auto col-10'"> -->
		<div class="col-11 offset-1">
			<h2 class="ml-3">Reclamos</h2>
	      
			<div class="text-center">
			<mat-form-field class="mx-auto w-50">
        		<input matInput placeholder="Ingresa sku o descripción" name="search">
      		</mat-form-field><i class="fas fa-search"></i>
			</div>
			<ngx-datatable
        #myTable
        class="bootstrap mb-3"
        [headerHeight]="50"
        [limit]="200"
        [columnMode]="'force'"
        [footerHeight]="50"
        [rowHeight]="'auto'"
      	[messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
        [rows]="rows">
        
		 <ngx-datatable-column name="Order de Venta" prop="order_channel">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Referencia" prop="reference">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>

         <ngx-datatable-column name="Asunto" prop="subject">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | titlecase}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Enviado" prop="response">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-response'] = true"
              *ngIf="!editing[rowIndex + '-response']">
              {{value == '' ? '-': value}}
            </span>

            <input
              autofocus
              (blur)="updateValue($event, 'response', rowIndex)"
              *ngIf="editing[rowIndex+ '-response']"
              type="text"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>

      <ngx-datatable-column name="Estado" prop="status">
          
           <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (click)="editing[rowIndex + '-status'] = true"
              *ngIf="!editing[rowIndex + '-status']">
              {{value == '' ? '-': value}}
            </span>
            <input
              autofocus
              (blur)="updateValue($event, 'status', rowIndex)"
              *ngIf="editing[rowIndex+ '-status']"
              type="text"
              [value]="value"
            />
          </ng-template>

        </ngx-datatable-column>
        
        <ngx-datatable-column
          [width]="50"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "saveData(row)"
              >
            <i class="fas fa-save" ></i></a>

            <a
              class="mx-2"
              href="javascript:void(0)"
              (click)= "openModal(template, row)"
              >
            <i class="fas fa-eye" ></i></a>

          </ng-template>
        </ngx-datatable-column>

 
      </ngx-datatable>
      <button type="button" class="btn btn-success float-right mb-4" (click)="createClaim($event, template2)"><i class="fas fa-plus"></i> Agregar</button>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" >Reclamo #{{claim_selected.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <div class="container">
      <div class="row">
        <!-- {{claim_selected | json}} -->
        <div class="col-12">
          <h4><strong>N° de Ordén:</strong> {{claim_selected.order_channel }}</h4>
          <h4><strong>Referencia:</strong> {{claim_selected.reference }}</h4>
          <h4><strong>Asunto:</strong> {{claim_selected.subject }}</h4>
          <h5><strong>Enviado:</strong></h5>
          <textarea
              autofocus
              class="form-control"
              cols="70"
              rows="4"
              [(ngModel)] = "claim_selected.response"
              type="text"
              [value]="claim_selected.response"
            ></textarea>
          <h5 class="mt-3"><strong>Estado:</strong></h5>
            <input
              autofocus
              type="text"
              class="form-control w-50"
              [value]="claim_selected.status"
              [(ngModel)] = "claim_selected.status"
            />
            <button type="button" class="btn btn-info mt-1 float-right" (click)="saveData(claim_selected)"><i class="fas fa-save"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #template2>
  <div class="modal-header d-block">
    <h4 class="modal-title pull-left w-100" >Reclamo Nuevo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline> -->
    <div class="container">
      <div class="row">
        <!-- {{claim_new | json}} -->
        <div class="col-12">
          <h4><strong>N° de Ordén:</strong></h4>
          <input type="text" class="form-control w-50" [(ngModel)] = "claim_new.order_channel" placeholder="Ingrese número de ordén">
          <h4><strong>Referencia:</strong> </h4>
          <input type="text" class="form-control" [(ngModel)] = "claim_new.reference" placeholder="Ingrese referencia">
          <h4><strong>Asunto:</strong> </h4>
          <input type="text" class="form-control" [(ngModel)] = "claim_new.subject" placeholder="Indique asunto">
          <h5><strong>Enviado:</strong></h5>
          <textarea
              autofocus
              class="form-control"
              cols="70"
              rows="4"
              [(ngModel)] = "claim_new.response"
              type="text"
            ></textarea>
          <h5 class="mt-3"><strong>Estado:</strong></h5>
            <input
              autofocus
              type="text"
              class="form-control w-50"
              [(ngModel)] = "claim_new.status"
            />
            <button type="button" class="btn btn-info mt-1 float-right" (click)="saveNewClaim($event)"><i class="fas fa-save"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
