<div class="container-fluid">
  <div class="row">
    <div class="col-11 ml-auto">
        <div class="form-row">
          <div class="col-6 mb-4">
          	<h1>Cuadratura</h1>
          </div>
        </div>
        <div class="form-group" id="documento_tributario">
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="date_filter" id="today" name="date_filter" value="today" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="today">Hoy</label>
		</div>
	    <div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="date_filter" id="yesterday" name="date_filter" value="yesterday" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="yesterday">Ayer</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="date_filter" id="last_7" name="date_filter" value="last_7" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="last_7">Últimos 7 días</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="date_filter" id="last_30" name="date_filter" value="last_30" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="last_30">Últimos 35 días</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
		  <input type="radio" [(ngModel)]="date_filter" id="range" name="date_filter" value="range" class="custom-control-input" (ngModelChange)="filterType($event)">
		  <label class="custom-control-label" for="range">Rango</label>
		<input type="text"
           class="form-control text-center mx-3"
           *ngIf="date_filter === 'range'"
           #dp="bsDaterangepicker"
           autocomplete="off"
           bsDaterangepicker
           [(ngModel)]="date_range"
           (ngModelChange)="filterRange($event)"
           name="date_range"
           [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
           [bsValue]="date_range">
    </div>
      </div>
      <!-- <div class="col-4 mb-4" *ngIf="date_filter === 'range'">
        <label for="" class="mx-2 mt-1">Rango de Fechas</label>
      </div> -->
        
      <ngx-datatable
           #myTable
          class="bootstrap mb-3"
          [headerHeight]="50"
          [limit]="50"
          [columnMode]="'force'"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [messages]="{emptyMessage:'Sin resultados', totalMessage: 'total'}"
          [rows]="rows">
     <ngx-datatable-column name="Fecha" prop="date">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{date_search}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Usuario" prop="user">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="N° Ventas" prop="sales_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="N° Productos" prop="products_number">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value}}
          </ng-template>
        </ngx-datatable-column>
          <ng-container *ngFor="let item of payment_types">
          	<ngx-datatable-column name="{{item.name}}" prop="{{item.prop}}">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number:'':'es'}}
          </ng-template>
        </ngx-datatable-column>
          </ng-container>
        <ngx-datatable-column name="Total" prop="total_sales">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value | number:'':'es'}}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <button *ngIf="rows.length > 0" type="button" class="btn btn-success float-right mb-4" (click)="generateReport($event)"><i class="fas fa-file-excel"></i> Imprimir informe</button>
	</div>
  </div>
</div>